[2019-03-01 15:34] perone opened #2 "Add a method to extract metrics from the TensorBoard files"
In order to compare and do hyper-param optimization later, we need to extract metrics from the TensorBoard file into a JSON or any other textual format.

[2019-03-01 15:35] jcohenadad opened #3 "Optimize data preprocessing before training"
A couple of preprocessing could be done to improve performance of the network. Including:
- Bias field correction

[2019-03-12 16:34] charleygros opened #4 "Normalise / Categorize metadata"
This issue aims at defining:
- which metadata we want to normalize? to categorize?
- if possible, how to normalize? and how to implement it in the existing project?

Note: The following data were extracted from the dataset:
`/data/chper/spineGeneric_results_201902142122`
containing 5100 slices.

### Flip Angle:
- Values: [ 9  15  30  90 120 135 180]
- Mean: 30
- Median: 9
--> We should not normali

[2019-03-12 16:55] jcohenadad opened #5 "update BIDS config file to add MT pulse"
since info is not in dicom, MT pulse on/off could be based on sequence file name: MT1 --> on, MT0 --> off

[2019-03-12 18:48] Valentine-LL opened #6 "ivadomed: command not found and cuda version"
After doing the steps of the "installing" part, I tried to start the training using the ivadomed command: "ivadomed configs/config.json".
I got the following error message in the terminal: "-bash: ivadomed: command not found".
How could I solve it?

[2019-03-13 14:05] jcohenadad opened #7 "Investigate ways to generate synthetic MR data with different contrasts"
Different avenues:
- Use Bloch equation
- For realistic data, we should be able to input real data and modify its contrast by sweeping parameters
- SynMRI (as Gabriel)

[2019-03-25 09:00] #6 closed, assigned to nobody

[2019-03-25 15:10] jcohenadad opened #9 "Add info about data integrity used for training models"
In order to keep track of the data associated with trained model, we need to label data integrity, e.g. using md5, checksum.

Ideally, software that works on OSX + Linux (CentOS7, Ubuntu).

A suggestion would be to add an entry flag inside the `config.json`, pointing to the [SH2](https://osf.io/agp3q/?show=revision)

[2019-04-01 10:19] charleygros opened #10 "Use logger for reporting error or debugging mode"
Use logger for reporting error or debugging mode.

In order to:
- improve error handling (eg parallel execution)
- used within library functions
- avoid cluttering user's stdout/stderr

[2019-04-03 02:04] charleygros opened #11 "Introduce NMR equations in DL architecture"
A first implementation of the introduction of MRI acquisition parameters in the DL architecture: https://github.com/neuropoly/ivado-medical-imaging/pull/8

This approach uses a clustering approach to categorise those parameters (TR, TE, flip angle, etc.).

It would be great to introduce more physic knowledge in this process, to benefit from the interplay between the acquisition parameters. For ins

[2019-04-03 02:05] charleygros opened #12 "Introduce NMR equations in DL architecture"
A first implementation of the introduction of MRI acquisition parameters in the DL architecture: https://github.com/neuropoly/ivado-medical-imaging/pull/8

This approach uses a clustering approach to categorise those parameters (TR, TE, flip angle, etc.).

It would be great to introduce more physic knowledge in this process, to benefit from the interplay between the acquisition parameters. For ins

[2019-04-03 02:19] #4 closed, assigned to nobody

[2019-04-08 13:59] #11 closed, assigned to nobody

[2019-04-08 14:03] jcohenadad opened #14 "Dataset splitting training/validation"
It would be a good idea to try the following strategies for training/validation:
- Full separation of centers
- Mix centers

[2019-04-08 14:20] jcohenadad opened #15 "prepare_data: Change centermass for slicereg to account for possible seg missing (esp. t2s)"
Will require thorough comparison/QC

[2019-04-08 15:26] #15 closed, assigned to jcohenadad

[2019-04-08 17:45] bsauty opened #16 "About the use of Deep Convolutional Generative Adversarial Network for synthetic medical data"
Here are a few things I found related to the use of the generative models to obtain synthetic medical data.

## Bibliography

-  **Synthesis in Multi-Contrast MRI with Conditional Generative Adversarial Networks** (February 2019) : https://ieeexplore.ieee.org/abstract/document/8653423
:arrow_forward:  reports on the use of an adversarial loss function and a GAN architecture for synthesizing one co

[2019-04-10 01:08] jcohenadad opened #17 "prepare_data: Overwriting of temporary file makes it difficult to perform QC"
Because of [this step](https://github.com/neuropoly/ivado-medical-imaging/blob/master/prepare_data/prepare_data.sh#L110), temporary files on which segmentation is created are being overwritten. Consequently, QC is confusing.

Solution: instead of overwriting file, call it differently.

[2019-04-10 01:48] #17 closed, assigned to nobody

[2019-04-16 14:47] jcohenadad opened #18 "prepare_data: Add a function to automatically remove slices if the mean signal in the output segmentation is zero"
Often, the final segmentation (averaged across contrasts) appears in empty slices on the T2star contrast, because the latter was only acquired with 15 slices. So, it would be useful to write up a small function (in Python), that would look at the average signal within each slice, and remove the slice if this average is zero.

[2019-04-18 20:09] alexfoias opened #20 "add documentation how to use TensorBoard"
Currently if one follows the info in the readme cannot configure tensorboard https://github.com/neuropoly/ivado-medical-imaging#tensorboard---validation-metrics.

The installation of tensorboard has to be done manually, after installing ivado-medical-imaging.

[2019-04-19 14:12] #18 closed, assigned to nobody

[2019-04-27 06:22] charleygros opened #21 "spineGeneric dataset: issues"
Please find herebelow issues observed in the dataset `spineGeneric`.

Data folder: `../duke/projects/ivado-medical-imaging/spineGeneric_201907041011/result/`.

Issues will be ticked once resolved.

### Todo -- Version `spineGeneric_201907041011` -- 2019-09-05:

Files with no metadata:
- [x] sub-unf02_T2star.nii.gz
- [x] sub-balgrist02_T2star.nii.gz
- [x] sub-barcelona01_T2star.nii.gz
- [x] sub-ham

[2019-04-27 12:06] charleygros opened #22 "FiLM parameters visualisation"
Tools to represent the FiLM embedding space, to find patterns in the learned FiLM parameters.

For instance:
- plot γ and β values predicted over the validation set
- visualize FiLM parameter vectors(γ,β) for X random validation points with t-SNE

See some examples from the litterature:
### [Perez et al.](https://arxiv.org/pdf/1709.07871.pdf)
![hist_gamma_beta](https://user-images.githubuserconten

[2019-04-30 18:33] Valentine-LL opened #24 "[prepare_data] Implement procedure to remove images after QC"
suggested procedure:
- during [qc2](https://github.com/neuropoly/ivado-medical-imaging/tree/master/prepare_data#copy-files-final-qc), identify images to remove (e.g. bad quality)
- create a file `to_remove.txt` in the spineGeneric_XXX folder (e.g. spineGeneric_201904271322)
- list the file as: site/name_of_file. E.g.: `oxford-fmrib_spineGeneric/sub-07_acq-MTon_MTS.nii.gz`

TODO:
- implement algo t

[2019-04-30 19:08] Valentine-LL opened #25 "[prepare_data] Implement procedure to adjust segmentation after QC #24"
suggestion:
- after final_qc, if you spot issues with the segmentation and/or mis-registration, open fsleyes, load the image (under anat) and segmentation (under derivatives), and manually edit
- then, save with the same file name, and copy under spineGeneric_xx/seg_manual2. E.g.: spineGeneric_201904271322/seg_manual2/sub-01_acq-MToff_MTS_seg-manual.nii.gz

TODO:
- implement algo that looks into s

[2019-05-01 15:30] bsauty opened #26 "[pre-processing] Add a histogram equalization pre-processing step to improve contrast"
Maybe we should explore the possibility to add a kind of "contrast homogenizer" during pre-processing. It has been implemented for brain [MRI segmentation of low-contrast structures](https://www.eecis.udel.edu/~barner/courses/eleg675/papers/Enhancement%20in%20the%20Spatial%20Domain/Adaptive%20Image%20Contrast%20Enhancement.pdf) but could be used more generally to help the network by [regularizing

[2019-05-02 11:53] #14 closed, assigned to nobody

[2019-06-15 15:13] charleygros opened #30 "[experiment] Same contrasts included in training / validation / testing"
Protocol: Do the inference with parameters included in the training (as opposed to asking FILM to extrapolate on new parameter combination). FiLMed-Unet versus Unet.

When posting new results for this experiment, please provide:
- commit ID that you are using
- `config_file.json`
- Tensorflow learning curves (ie training & validation loss)
- evaluation metrics on the testing dataset

[2019-06-21 07:29] charleygros opened #32 "Make gm_challenge_16 dataset BIDS-compatible"
I was formatting the `gm_challenge_16` dataset to be BIDS-compatible.
See on internal path:
`duke/projects/ivado-medical-imaging/gm_challenge_16/`

@jcohenadad, I was wondering:
- Would you like me to take the folder `duke/sct_testing/bids/spineGeneric_multiSubjects/` as example? ie format it in the same way (eg `sub-ucl01`)
- For the segmentation files: Are we keeping the previous organization? i

[2019-06-25 21:15] charleygros opened #34 "plot_cluster_metadata -- No minimum found"
See comment: [comment](https://github.com/neuropoly/ivado-medical-imaging/pull/28#issuecomment-505562057)

We also need to add `matplotlib` as requirement, see [comment](https://github.com/neuropoly/ivado-medical-imaging/pull/28#issuecomment-505458691)

[2019-07-04 11:55] #32 closed, assigned to charleygros

[2019-07-05 12:53] #34 closed, assigned to charleygros

[2019-07-05 12:54] #22 closed, assigned to nobody

[2019-08-30 14:00] #20 closed, assigned to nobody

[2019-09-05 13:41] jcohenadad opened #45 "Revisit performance scores"
The Dice is highly sensitive to the size of the object (e.g., small lesion will highly impact Dice, and potentially be noisy), and the specificity includes voxels of class=0 (to confirm), which brings it to close to 1, which is not informative.

We might want to introduce more representative metrics, such as Hausdorff distance, and only include voxels=1 in the computation of the specificity. Objec

[2019-09-09 20:02] olix86 opened #47 "AttributeError: 'BidsDataset' object has no attribute 'mri_param'"
Line 110, in _in loader.py was probably changed by mistake in the latest PR #44 since the attribute `metadata` of the class `BidsDataset` has not been renamed to `mri_param`, it is still named `metadata`

`   self.mri_param[mri_param_type].append(value)`

[2019-09-09 20:40] olix86 opened #49 "UnboundLocalError: local variable 'sample_metadata' referenced before assignment"
There are 2 separate variables named `film_bool` and `metadata_bool`, and since FiLM needs metadata to work, `film_bool` should be false when there is no metadata, even if `film_layers` are defined in the config file, otherwise this causes a crash.

[2019-09-10 13:39] #49 closed, assigned to nobody

[2019-09-10 13:41] #47 closed, assigned to nobody

[2019-09-12 19:48] olix86 opened #52 "RuntimeWarning: invalid value encountered in double_scalars"
The issue seems to appear every epoch when using FiLM, and less often (only at the first and last epoch?) when FiLM is not used. Probably caused by a NaN value. It happens when calculating the dice score in medical torch (using np.seterr, I get the following) :
[code]

[2019-09-19 00:15] charleygros opened #53 "sct_testing/large: issues"
- [x] 19-09-19: `nibabel.filebasedimages.ImageFileError: Cannot work out file type of "/home/GRAMES.POLYMTL.CA/chgroc/ivado-medical-imaging/../duke/sct_testing/large/derivatives/labels/sub-rennesMS055/anat/sub-rennesMS055_acq-sup_T2star_lesion-manual.nii.gz"`

- [x] 19-09-19: `nibabel.filebasedimages.ImageFileError: Cannot work out file type of "/home/GRAMES.POLYMTL.CA/chgroc/ivado-medical-imaging

[2019-09-30 23:43] #52 closed, assigned to nobody

[2019-10-09 20:59] olix86 opened #57 "Learning rate issue"
It looks like the LR currently only does a single annealing cycle :

![image](https://user-images.githubusercontent.com/5721601/66519682-c5cc6e00-eab5-11e9-98f5-8a6aec724df8.png)

I would have expected the following for cosine annealing :
![image](https://user-images.githubusercontent.com/5721601/66519748-e1377900-eab5-11e9-8dad-6944c45d3752.png)

I'm unsure if we're calling the function correctly

[2019-10-16 04:31] charleygros opened #64 "Improve cropping"
The cropping is currently done using [link](https://github.com/perone/medicaltorch/blob/master/medicaltorch/transforms.py#L129), which performs a cropping around the center of the image with an hard-coded size (see [here](https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L75)).

Two main issues with the current implementation:
- we observed a high class imbalance with

[2019-10-21 19:17] olix86 opened #65 "Duplicate images in sct_testing/large"
While investigating why we had identical metrics on different datasets in #63, I stumbled on the fact that images from different patients seem to be duplicated in sct_testing/large

Steps to reproduce :
`cd /duke/sct_testing/large`

Then the following computes hashes and groups duplicates them together
`find -not -empty -type f -printf "%s\n" | sort -rn | uniq -d | xargs -I{} -n1 find -type f -siz

[2019-10-23 18:08] #53 closed, assigned to alexfoias

[2019-10-23 18:17] alexfoias opened #66 "Fix derivatives with difference bigger than 0.001 in dimension compared with base image"
No | Source | Derivative | Dim_img | Dim_derivative
-- | -- | -- | -- | --
1 | /sub-amuAMU15001/anat/sub-amuAMU15001_T2star.nii.gz | /derivatives/labels/sub-amuAMU15001/anat/sub-amuAMU15001_T2star_seg-manual.nii.gz | (384, 288, 7, 1, 0.46875, 0.46875, 17.5, 1) | (384, 288, 7, 1, 0.46875, 0.46875, 1.0, 1)
2 | /sub-amuAMU15001/anat/sub-amuAMU15001_T2star.nii.gz | /derivatives/labels/sub-amuAMU15001/

[2019-10-24 14:44] jcohenadad opened #67 "Better to use >= rather than == in requirements"
"==" are mostly reserved for releases (not relevant yet). Having ">=" prevents from missing critical library updates.

it is the responsibility of the developer to be up to date with the requirements,

implementing unit tests facilitates the discovery of version-related inconsistencies between local installation code.

[2019-10-24 16:26] #66 closed, assigned to alexfoias

[2019-10-24 20:51] charleygros opened #68 "ID of rater for lesion segmentation is missing in most json files"
### Raters:
- Atef
- Josefina
- Eunice
- Lydia
- Jason
- Russel
- Tobias
- Hori
- Yasuhiko
- Kamiya

Note: Tobias, Russel and Kamiya did not participate to the inter-rater study.

### amu:
- Eunice
- Reviewed by Anne: XX

### bwh:
- Josefina:
[code]
- Reviewed by Anne: XX

### karo:
- Tobias: all
- Reviewed by Anne: XX

### mgh:
- Russel: all

### milan:
- Atef:
[code]
- Eunice:
[code]
- Reviewed

[2019-10-24 21:41] olix86 opened #69 "Pytorch 1.3.0 cuda not detected"
To reproduce :

1. Create venv and install dependencies
2. `python -c 'import torch;print(torch.cuda.is_available())'` gives `False`

~Weird since pytorch doc requires CUDA 9 or above and we have CUDA 10~

Possibly a driver version and not CUDA version issue? `print(torch.cuda.get_device_name(0))
` gives :

The NVIDIA driver on your system is too old (found version 10000).
Please update your GPU d

[2019-10-25 12:53] andreanne-lemay opened #72 "Generalization of ivadomed code for tumor segmentation project"
The code in tumor_segmentation/main.py (https://github.com/neuropoly/ivado-medical-imaging/blob/al/tumor_segmentation_UNet2D/tumor_segmentation/main.py) is essentially the same as ivadomed/main.py (https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py). Ideally both files should be merged to avoid code duplication.

Main issues to consider before merging

1. Split_dataset

[2019-10-28 21:17] #57 closed, assigned to nobody

[2019-10-29 13:06] charleygros opened #75 "Automate hyperparameter optimisation"
We were discussing with @olix86 about hyperparameter optimisation to evaluate our recent new features. Quickly felt overwhelmed by the number of tests that would be needed to be run.

What we discussed:
- Fix a GH commit for all experiments.
- Ask @alexfoias not to add new data during the experiments.
- Save the paths of the subjects used for these experiments.
- Fix a `random_seed`, `dropout`, `b

[2019-11-07 22:09] #72 closed, assigned to jcohenadad, olix86, charleygros

[2019-11-12 04:29] charleygros opened #81 "medicaltorch-neuropoly -- Installation"
We recently decided to create a neuropoly fork of `medicaltorch` in order to implement new features. It will be possibly merged at some point (1+ month?) with the `perone/medicaltorch`.

The question is: what would be the best way to install the fork version in the ivado project? So that we all use the same process.

Could be done manually since it is only temporary / development phase...
Or we co

[2019-11-12 17:26] olix86 opened #83 "Transformations not defined for all configs"
@andreanne-lemay introduced a new way to define transformations in the config file with #71, however not all config files were modified accordingly. It looks like it was done only for `config_sctTesting.json` and `config_tumorSeg.json`. I sometimes like to use spineGeneric `config.json` for sanity checks, so it would be nice to also change to other configs. Should we simply use the same transforma

[2019-11-12 17:55] #81 closed, assigned to nobody

[2019-11-12 21:32] #83 closed, assigned to nobody

[2019-11-13 00:03] #75 closed, assigned to olix86, charleygros

[2019-11-13 22:48] #64 closed, assigned to charleygros

[2019-11-14 00:51] charleygros opened #85 "Propagate MRI params of Eden et al. in json files"
Now that we made a proof-of-concept with FiLM fed with MRI contrast info on lesion dataset. We could investigate the benefit of feeding FiLM with [TE, TR, FA, Manufacturer]. Although we are still limited by the clustering process, I believe it is worth trying.

@alexfoias: Could we ask you some help to propagate the [TE, TR, FA, Manufacturer] info from ggdoc `Neuropoly/projects/ms_mapping/manuscri

[2019-11-14 04:59] charleygros opened #86 "Heterogeneous json files"
We observed different organisation of json files depending on the file in `sct_testing/large`.

Example:
/home/GRAMES.POLYMTL.CA/chgroc/ivado-medical-imaging/../duke/sct_testing/large/sub-lyonOfsep089/anat/sub-lyonOfsep089_T2star.json
[code]

vs.

/home/GRAMES.POLYMTL.CA/chgroc/ivado-medical-imaging/../duke/sct_testing/large/sub-mghCaterina013/anat/sub-mghCaterina013_acq-inf_T2star.json
[code]

@a

[2019-11-14 18:55] olix86 opened #88 "Loader ImageFileError"
I'm having issues with the loader, It's probably related to the latest PR in neuropoly/medicaltorch since I had no issues with perone/medicaltorch...

[code]

[2019-11-19 07:41] charleygros opened #93 "Network size for small image size"
Opening a discussion about the Network size: In cases when we crop around the ROI, the input images are smaller than previously (eg 128x128 --> 64x64 voxels2). Should we reduce the size of the network in those cases (ie do we need to go that deep for such small inputs, does that even make sense)? We could parametrize the size of the Unet by inputting the number of downsampling operations, for exam

[2019-11-19 22:49] charleygros opened #94 "Exclude some subjects / centers from the MS lesion database?"
I am re-opening this discussion that we already had in the last years: Should we exclude some subjects / centers from the MS lesion database.

Reasons:
- poor image quality of some images (e.g. Milan, some subjects of UCSF)
- ground truth of some images looks questionable --> could misguide the segmentation training

Pros:
- training is based on data we are more confident about

Cons:
- in some ex

[2019-11-20 18:24] #88 closed, assigned to charleygros

[2019-11-20 21:00] olix86 opened #97 "SliceFilter not working"
Using the neuropoly/medicaltorch following  #80 I get the exact same number of slices loaded regardless of the value I set in the config :
[code]
gives the same as

[code]

Reading this  [comment](https://github.com/neuropoly/ivado-medical-imaging/pull/79/files#r344694451) suggest it's intended that way?

Either ways it should probably be documented since these new config parameters are not in the

[2019-11-24 04:35] charleygros opened #98 "2.5D CNN for MS lesion segmentation"
2.5D Architecture --> patch extraction performed from three anatomical planes.

Currently, we are only using patches extracted from the axial plane, which is optimal for axial data (e.g. T2-ax, T2star) but really suboptimal for sagital images which have poor image resolution in the axial plane (even after resampling).
--> a 2.5D network designed for our application could be of great interest to mi

[2019-11-27 17:39] olix86 opened #100 "Sampler test failing"
@charleygros

- Looks like there's a missing import for `SliceFilter` in `test_sampler.py`
- How to deal with `testing_data` which is on duke? should we upload (public samples) in the repo?

[2019-11-27 19:48] andreanne-lemay opened #101 "Error in test command since UNet's refactoring"
I am getting the following error when using the command `test` with the new refactoring of UNet in the file models.py :
`AttributeError: 'Unet' object has no attribute 'encoder'`

The command `train` works fine.

[2019-11-27 20:04] #101 closed, assigned to charleygros, AnBucquet

[2019-11-27 20:10] #97 closed, assigned to nobody

[2019-11-28 01:05] #93 closed, assigned to nobody

[2019-11-28 01:06] #85 closed, assigned to alexfoias

[2019-11-28 01:09] charleygros opened #102 "Loader cleaning -- MR metadata"
Consensus about pessimism regarding the "FiLM fed by [TR, TE, FA, Manu]" approach. Consequently, we could clean `loader.py` which would make it easier to maintain...etc.

(I am quite happy to grab the broom and do it, just posting a reminder here :-) )

[2019-11-28 02:22] #102 closed, assigned to charleygros

[2019-11-28 15:27] jcohenadad opened #104 "Organize repos"
- Move documentation to RTD
- Create CONTRIBUTIONS.md file, see e.g. https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst
  - Document testing

[2019-11-29 16:31] AnBucquet opened #105 "First train failed"
I've followed the installation guidelines from the **README.md** and launched a train but I got the following error:

![Screen Shot 2019-11-29 at 11 14 30 AM](https://user-images.githubusercontent.com/32641764/69881601-893e1700-129b-11ea-937d-eaa985549ed5.png)

It seems that the `future` package needs to be add to `requirements.txt`.

[2019-11-29 17:11] #100 closed, assigned to charleygros

[2019-12-02 04:14] charleygros opened #106 "Mask dilated lesion voxels with SC mask"
To improve `DilateGT`, we could use the `roi` image to mask the new (soft) voxels located out of the spinal cord mask.

[2019-12-02 15:49] #105 closed, assigned to olix86, charleygros, AnBucquet

[2019-12-02 15:52] olix86 opened #108 "Incoherent training time"
The base U-Net currently takes ~600 seconds per epoch to train, while FiLMed U-Net takes ~340s. This makes no sense since FiLM adds complexity to the model, thus it should take longer to train (which used to be the case in September)

@AnBucquet as reproduced the issue and has noticed that GPU usage seems to be lower with the base U-Net.

[2019-12-02 20:24] olix86 opened #110 "Loader loading entire dataset in RAM causing excessive RAM usage"
Currently, each instance of ivadomed loads the entire dataset in RAM takes roughly 90GB of RAM, which limits our usage of rosenberg since it means all users combined can only use a maximum of 5 GPUs. A refactoring of the loader (and medicaltorch?) would be required to remove this bottleneck.

[2019-12-05 13:31] #108 closed, assigned to charleygros

[2019-12-05 13:31] #110 closed, assigned to charleygros

[2019-12-06 12:19] charleygros opened #119 "Wrong ['input_metadata']['gt_filename']"
When printing `batch['input_metadata']['gt_filename']` in the training / testing loop, it displays the filename of the SC GT while I target the lesions.

[2019-12-09 15:12] #119 closed, assigned to charleygros

[2019-12-10 15:35] #104 closed, assigned to nobody

[2019-12-17 18:45] olix86 opened #125 "Tensorboard not logging subject ID with corresponding sample image"
It would be nice to log the subject ID or image filename alongside the images in tensorboard, that way if something goes wrong or looks strange, we would be able to investigate directly that subject.

[2019-12-18 06:28] charleygros commented on #45
Not sure what we meant here:

Can someone help me to remember?

[2019-12-20 17:03] AnBucquet opened #127 "Travis Integration"
As mentioned during the last meeting, it has been decided to use [Travis CI](https://travis-ci.org/) instead of Github actions.

I guess that the integration of [ReadTheDocs](https://readthedocs.org/) can be done at the same time?

[2019-12-20 17:05] jcohenadad commented on #127
i would do 2 separate PRs

[2020-01-07 20:28] #45 closed

[2020-01-07 20:34] AnBucquet opened #129 "Adaptative Loader"
To reproduce the **Pseudo-Curriculum Training Procedure** from the [HeMIS paper](https://arxiv.org/pdf/1607.05194.pdf), we need a loader that can change its distribution across time. To do so, I came up with the idea of adding a `Dataframe` in the `Dataset` class. (see example below)

**Why**
- Dataframes are easy to manipulate and perfectly supported by the **loader** of **Pytorch**.
- No need to

[2020-01-08 05:23] charleygros commented on #129
Love really love your ideas @AnBucquet !

As said during meeting:
- start by implementing the new loader within ivadomed repo'. If too much duplication with medicaltorch, then we will consider of moving it there.
- use HDF5 file instead of `files can be loaded/ partially-loaded (later) into RAM or read "on the fly"
`

[2020-01-16 17:08] #127 closed

[2020-01-17 14:37] AnBucquet commented on #129
About the use of HDF5 file:

I'm currently working on a function to generate an HDF5 file from a Bids dataset (SpineGeneric in my case). After discussing with @charleygros, we agree to use the following architecture in the HDF5 file:
![Screen Shot 2020-01-16 at 4 06 56 PM](https://user-images.githubusercontent.com/32641764/72563129-fec96b00-387a-11ea-9cee-9a978539a45c.png)
The idea is to create a

[2020-01-17 14:53] jcohenadad commented on #129
looks good! could you detail what would be in each of the metadata block?

[2020-01-17 15:09] AnBucquet commented on #129
Yes! I'm currently working on that. I will keep you informed!

[2020-01-20 16:06] AnBucquet commented on #129
About the metadata block, I've started listing metadata in each block:

- HDF5 block:
  - list of patients

- Group block (Patient):
  - Different modalities
  - Useful slices (i.e. slices with GT)

- Sub-GROUP (inputs, gt, roi):
  - datasets inside (i.e.: different modailities, gt, ...)

- Dataset (MRI and labels):
  - all parameters in JSON file (_FlipAngle_, _TE_, _TR_, ... )

**This list is no

[2020-02-04 07:12] charleygros opened #135 "Post-processing"
A key feature that we are currently missing is post-processing pipeline.

Some tools could be implemented and integrated in our testing pipeline:
- basic image processing to remove false positive ?
- basic image processing to fill holes ?
- lesion filtering based on uncertainty measures ?
- segmentation adjustment with CRF postprocessing fed with uncertainty measures and soft segmentations

[2020-02-04 07:14] charleygros opened #136 "undo_transform of Affine and Elastic transformations"
To use the aleatoric uncertainty, we need to implement some new "undo_transform", such as for the `Affine` and the `Elastic` transformations.

[2020-02-04 15:05] jcohenadad commented on #135
Excellent point, which we should probably discuss during our meeting today

[2020-02-04 21:13] jcohenadad opened #137 "Broken contribution.rst"
https://github.com/neuropoly/ivado-medical-imaging/blob/master/CONTRIBUTING.rst

[2020-02-05 14:34] #137 closed

[2020-02-06 17:15] olix86 opened #139 "Pypi package"
It would be neat to have releases published as pypi packages, and it's easy to do it automatically using github actions. We're currently blocked by the fact that direct dependencies (aka on a github URL) are not allowed, which is what we have for our custom version of `medicaltorch`

[2020-02-14 21:16] AnBucquet opened #142 "prepare_data.sh not compatible with current version of sct."
In `prepare_data.sh`, we're using an old version of sct (cf line [72](
https://github.com/neuropoly/ivado-medical-imaging/blob/master/prepare_data/prepare_data.sh#L72)):

`sct_crop_image -i ${file_t1w_mts}.nii.gz -o ${file_t1w_mts}_crop.nii.gz -start 3 -end -3 -dim 2`

**returns**

`sct_crop_image: error: unrecognized arguments: -start 3 -end -3 -dim 2`

[2020-02-18 05:13] charleygros commented on #136
Scaling, shear and elastic transforms are difficult to undo. Then we will only implement Rotation and Translation undo transforms for now.

[2020-02-24 15:00] AnBucquet commented on #142
Fixed by #143.

[2020-02-24 15:00] #142 closed

[2020-02-27 21:15] charleygros opened #148 "Uncertainty IoU & CV: Invalid value encountered in value_scalars"
How to reproduce:
- Run `cmd_test` with uncertainty active

See:
![image(1)](https://user-images.githubusercontent.com/14353425/75487336-60e0c880-5a02-11ea-808e-ebb1b017cb2b.png)

[2020-02-27 23:31] #136 closed

[2020-03-02 19:19] AnBucquet opened #149 "prepdata remove-slice produces wrong output"
With commit db76511029dd300d1e3e3987b75cc903ebf614a1, when running `prepdata remove-slice`, the output image and segmentation are corrupted.

To reproduce:
data (internal): duke:projects/ivado-medical-imaging/issues/26_data_float.zip
[code]

Notice the reduction in image size (i.e. gets corrupted)

[2020-03-02 19:23] AnBucquet opened #150 "prepdata remove-slice is input-type dependent"
Behaviour reported in #26 changes when the input image has a type uint8. To reproduce:
use data from #26, and change type using:
[code]
Then run:
[code]

[2020-03-02 21:12] AnBucquet commented on #150
[Update]
while running [prepdata](https://github.com/neuropoly/ivado-medical-imaging/blob/master/prepare_data/prepdata/main.py) with some prints ([Line 24](https://github.com/neuropoly/ivado-medical-imaging/blob/master/prepare_data/prepdata/main.py#L24-L33))

[code]
we get:

[code]

It seems that changing the type of the image leads to a rounding error in the first slice which is not empty anymore

[2020-03-03 00:30] charleygros opened #152 "Voxel-wise painting of TP, FP, FN"
In addition to object-wise painting, it would be great to perform a voxel-wise painting of TP, FP, FN.

See [comment](https://github.com/neuropoly/ivado-medical-imaging/pull/146#pullrequestreview-367595435).

[2020-03-03 15:24] jcohenadad commented on #150
hum... to me that doesn't seem like a rounding error (converting float(0) to int type should give 0). So maybe there is a problem in the type conversion function. Could you look into it? Thanks!

[2020-03-03 17:09] AnBucquet commented on #150
Actually converting float(0) to int type is not necessarily equal to 0. Indeed when we change the type of a  float64 image to int8, Nibabel is doing its best to capture the data with 8 bits of precision. If 0 is the minimum value of the image, then it should be replaced by -128.
In our case, there is some kind of error (~+10) as we can see in the figure below but the logic seems correct.

Results

[2020-03-08 22:35] charleygros opened #154 "Create a function to perform a one-subject segmentation"
Create a function to perform a one-subject segmentation.

The function would have the following inputs: (i) path to image, (ii) path to save the segmentation, (iii) path to trained model. This function could potentially call a function that deals with numpy arrays and actually performs the segmentation.

[2020-03-09 18:54] jcohenadad commented on #154
i would leave the image parsing/io to the CLI function, and have the ivadomed package take image objects as inputs, and send back an image object. That way we can clearly separate the ivadomed library from SCT's CLI (which is what we have been trying to converge to).

regarding training, i understand this becomes more complicated, so we could definitely create a CLI wrapper inside the ivadomed lib

[2020-03-09 21:30] charleygros commented on #154
Sounds good.

The thing is our loader receives a list of image bids_paths as input. Will try to see how we can work around this.

[2020-03-09 21:32] jcohenadad commented on #154
hum, i see... would it be possible to call the loader from the CLI, and then pass the image object to the function that does the inference? (pardon my ignorance-- i should spend some time studying the code ;-) )

[2020-03-09 21:41] charleygros commented on #154
Mmm that could be a solution:
1. Call the loader from the CLI
2. Stack the slices
3. call the `ivadomed.utils.segment_volume` function
4. Undo the transforms on the segmented slices within the CLI

[2020-03-09 21:45] charleygros commented on #154
To anticipate Uncertainty things --> we will loop across steps # (1, 2, 3, 4) to collect the MC samples --> generate soft segmentation, uncertainty measures etc.

[2020-03-09 22:32] jcohenadad commented on #154
i anticipate some issues with that. We should probably have the function output the segmentation in the same physical space as the input image, no?

[2020-03-09 23:30] charleygros commented on #154
The do_transforms are perform during step 1 & 2, out of the function --> That's why it made more sense to me to perform the undo_transforms after the segment_function, so that the function output the segmentation in the same physical space as the input data.

[2020-03-10 01:20] jcohenadad commented on #154
ah! i see. So if I understand correctly it would look like this:

**CLI:**
[code]

**ivadomed.utils.segment_volume:**
[code]

[2020-03-10 01:25] charleygros commented on #154
This could work! I had in mind something slightly different:

### CLI:

dataset = ivadomed.loader.load([file_name])
dataset_transfo = ivadomed.transforms.do(dataset)
dataset_seg = ivadomed.utils.segment_volume(dataset_transfo)
seg_object = ivadomed.transforms.undo(dataset_seg)

[2020-03-10 01:30] jcohenadad commented on #154
We should try to converge towards a Python library, where the CLI is only there to provide an "interface" with the user, meaning: it should only pass file names and the backend (i.e., python's library) does the rest. That way, we can easily replace the CLI script with, let's say, a GUI.

That being said, I'm not 100% confident so let's discuss it during tomorrow's SCT meeting (could you pls add it

[2020-03-10 01:42] charleygros commented on #154
Sorry, I certainly misunderstood this [message](https://github.com/neuropoly/ivado-medical-imaging/issues/154#issuecomment-596790244).

In that case, it could be as simple as this:
**CLI**
[code]
`seg_im_object` being a numpy array in the same orientation and resolution than `Image(image_fname)`. But we could also return a nifti_fname --> to discuss.

**ivadomed.utils.segment_volume:**
[code]

[2020-03-12 14:35] jcohenadad opened #156 "Set a convention for docstrings"
I suggest either the [Google Python style](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/index.html#google-vs-numpy) or the [sphinx convention](https://sphinx-rtd-tutorial.readthedocs.io/en/latest/docstrings.html#the-sphinx-docstring-format)

Also see [PEP257 docstring convention](https://www.python.org/dev/peps/pep-0257/).

Once we agree on a convention, we should update: https://github

[2020-03-12 22:06] charleygros commented on #156
I do have a slight preference for the Google Python style.

[2020-03-16 15:17] jcohenadad opened #159 "Refactoring main.py"
While reviewing https://github.com/neuropoly/ivado-medical-imaging/pull/155, I was trying to get a sense of what is done in `ivadomed/main.py`, and it was difficult to read this long (>900 lines) file.

The file seems to include a lot of sequential actions, and I believe it should be possible to move some actions outside of main to improve the readability.

The code is documented in a step-by-step

[2020-03-16 16:21] jcohenadad commented on #159
we can use this box to list a few suggestions for changes:
- https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L1: a context about what this file is about would be welcome
- https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L26: this convention only works for particular orientations (e.g. wrong for AIL), so it needs to be written somewher

[2020-03-17 17:32] jcohenadad opened #161 "Remove data from repository and remove fat from history"
As of b10d23cd24345ae0a7606f11a786ba14727c224d, binaries totalizing ~15MB are present here: `testing_data`. We need to move these binaries somewhere else (github release, which is not tracked, or OSF) and remove these from the github history (unfortunately we will loose some PR history by doing that).

[2020-03-19 05:41] #154 closed

[2020-03-20 20:12] jcohenadad opened #163 "Silence CPU mode upon import of segment_volume()"
Upon import of `segment_volume()`, I get the following warning:
[code]

Anticipating the call from external library (https://github.com/neuropoly/spinalcordtoolbox/pull/2639) where CPU mode is assumed, it would  be nice to silence this warning.

[2020-03-20 21:02] jcohenadad opened #164 "FileNotFoundError: [Errno 2] No such file or directory: 'config/contrast_dct.json'"
When importing ivadomed (782156156419c86505628e2cebf41c50cbb4e372) from the Terminal, everything goes well. However, when trying to import from IDE Pycharm, I get the following error:

[code]

[2020-03-20 21:05] jcohenadad commented on #164
Insight: when importing outside of ivadomed's directory, the error comes up (even from the Terminal). So there is probably a hard-coded path somewhere...

[2020-03-20 21:07] jcohenadad commented on #164
yup! here's the problem:
https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/loader.py#L21

[2020-03-20 21:27] jcohenadad opened #166 "segment_volume(): couldn't fname_model and fname_model_metadata be merged?"
Training of a model does require a json metadata file. Which means: one model necessarily has a json file associated with it.

The function `utils.segment_volume()` does as for two separate arguments: `fname_model` and `fname_model_metadata`, which is source of confusion and error. Why not packaging a model with its associated json file within a single folder, so callers can simply point to the fo

[2020-03-21 01:46] jcohenadad opened #167 "Indicate origin of the dataset in json file"
Currently the origin of the dataset is indicated in the json file as:
[code]

given that sct_testing/large constantly evolves, it would be important to create some hashtag of a dataset to make sure we can fully reproduce a model as time passes.

one obvious thing to do, once spine-generic will be be completely on openneuro, is to add a "release" tag to the json file (or something like that). Regar

[2020-03-21 02:33] jcohenadad opened #168 "Strange results with latest t2s model"
Using ivadomed (d3bf0d6a87e368c7ee9984e092c41bd445081dba), trying `segment_volume()` on `sct_testing_data/t2s/t2s.nii.gz`, i get the following results:

![anim](https://user-images.githubusercontent.com/2482071/77217700-c5bbaa00-6afa-11ea-8cae-4677863c4fef.gif)

[2020-03-22 07:43] charleygros commented on #163
I am surprised by the `caffe2`!
Where you running this within a virtual env?

[2020-03-22 10:06] charleygros commented on #167
To address the reproducibility question --> the current solution is to save the training/validation/testing distribution within a `joblib` file for each training: [here](https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L130).

[2020-03-22 10:28] charleygros commented on #168
It works okay on `sct_example_data/t2s/t2s.nii.gz` but I just realised you tested it on `sct_testing_data` --> Will try this.
It is likely to be because of the small image size in the axial plane.

[2020-03-22 10:34] charleygros commented on #168
I am able to reproduce :+1:

Same results with or without the ROI.

Likely to be due to the padding / resampling. Will investigate this!

[2020-03-22 13:07] jcohenadad commented on #163
Yes, a miniconda py3.6 venv (the SCT one)

[2020-03-22 19:50] jcohenadad commented on #167
that sounds like an awesome idea! however we should also indicate the source of the dataset with a version tag, to avoid the following scenario:
Someone downloads dataset X with version N. He trains dataset X, obtains a model. A joblib file is created and associated with the model. 6 months later, someone else downloads the same dataset X, version N+1. He trains using the joblib file shipped with

[2020-03-22 20:32] #164 closed

[2020-03-22 21:43] charleygros commented on #167
Sounds great, excellent.
I am only unsure about one point: Should it be done by the dataset versioning solution (eg OpenNeuro / DataLad)? This info (source & tag of the dataset) will then be captured by ivadomed and saved with the model metadata?

[2020-03-22 21:46] jcohenadad commented on #167
Yes, this is the best solution I can think of.

[2020-03-22 21:48] charleygros commented on #163
I am not sure how / why `caffe2` is installed.
Looks like a similar issue [here](https://discuss.pytorch.org/t/recommended-way-to-use-both-pytorch-and-caffe2-in-a-project/20669).

[2020-03-23 21:05] olix86 opened #171 "Circular import"
import chain is circular: `main -> loader -> utils -> main`
[code]

[2020-03-23 22:35] #166 closed

[2020-03-24 00:03] charleygros commented on #168
By doing some plot just after the model prediction --> everything works as expected --> which means that the issue is later in the process. Padding, resampling seem to work well.

![01](https://user-images.githubusercontent.com/14353425/77374556-1ebb6480-6dbf-11ea-91ee-4be32c98279c.png)

[2020-03-24 00:21] charleygros commented on #168
While after the `undo_transforms` we get:
![01](https://user-images.githubusercontent.com/14353425/77375439-91c5da80-6dc1-11ea-8730-b0ad4cf1f4bd.png)

I will break then down to identify the one which causes the issue.

[2020-03-24 02:58] #171 closed

[2020-03-24 10:51] #168 closed

[2020-03-24 15:26] olix86 commented on #163
`caffe2` was merged in pytorch ~a year ago, not sure if this is still applicable but it used to be the solution :

https://stackoverflow.com/questions/29788075/setting-glog-minloglevel-1-to-prevent-output-in-shell-from-caffe

`os.environ['GLOG_minloglevel'] = '3' `

(before the `import`)

[2020-03-28 02:00] olix86 opened #175 "Travis tests not running"
Unless I'm missing something huge, it looks like Travis tests are not working since +2 months. For some reason the `pytest` command ends up on the same like as the `echo` on the line before, so `pytest` is simply echoed and not executed.

Current situation :
![image](https://user-images.githubusercontent.com/5721601/77812170-ebeec600-7075-11ea-82e6-7bc248c4d5d6.png)

Latest commit @AnBucquet on th

[2020-03-28 06:31] charleygros opened #176 "Add slice-wise uncertainty for SC segmentation"
At the moment we have the two following uncertainties:
- voxel-wise uncertainty
- object-wise uncertainty, mainly used for multiple sparse objects such as lesions

What about introducing a slice-wise uncertainty measure (ie how much the model is certain about the segmentation of a given 2D slice)?
Can you see any relevant application to this feature? e.g. `sct.qc` could highlight the more uncertai

[2020-03-28 20:42] jcohenadad commented on #176
hum, i can't see any obvious use of such a feature for now. If users ask for it, that would be a good motivation :-)

[2020-03-30 22:43] jcohenadad opened #177 "segment_volume: fname_roi parameter is obscure"
in commit 6bc50021eefe454db0b953fe67cb6f047ebeb2e7, the docstrings says:

[code]
Reading this, I assumed that fname_roi is a centerline, around which a 2D square matrix is estimated slice by slice, centered on the center of mass of the provided centerline, and this square matrix is used as input for the segmentation.

Later, this line (https://github.com/neuropoly/ivado-medical-imaging/blob/master

[2020-03-30 23:44] charleygros commented on #177
It actually does both: (1) for the slices when centerline is available --> it crop around it (2) otherwise, the slice is not included in the segmentation process (--> output zeros-like slice).

Potential applications:
(i) image containing brain section --> centerline stops at the PMJ
(ii) lesion segmentation only on slices where the SC has been detected

So, this file is essentially used to define

[2020-03-31 14:39] jcohenadad commented on #177
(i) image containing brain section --> centerline stops at the PMJ
(ii) lesion segmentation only on slices where the SC has been detected

I guess (iii) cropping around the centerline is another one

I would be tempted to suggest renaming the variable fname_centerline, because this file is effectively a centerline, right?  The fact that we ignore slices where the centerline is not defined is a cor

[2020-03-31 17:01] andreanne-lemay opened #179 "Imports or reference missing"
In main:
-AXIS_DCT (should be utils.AXIS_DCT)
(https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L7270)
(https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L764)
(https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L789)
-torch.nn (https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L

[2020-03-31 17:05] olix86 commented on #179
- [x] `main`
- [ ] `testing/`

[2020-03-31 18:07] #179 closed

[2020-03-31 20:34] charleygros commented on #177
Oh yes of course, I was not clear: I was referring to the IS slice removal. But yes.

I would prefer to keep `roi` over `centerline` --> `centerline` mainly relates to the SC, while `ivadomed` could be used for other organs, for instance:
- brain data --> `fname_roi=skull_mask.nii.gz` --> it will remove the top and bottom slices + crop axial slices of interest with a given size around the skull.
-

[2020-03-31 21:39] jcohenadad commented on #177
alternatively: fname_centreroi

[2020-04-01 03:07] jcohenadad commented on #177
It was decided to keep the variable name as it is but clarify the docstring

[2020-04-01 21:53] #177 closed

[2020-04-02 15:47] jcohenadad opened #182 "Add information about the model"
It would be nice to incorporate relevant information in a model package. Info such as:
- number of images
- number of centers (we can get that info from BIDS i suppose)
- long description.

I believe the first two items are "known after the facts", i.e., after the loader is run. So I see two options here:
1) we update the json file while training is ongoing.
2) we output a log file, and this log f

[2020-04-02 22:27] charleygros commented on #182
Option 1 seems quite easy to implement, especially since we have direct access to these info during the training.
The long description could be added afterwards manually.

[2020-04-02 23:58] charleygros opened #183 "Inconsistency between: Dice score and Dice loss"
We often observe inconsistency between the Validation Dice loss during training and the Dice score on the testing set.
This inconsistency is mainly visible on the MS lesion dataset.

A very probable reason is the different way these two functions are dealing with empty GT and empty pred.
--> Dice loss returns 1 (thanks of the `smooth` param): https://github.com/neuropoly/ivado-medical-imaging/blob

[2020-04-04 02:15] jcohenadad commented on #182
@kousu is that considered good practice to edit a config file (used as input) during a process or should we separate into 2 physical files: input config and output of process.

[2020-04-08 01:23] charleygros opened #187 "Add test function for segment_volume()"
Add a test function for `segment_volume()`.

[2020-04-09 05:06] charleygros opened #189 "Parametrize Transfer Learning"
At the moment, we freeze the entire model but the last conv to retrain a model.
It would be good to parametrize the amount of conv layer we want to freeze during the retrain (eg last conv only? the entire decoder? etc.).

[2020-04-09 05:16] charleygros opened #190 "Move "lesion filtering using uncertainty" from dev/ to main/"
Follow up with #151

Todo:
- implement the filtering within the `cmd_test`.
- move `remove_small_lesion` in a post-processing module prior to the evaluation, see [here](https://github.com/neuropoly/ivado-medical-imaging/pull/146#discussion_r386726952)

[2020-04-09 22:14] jcohenadad opened #192 "json file uses both tab and space for indentation"
Example:
[t2star_sc.json.zip](https://github.com/neuropoly/ivado-medical-imaging/files/4458884/t2star_sc.json.zip) l41 vs. l42.

I suggest we go with the two-space convention.

[2020-04-09 22:27] jcohenadad opened #193 "Adding field "threshold" in json model file"
Will be model-specific, to be used during inference for automatic binarization of the output segmentation. Default value could be 0.5. Then, following extensive optimization, we will adjust the value for each model.

Example of updated json file with added threshold field:
[t2star_sc.json.zip](https://github.com/neuropoly/ivado-medical-imaging/files/4458925/t2star_sc.json.zip)

[2020-04-12 01:27] jcohenadad opened #194 "Long imports"
Using 9a8ec94b02cb57a27addd6d777ed0f13fa1233db, I noticed the following long imports:

https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/utils.py#L5
--> Maybe we could restrict this import to the debug mode?

https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/utils.py#L17
--> Which is caused by these long imports:
- https://github.com/neuropoly/ivado-medi

[2020-04-13 15:28] jcohenadad opened #195 "Missing file when installing ivadomed via pip"
When attempting to install ivadomed pointing to a specific branch in the [requirements.txt](https://github.com/neuropoly/spinalcordtoolbox/pull/2639/commits/4c4a5f6d8a0866614809c64b24d1f882a2501910), I bumped into the following error message:
[code]

<details><summary>Full output</summary>

[code]

</details>

[2020-04-13 15:36] jcohenadad opened #196 "Problem of linking files to ivadomed package"
When [installing ivadomed via pip](https://github.com/neuropoly/spinalcordtoolbox/pull/2639/commits/4c4a5f6d8a0866614809c64b24d1f882a2501910), the following error message appears while trying to import `ivadomed.utils` package:

[code]

This is due to the way files that are part of the ivadomed are accessed: when using ivadomed locally from the git installation, it works, however when installing i

[2020-04-13 19:55] jcohenadad commented on #196
Those config files should be packaged as described [here](https://python-packaging.readthedocs.io/en/latest/non-code-files.html).

[2020-04-13 20:43] andreanne-lemay opened #198 "Integration of medicaltorch in ivadomed"
Since the fork neuropoly/medicaltorch is starting to differ a lot from the original medicaltorch repository, the fork will be integrated to the ivado-medical-imaging repository. This will centralize the code and avoid to make changes to 2 different repositories.

Different steps for the medicaltorch integration:
- [x] Merge metrics (dice, recall, specificity, etc.)
- [x] Integrate filters
- [ ] Me

[2020-04-13 20:46] jcohenadad commented on #198
👍 anything that could reduce the code in loader (which is already long) is welcome

[2020-04-13 23:49] #196 closed

[2020-04-14 02:31] charleygros commented on #198
I even wonder if we should not create a folder `loader` with `core.py`, `utils.py`, `adaptative.py` etc.
Similarly a `model` folder with something like: `core.py`, `unet_2d.py`, `unet_3d.py`, `hemis.py`, `film.py`, `utils.py`. ... one day :)

[2020-04-14 23:52] charleygros commented on #193
My understanding is:
- the post-processing parameters (ie threshold (float), keep_largest (bool), keep_largest_per_slice (bool)) will be added to the config file
- the model info (ie dataset, nb of images, nb of center, long description of the model) will be in another file.

Having also in mind that we all complained about the length of the config files, what about splitting the config files and

[2020-04-15 02:06] jcohenadad commented on #195
If it could be of any help, here is the same error on Travis:
https://travis-ci.org/github/neuropoly/spinalcordtoolbox/jobs/675013321#L678

On Linux the builds always stops during torch install:
https://travis-ci.org/github/neuropoly/spinalcordtoolbox/jobs/675013318#L554

[2020-04-15 02:14] kousu commented on #195
Curious, the Linux run is hitting this [TravisCI limit](https://github.com/travis-ci/travis-ci/issues/1382) -- not on runtime, but on output size. Maybe we'll have to look into quieting pip.

I can reproduce the error on Linux, on conda python3.6. I'm digging into it now.

There's also this warning:

which is because there's a second package to install embedded in the ivadomed package script:

htt

[2020-04-15 02:17] kousu commented on #195
Despite the error, ivadomed seems to have installed correctly:

[code]

[2020-04-15 02:19] jcohenadad commented on #195
thanks for looking into it @kousu. Indeed despite the error i was able to use ivadomed. It is just worrying to get this error during installation.

re: prepdata: we could easily remove it from the installation. "normal users" should not need access to this library. Maybe we can put it under dev/? @charleygros what do you think?

[2020-04-15 02:39] charleygros commented on #195
I agree, prepdata could definitely go in the dev/ folder!!

[2020-04-15 15:16] jcohenadad opened #203 "Move prepdata to dev/ folder"
In relation to https://github.com/neuropoly/ivado-medical-imaging/issues/195

[2020-04-15 15:16] jcohenadad commented on #195
issue opened https://github.com/neuropoly/ivado-medical-imaging/issues/203

[2020-04-15 18:37] kousu commented on #195
I'm still going to figure out what's wrong with the wheel build.

[2020-04-15 21:11] jcohenadad commented on #175
@olix86 can we close this issue?

[2020-04-16 04:05] #135 closed

[2020-04-16 18:13] kousu commented on #195
I *was* `prepdata`. Trying to build a wheel on master:

[code]

You get the same error with `pip install .`, but there it's treated as a warning and the install is finished from source instead.

Applying this patch:

[code]

succeeds:

[code]

[2020-04-16 18:21] jcohenadad commented on #195
wow! thanks for catching that @kousu. To me a simple fix would be to move prepdata outside the package and put it under dev/. Does that make sense?

[2020-04-16 18:58] kousu commented on #195
Having multiple packages in one repository is possible. It's become popular in Javascript, e.g. [React has all these subpackages](https://github.com/facebook/react/tree/master/packages) published separately to npm, the Babel build system has [these](https://github.com/babel/babel/tree/master/packages), and there's the https://lerna.js.org/ tool to manage this.

Python's tooling around this is much

[2020-04-16 19:00] kousu commented on #195
Or, if it's really only for development, does it need to be packaged at all?

[2020-04-16 20:07] jcohenadad commented on #195
absolutely not! which is why we talked about moving it to dev/

[2020-04-17 00:37] jcohenadad opened #205 "Binarize image prior to applying morphomath operations"
Some postprocessing methods, such as keep_large_objects or fill_holes only work on binary images. So if people want soft output while still benefiting from these algorithms, one solution is to call the thresholding with low value (eg 10e-3), apply morphomath operation, and then use the mask_prediction function to remove the small objects from the soft pred based on the binary output of the morphom

[2020-04-17 04:41] #192 closed

[2020-04-17 23:54] kousu commented on #195
Merged #204.

[2020-04-17 23:54] #195 closed

[2020-04-17 23:54] #203 closed

[2020-04-22 02:38] charleygros opened #207 "Function description when decorator influence input types"
We have recently implemented[ this decorator](https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/postprocessing.py#L10), which basically makes[ this function](https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/postprocessing.py#L41) robust to nibabel objects as input, while the standard inputs are arrays.

The question is: In the function description: Shou

[2020-04-22 03:25] charleygros opened #208 "Torch minimal installation for inference application"
Investigation about light installation via pytorch cpu.

The idea is to installs the CPU-only variants of PyTorch and torchvision.

1. Create new virtual env

2. Clone `ivadomed` repo

3. Modify the `requirements.txt` file:
- Look for cpu wheels here: https://download.pytorch.org/whl/torch_stable.html
- Replace the `torch` and `torchvision` lines by:
[code]

[2020-04-22 03:38] charleygros commented on #208
With this solution, it seems that `torch 1.5.0` is installed.....

[code]

[2020-04-22 03:40] charleygros commented on #208
The only solution I found so far is to do:
[code]

-->
[code]

[2020-04-22 03:45] charleygros commented on #208
Same for `torchvision`.
Note that the version we have in the requirements is not available as `cpu` --> I picked the `0.4.0` for now.

[code]
-->
[code]

[2020-04-22 03:50] charleygros commented on #208
I am doing some tests by isolating `segment_volume()` in a file (moved from `utils.py`) `ivadomed/inference.py` --> that could be `cpu` friendly.

The next issue that I am facing is some import from `medicaltorch` which also requires some `torch` imports.
@jcohenadad: Would it be okay to put this issue in pause and first finish the merge of `medicaltorch` within `ivadomed` in order to avoid to be

[2020-04-22 15:50] jcohenadad commented on #208
of course!! thank you so much for these initial investigations @charleygros !!

[2020-04-22 16:24] olix86 commented on #175
Well it's fixed by #186 but tests are now failling since they use too much RAM

[2020-04-24 04:35] charleygros opened #210 "Upgrade torchvision"
I thought we should put this question back on the table: Should we upgrade our torchvision?

@andreanne-lemay & @olix86 --> What are your thoughts?

Small new argument I can across today in favour of an upgrade --> This [new functio](https://pytorch.org/docs/stable/nn.functional.html#instance-norm)n `instance_norm` is not available in our current `torchvision` version but is exactly what we need f

[2020-04-24 15:49] jcohenadad opened #211 "Possible use of MONAI?"
[This project](https://github.com/Project-MONAI/MONAI) might have relevant codebase that could be used within ivadomed, such as loss functions, transforms, architectures, etc.

[2020-04-27 20:01] olix86 commented on #210
I agree it would be nice to upgrade, but last time I checked we were being held back by our Nvidia driver version #69

[2020-04-27 20:04] olix86 commented on #189
Looks like this is solved by #202 ?

[2020-04-27 21:26] jcohenadad commented on #210
could we consider updating our driver?

[2020-04-27 21:44] olix86 commented on #210
Yes that would be great for us, when we had the discussion in october we were blocked by the fact that ADS needed the old driver / CUDA for their version of TF, not sure if that's still true.

[2020-04-27 22:35] #189 closed

[2020-04-28 08:58] charleygros commented on #205
Fixed with #206

[2020-04-28 08:58] #205 closed

[2020-04-30 08:17] charleygros commented on #211
Something that I think could be relevant is the way they handle the transforms.

For instance: they define transforms for images, and other for labels (eg [here](https://github.com/Project-MONAI/MONAI/blob/f87a258326c8f74f35653e4b305a9642ec4e4356/examples/segmentation_3d_ignite/unet_evaluation_array.py#L50)).
Then, in the loader, the im_transforms and seg_transforms are called separately: [here](h

[2020-04-30 14:03] #67 closed, assigned to nobody

[2020-04-30 14:03] #69 closed, assigned to nobody

[2020-04-30 14:03] #210 closed

[2020-05-01 01:19] charleygros opened #212 "Folder imports"
In order to reduce the length / complexity of the imports, we could replace:
[code]
by
[code]

To allow this, we would need to add in the [__init__.py](https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/loader/__init__.py) these following lines:
[code]

[2020-05-01 01:44] jcohenadad commented on #212
that sounds great!

my suggestion however would be, instead of renaming functions/classes with "imed_" prefix, why not doing:
[code]

it takes the same amount of characters, it is more explicit and it allows to use automatic completion within IDE.

[2020-05-01 14:37] olix86 opened #214 "Warning scheduler get_lr"
I get the following warning while training on spine generic : warnings.warn("To get the last learning rate computed by the scheduler, ""please use `get_last_lr()`.")

Look like we need to replace `get_lr` with `get_last_lr`
https://github.com/pytorch/pytorch/blob/4ed790d74223ff3af95bbf8585cb67664805b6b9/torch/optim/lr_scheduler.py#L231

[2020-05-02 01:47] lrouhier commented on #208
So there are two option as far as I can tell:
The first one I found is to use condo to install the package in requirements.txt with:
`conda install -f -y -q --name dum3 -c pytorch --file requirements.txt`
In the pytorch channel you can find `pytorch-cpu` and `torchvision-cpu` (link to the [channel](https://anaconda.org/pytorch/repo) ) I am worried this might not be up to date.

Option two is to in

[2020-05-04 18:51] kousu commented on #208
I favour the latter because it's the more mainstream and better tested version of python. Maybe when Torch gets more stable the +cpu version will even end up on PyPI and we can drop the `-f`. Thanks for figuring that out, that was probably a good bit of digging.

What is the story for training going to be? Will we just have in our docs that if you're using the dev tools you need to `pip uninstall

[2020-05-04 18:58] kousu commented on #208
Neural network training is a lot like a [`build-depends`](https://www.debian.org/doc/debian-policy/ch-relationships.html#syntax-of-relationship-fields), whereas using them is like `depends`. Tensors are just a new binary format for programs. Except, they are programs that are not reproducibly compiled.

[2020-05-04 19:00] lrouhier commented on #208
Can we do the same thing as sct i.e. create a different requirement file that considers if it is a release version or a dev version ? Then the release will use the torch==1.5.0+cpu while the dev will use torch.

[2020-05-06 21:58] olix86 commented on #198
I think we can close this, good job everyone :)

[2020-05-06 21:58] #198 closed

[2020-05-07 20:17] andreanne-lemay opened #218 "Integration of object detection model"
Currently, SCT has different machine learning and deep learning models. These models don't currently have a framework to easily retrain them on custom data (or the models are in Tensorflow). Ivado-medical-imaging offers a framework to train models, so integrating an object detection model could solve this issue. This way, we could have a flexible model to detect custom ROI (e.i. the spinal cord).

[2020-05-07 20:21] jcohenadad commented on #218
awesome suggestion! to list some concrete examples of how this could be used:
- detection of ponto-medullary junction (currently `sct_detect_pmj` @charleygros )
- detection of C2-C3 disc (@lrouhier)
- detection of spinal cord on sagittal data, to be followed by a cropping and size-adjusted CNN for tumor detection (@andreanne-lemay)

I'm sure we can think of other applications

[2020-05-07 21:09] charleygros commented on #218
Could add [Figure 3](https://arxiv.org/pdf/1805.06349.pdf).

[2020-05-07 21:13] charleygros commented on #218
@jcohenadad --> would it be relevant to integrate [OptiC training pipeline](https://github.com/neuropoly/spinalcordtoolbox/blob/master/dev/detect_c2c3/train.py)?
The framework does exit.

[2020-05-07 21:15] charleygros commented on #218
A crucial point would be to allow **end-to-end training** if this module is used for initialising a segmentation tool.

[2020-05-07 21:25] charleygros commented on #218
We could start implementing a simple DenseNet for Detection baseline?
It would also imply to create a module of patch generation that will be plug to the current loader :)

[2020-05-08 07:17] charleygros opened #219 "Preprocessing: Intensity Standardization"
Yes, we already have intensity normalization. But given the large heterogeneity of intensity ranges across centers/study, I wonder if it is enough.

A interesting solution would be to implement [Nyul method](https://onlinelibrary.wiley.com/doi/abs/10.1002/%28SICI%291522-2594%28199912%2942%3A6%3C1072%3A%3AAID-MRM11%3E3.0.CO%3B2-M) within ivadomed, as it has been shown to help in DeepLearning / Medi

[2020-05-08 13:47] lrouhier commented on #208
I am falling on the following issue: The command is OS Specific
`pip install torch==1.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html`. Only works in Linux and windows context. On the bright side if you run `pip install torch==1.5.0` on a Mac OS the package is only 80 MB...

[2020-05-08 13:59] olix86 commented on #208
I think that's because :

So it looks like the default package for macOS is equivalent to the CPU packages for other OSes

[2020-05-08 17:22] andreanne-lemay commented on #218
A end-to-end training would be more convenient, but this can be challenging. If the segmentation model depends on the input of the first model (general detection), I believe we would still need to train the first part of the model first. Also, if they have different types of outputs (e.i. segmentation mask and box coordinates), we have to deal with the 2 outputs when training (2 separate backprops

[2020-05-08 17:35] andreanne-lemay commented on #218
What type of output did you have in mind for the DenseNet? Did you have in mind to use the DenseNet to output a semantic segmentation and then generate a bounding box around this mask? Advantage I see to this approach: it limits the changes we'd have to do in the code, the output is a mask, just like UNet (no need to modify the loader). Disadvantage: less direct.
Personally, I had in mind to start

[2020-05-08 18:00] lrouhier commented on #218
The advantage of separating that in two different models is that if you have multiple applications that will use spinal cord localization (for example) you will already have part of your pipeline ready.

[2020-05-08 18:06] andreanne-lemay commented on #219
I'm curious to see the performance gain of this method compared to using only regular intensity normalization for large and heterogenous dataset. I think I can be very interesting!  So, we'd have a "bank" of standardization scheme? Would we generate one for new study or center we have? Since we already have some code, it would be nice to give it try.

[2020-05-08 18:12] andreanne-lemay commented on #218
Yes I agree! Keeping 2 models, but automating the pipeline in a single training would be a good in between solution.

[2020-05-09 23:36] andreanne-lemay commented on #218
Interesting repo for 3D detection: https://github.com/MIC-DKFZ/medicaldetectiontoolkit

[2020-05-11 00:59] charleygros commented on #218
The basic aspect that I had in mind was: to use the output of the detection module (previously trained) during the training of the second module (e.g. segmentation) --> the segmentation module is therefore trained on "realistic" outputs of the detection module (vs. perfectly cantered patches that could be extracted from the ground-truth).

[2020-05-11 01:04] charleygros commented on #218
I liked the idea of having an uncertainty that could be propagated to the second module (e.g. segmentation). But I imagine it could also be achieved with boundary boxes.

Not sure to see what you mean here :) Could you please help me?

Yep for sure, sounds great :) ! Something to have in mind would be the size of the bounding boxes --> how to handle different input size for the second module? We w

[2020-05-11 20:57] #139 closed

[2020-05-11 20:57] #175 closed

[2020-05-12 05:48] andreanne-lemay commented on #218
Yes, there is a confidence associated with the bounding boxes generated :)

What I mean is that we require a segmentation as input to output a box + we don't generate directly the bounding boxes. I am not sure which approach is better for our needs.

Yes definitely, but we can train with different size images (I didn't think so at first), so it might not be a problem!

[2020-05-15 17:48] jcohenadad opened #225 "Annoying warnings.warn(msg, SourceChangeWarning) when running segment_volume()"
Here is what i get when calling `ivadomed.utils.segment_volume()` from SCT:

[code]

[2020-05-16 18:59] jcohenadad opened #226 "Tags 1.0.1 and 1.0 share the same commit"
v1.0 and v1.0.1 on github release share the same commit 8207f0ccba477fd0294971ae7ee61ed3e94c7b4c, which is confusing. Why not deleting v1.0 and renaming v1.0.1 as v1.0 (to also match __init__.version and pypi version)

[2020-05-16 19:01] jcohenadad opened #227 "segment_volume() sub-optimal results and implement testing"
Based on the latest version of ivadomed (1.0), i noticed sub-optimal results compared to when i ran it a few weeks ago (sorry I don't have records for comparison). More details here: https://github.com/neuropoly/spinalcordtoolbox/pull/2639#issuecomment-629398909

@charleygros maybe you have a clue?

The other purpose of this issue is to suggest implementing a testing routine `utils.segment_volume(

[2020-05-16 20:27] kousu commented on #208
So GPU support adds 600MB to the build? That's wild.

[2020-05-16 21:59] olix86 commented on #226
Done

[2020-05-16 21:59] #226 closed

[2020-05-18 02:40] charleygros commented on #227
It looks like a binarisation of the output has been introduced in one of the PRs recently merged. Will investigate and let you know shortly.

[2020-05-18 04:58] charleygros commented on #227
I can reproduce the sub-obtimal results. However this is not due to `utils.segment_volume()` but to the post-processing --> see here below screenshot of result before the postprocessing (ie output of `utils.segment_volume()`).
![Screenshot 2020-05-18 14:53:52](https://user-images.githubusercontent.com/14353425/82175614-9fa66080-9917-11ea-90d5-8fe38fe94c67.png)

[2020-05-18 04:59] charleygros commented on #227
I believe the error is coming from the thresholding function as the result is the same independently of the threshold value I enter.

[2020-05-18 05:02] charleygros commented on #227
Update: the error is actually not coming from the thresholding function but from `options['threshold']` that is always at 0.9 (ie default value) even if I use the param `-thr 0.1`.

[2020-05-18 05:05] charleygros commented on #227
It is likely to come from the mismatch between the parser and DEFAULT params --> `thr` vs `threshold`.
[code]
versus
[code]

[2020-05-18 05:14] charleygros commented on #227
Changes suggested [dc3f610](https://github.com/neuropoly/spinalcordtoolbox/pull/2639/commits/dc3f610858262555db65d77ac266ccaeead7cf3c), which address the issue of under-segmentation.

[2020-05-18 16:45] jcohenadad commented on #227
Thank you @charleygros !

[2020-05-18 16:45] #227 closed

[2020-05-18 20:39] jcohenadad commented on #194
Additional info: https://github.com/neuropoly/spinalcordtoolbox/pull/2639#discussion_r426195087

[2020-05-19 20:08] andreanne-lemay commented on #187
test added in #220 in file test_segment_volume.py

[2020-05-19 23:43] charleygros commented on #193
We decided to:
package would include:

- model.pt (or onnx…)
- training.json
- inference.json
- log.json
- image.nii.gz
- image_seg.nii.gz

[2020-05-20 01:17] andreanne-lemay commented on #225
As mentioned in the warning, there are two ways suggested by PyTorch to resolve the warnings:

**Option 1: `set torch.nn.Module.dump_patches = True and use the patch tool to revert the changes.`**

This first solution is a 2 steps process. First thing is to add the suggested line `torch.nn.Module.dump_patches = True` before loading the model. The .patch files will be loaded into the repo and the f

[2020-05-20 01:56] jcohenadad commented on #225
Thanks a lot for your investigations @andreanne-lemay! 🥇

i would go for option 2, as i don't see the downside as a serious problem for now. And as you said, it is possible that the switch to onnx (which we will investigate in the near future) will solve it.

i would not go for option 1 (re-train model), because if we do another change to the code, the same warning will pop-up again and we are bac

[2020-05-20 15:18] #187 closed

[2020-05-20 22:02] charleygros opened #229 "Document Uncertainty"
In both the Wiki & ReadME

[2020-05-21 06:35] charleygros commented on #183
Closed with #188

[2020-05-21 06:35] #183 closed

[2020-05-21 06:45] charleygros opened #230 "Refactor main"
The last step of the refactoring that we planned is the refactoring of `main.py`, which goes along with the config files, e.g. #193 & #167.

### Main
Suggestion:
1. `main.py`:
- keep the `run_main` ([here](https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/main.py#L885))
- config file / param parsing
- eventually deal with [data_loader](https://github.com/neuropoly/ivado-medic

[2020-05-21 20:41] andreanne-lemay opened #232 "ONNX model"
Making deep learning models accessible in SCT creates a new need for cpu optimized models since most users don't have GPUs. Exporting our torch models in ONNX format leads to reduced memory usage and faster inference. ONNX is already integrated in PyTorch ([documentation here](https://pytorch.org/docs/master/onnx.html)) which makes it very easy to use.

To save model:
[code]

For inference:
[code]

[2020-05-22 00:03] charleygros commented on #232
Wow!!! @andreanne-lemay this is gold!

[2020-05-22 03:01] andreanne-lemay commented on #230
That seems like a great plan! For the config files, I am really not sure about having more than one file for a single model it seems like a lot of files to deal with. A big part of our config file is the transforms. Instead of having transformation_training, transformation_validation, transformation_testing, we could simply have transformation. In the transforms, we could add a parameter (just lik

[2020-05-22 03:30] charleygros commented on #230
I agree! And your suggestion of config file fits with what I had in mind for the `main.py` --> great! Let's  do that

[2020-05-25 15:57] olix86 commented on #229
`eval_params` also :)

[2020-05-25 15:58] charleygros opened #236 "Random in test functions"
Some random aspects of test functions make them occasionally fail.
We may want to find ways to avoid this (e.g. hard-code dummy images).

[2020-05-26 18:54] olix86 commented on #232
@andreanne-lemay  can we close this since #234 is merged? :)

[2020-05-26 18:58] olix86 commented on #225
@andreanne-lemay fixed by #234 ?

[2020-05-26 18:58] andreanne-lemay commented on #232
I still have a PR on SCT related to ONNX that is not merged yet (https://github.com/neuropoly/spinalcordtoolbox/pull/2735). I was waiting to merge this PR before closing the issue :)

[2020-05-26 19:00] olix86 commented on #214
Fixed by #213

[2020-05-26 19:00] #214 closed

[2020-05-26 19:08] andreanne-lemay commented on #225
Yes! Even if the problem is solved for segment_volume (or at least the models will be converted to .onnx), do we want to implement the option 2 as well (since it's recommended by PyTorch)?

[2020-05-26 19:26] jcohenadad commented on #232
Merged! https://github.com/neuropoly/spinalcordtoolbox/pull/2735

[2020-05-26 19:42] #232 closed

[2020-05-26 20:43] olix86 commented on #148
@charleygros I think this was fixed since I'm not encountering it when using uncertainty?

[2020-05-26 20:47] #129 closed

[2020-05-26 21:14] charleygros commented on #148
Oh? I am scared I did not
If I remember well, it happens when empty sample?

[2020-05-28 20:24] andreanne-lemay commented on #225
For now let's keep the current method to save and load models which is saving the whole model, instead of only the state_dict. With ONNX models, the warnings disappear, so we can close this issue.

[2020-05-28 20:24] #225 closed

[2020-05-28 20:40] andreanne-lemay opened #241 "Method to load and save Pytorch models"
Current method to load and save Pytorch models:

[code]

Recommended method by Pytorch:(https://pytorch.org/docs/stable/notes/serialization.html):
[code]

The current way we load the model generates code source change warnings (`SourceChangeWarnings` #225 ) when we do model modifications. If we want to change to the recommended way, theses changes need to done:
- Instantiate model object before lo

[2020-05-28 21:57] jcohenadad opened #242 "Look at converting config.json into script that instanciates a large class"
The current approach for training is to load a json config file that has a bunch of parameters. The difficulty with this approach is that: It is not clear for external contributers/users what field corresponds to (because outside of the Python's environment).

An alternative approach would be to convert this json/dict structure into a class that would be instanciated by a "config" python file. Tha

[2020-05-29 22:47] jcohenadad opened #244 "Create logo for ivadomed project"
Will be added to the website

[2020-05-30 20:02] jcohenadad opened #245 "Automatize API documentation"
This might be of interest: https://github.com/readthedocs/sphinx-autoapi

[2020-05-30 20:39] jcohenadad opened #246 "Distinguish development version and stable version"
Currently, when building the doc (or when using ivadomed library), the version displayed is the one defined in the `__init__.py` file. It shows the current release (e.g. 1.0.2), which is wrong if people are using the master branch (i.e., code has evolved since release 1.0.2).

To avoid this confusion, we could use a string "dev" in the string `__init__` for the master branch, and use a release num

[2020-05-31 19:27] jcohenadad opened #247 "Find a way to fetch all classes/functions per file automatically"
Currently, we need to list all classes for each file in the `docs/source/api_ref.rst` file, which is prone to error in case those classes evolve in time. It would be better to automatically grab all methods.

[2020-05-31 19:28] jcohenadad opened #248 "Redirect ivadomed.org to RTD's latest version"
The following needs to be done:
- Redirect ivadomed.org to RTD latest version;
- Add link to ivadomed.org at the top of the github's project page

[2020-05-31 19:29] jcohenadad opened #249 "Add documentation build in CI"
We need to test the documentation RTD's sphinx build inside our CI, to make sure it doesn't break (e.g. if someone changes a class name, removes a class, etc.).

[2020-05-31 19:30] jcohenadad opened #250 "Add docstrings to all methods"
Currently, several docstrings are missing. Now that we've implemented a semi-automated API documentation, all docstrings need to be filled.

[2020-05-31 21:14] andreanne-lemay opened #251 "Some pytest tests fail"
Tests in test_transforms.py use randomly generated inputs and ground truths. This causes some tests to fail by time to time ([related comment](https://github.com/neuropoly/ivado-medical-imaging/pull/213#issuecomment-631864898)). These tests should be modified so that they systematically pass. List of tests failing:
- test_NormalizeInstance
- test_DilateGT
- test_RandomRotation
- test_RandomAffine

[2020-05-31 22:07] charleygros commented on #251
Duplication: https://github.com/neuropoly/ivado-medical-imaging/issues/236
I am closing #236

[2020-05-31 22:07] charleygros commented on #236
Duplicated.

[2020-05-31 22:07] #236 closed

[2020-06-01 00:48] jcohenadad opened #252 "WARNING: error while formatting arguments: 'function' object has no attribute '__mro__'"
When building documentation with sphinx, the following warnings appear:
[code]

Example [this build](https://readthedocs.org/projects/ivado-medical-imaging/builds/11156975/).

The doc is built OK, but the warnings are annoying and it would be nice to get rid of them at some point.

Possibly-related issues:
- https://github.com/astropy/astropy/issues/2051
- https://stackoverflow.com/questions/42871

[2020-06-01 00:50] jcohenadad opened #253 "Add link to (small) toy dataset for tutorial"
Currently, the tutorial points to a 8GB dataset, which is too big. It would be nicer to point to a smaller data for our tutorials.

[2020-06-01 03:22] charleygros opened #255 "Dev script: to visually optimise data augmentation parameters"
So far, I have optimised my data augmentation parameters on fake data or by looking on TensorBoard the final result. I would find useful to visually see the result of a sequence of DA transforms on a MRI slice.

I would in particular use it for `ElasticTransform` where `alpha` and `sigma` are quite sensitive, `DialteGT`, `RandomRotation`.

Something like:
[code]
It would save in png the results of

[2020-06-01 03:29] charleygros commented on #251
Adding another one that is in trouble: `test_RandomShiftIntensity`.

[2020-06-01 05:36] charleygros commented on #250
We started a discussion about the docstring style here: [i156](https://github.com/neuropoly/ivado-medical-imaging/issues/156).
But I do not think that a decision has been taken.
Also reflected in the repo', as the two formats are present:
- [example of Napoleon](https://github.com/neuropoly/ivado-medical-imaging/blob/47957a0e2bd4bef8ad21db70b961347fe812dd9a/ivadomed/postprocessing.py#L46)
- [examp

[2020-06-01 05:42] charleygros commented on #250
Suggestion of split:

@andreanne-lemay
- loader folder
- models

@olix86
- testing folder
- losses
- metrics

@charleygros
- main (and derivatives in coming PR #230 )
- transforms
- utils

Does it sound fair?
Happy to discuss this, we could swap etc.

[2020-06-01 14:46] charleygros commented on #250
Fixed in #258

[2020-06-01 15:30] jcohenadad opened #260 "Prevent merging PRs if tests fail"
It is currently possible to merge PRs onto master, even if tests fail. Once we fix failing tests (https://github.com/neuropoly/ivado-medical-imaging/issues/251), we should enforce the rule to have tests pass to be able to merge. Otherwise we will take the habit of disregarding the tests.

[2020-06-01 15:44] jcohenadad opened #261 "Add badges for github actions"

[2020-06-01 15:51] jcohenadad opened #262 "Add changelog to project"
- Make script to create changelog automatically, e.g. [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/install/sct_changelog.py)
- Update labels for each category
- Once done, create CHANGES.md and link it in the documentation, under the "PR" section

[2020-06-01 15:54] jcohenadad opened #263 "Add sponsor link"

[2020-06-01 15:58] jcohenadad commented on #251
Is it fixed by #254?

[2020-06-01 15:59] #251 closed

[2020-06-01 16:02] jcohenadad commented on #260
It is now enforced (for 3.6, 3.7, 3.8)

[2020-06-01 16:02] #260 closed

[2020-06-01 20:24] jcohenadad commented on #248
@alexfoias you [mentioned it takes 30min for redirection](https://github.com/neuropoly/ivado-medical-imaging/pull/264#issuecomment-637017333), but it's been 2h already and www.ivadomed.org gives me that:
![Screen Shot 2020-06-01 at 4 24 19 PM](https://user-images.githubusercontent.com/2482071/83451059-62b49080-a424-11ea-83ea-fe962bd6db49.png)

Can you please check if everything is in order?

[2020-06-02 02:45] jcohenadad opened #265 "Change repos name to ivadomed"
For consistency

[2020-06-02 02:49] #156 closed

[2020-06-02 13:08] alexfoias commented on #248
Sorry about that, there a problem with the configuration I tried multiple things on namecheap and readthedocs last evening without success. I'll fix it during today.

[2020-06-02 14:21] jcohenadad opened #266 "Sliding window implemented in monai"
As we were discussing the potential implementation of a sliding window algorithm for large-FOV segmentation tasks, i just wanted to point out that [monai has implemented this](https://monai.readthedocs.io/en/latest/highlights.html#sliding-window-inference) so we could potentially re-use what they have done.

[2020-06-02 14:24] alexfoias commented on #248
The proper way of configuring the custom domain in RTD is the following:

- In namecheap, go to your domain, advance DNS and add a ALIAS record with the following info:
| Type         | Host | Value           | TTL  |
|--------------|------|-----------------|------|
| ALIAS Record | @    | readthedocs.io. | 1min |

- In readthedocs, go to your project, Admin, Domains, Add new Domain:
[code]

[2020-06-02 14:24] alexfoias commented on #248
@jcohenadad We can close this issue.

[2020-06-02 14:29] jcohenadad commented on #247
That might be the solution: https://github.com/Project-MONAI/MONAI/blob/master/docs/source/conf.py#L52

[2020-06-02 16:25] jcohenadad opened #268 "Do we need to run CI both on push and PRs?"
Everytime we push a commit in a PR, the CI runs both for PRs and pushes, which seems unecessary. I suggest we get rid of the "push" CI?

[2020-06-02 16:33] jcohenadad opened #269 "Host models on ivadomed OSF?"
Currently, ivadomed models are hosted under [SCT's OSF](https://osf.io/6zbyf/), which does not make sense for people who will not be using SCT. I suggest we host the models under ivadomed's OSF repository.

[2020-06-02 18:24] jcohenadad opened #270 "Redirect to python files in the documentation"
When describing the different features (FILM, etc.), we should add a link in the documentation that points to the specific implementation in ivadomed.

Motivated by [this comment](https://github.com/neuropoly/ivado-medical-imaging/pull/267#pullrequestreview-422849105)

[2020-06-02 18:41] #248 closed

[2020-06-02 21:44] jcohenadad commented on #269
After internal discussions, we decided to host "production" ivadomed models on Github, following the approach used in SCT: https://github.com/neuropoly/spinalcordtoolbox/pull/2733

Pros:
- Github's access worldwide is less restricted than OSF
- We can version-track each model, assign a specific tag to it.

[2020-06-04 02:58] #159 closed

[2020-06-04 02:58] #230 closed

[2020-06-05 05:01] #212 closed

[2020-06-05 23:01] charleygros opened #275 "Use of **ctx"
Some functions / classes, like `train()` `training.py` or `BidsDataset` in `loader/loader.py` would greatly benefit from this comment: [here](https://github.com/neuropoly/ivado-medical-imaging/pull/240#discussion_r436024257)

[2020-06-08 00:48] #229 closed

[2020-06-08 12:04] charleygros opened #279 "Document `padding_3D` in RTD"
See [comment](https://github.com/neuropoly/ivado-medical-imaging/pull/274#discussion_r436396862).

[2020-06-09 09:16] charleygros opened #280 "Reference global variables in RTD"
We have global variables in our code that we would like to reference in the RTD. Is there a way to do this? otherwise, what would be a better practice to handle this?

Issue related to [this comment](https://github.com/neuropoly/ivado-medical-imaging/pull/274#discussion_r436323878).

[2020-06-09 09:37] charleygros opened #281 "Reference API documentation section in RTD"
Here below a line from `docs/source/configuration_file.md` where I would link to reference the loss functions documentation in the API:
[code]
Is there a better way to do it than passing the https address?

[2020-06-09 14:18] jcohenadad commented on #281
does this work?
[code]

[2020-06-09 14:22] Drulex commented on #281
It would work if referencing the html as shown below:
[code]

I am currently writing an elaborated answer [here](https://github.com/neuropoly/ivado-medical-imaging/issues/280)

[2020-06-09 14:33] Drulex commented on #280
This project uses a mix of `md` and `rst` files to build the doc. By design `markdown` does not have a native way to cross-reference other local markdown files, but `reStructuredText` has the `:ref:` directive [more info here](https://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#ref-role).

With that said, the project also uses the `recommonmark` parser which allows to use both `

[2020-06-09 15:57] #252 closed

[2020-06-09 16:07] Drulex commented on #246
@jcohenadad I am not sure I properly understand the issue. The latest and greatest version is stored in `__init__.py` whether its a dev release or a stable release.

PEP 440 suggest a nomenclature for development releases [here](https://www.python.org/dev/peps/pep-0440/#development-release-separators) for example `1.0.dev1` <- adding "dev" after the minor and before the patch.

The idea is that as

[2020-06-09 16:25] jcohenadad commented on #246
excellent suggestion!

[2020-06-10 10:31] charleygros commented on #280
Solution implemented in #274 --> many thanks @Drulex for your investigations & explanations!

Another question: Is it possible to automatically reference a global variable (eg[ this one](https://github.com/neuropoly/ivado-medical-imaging/blob/master/ivadomed/loader/loader.py#L14)) in the documentation? If so, what would be the best practice?
To reference: `https://github.com/neuropoly/ivado-medica

[2020-06-10 13:55] jcohenadad opened #285 "Move scripts from dev/ into ivadomed package"
Some scripts are useful and if they stay in dev, they won't be used as much as they should. Issue triggered by https://github.com/neuropoly/ivado-medical-imaging/pull/282#issuecomment-641903615.

We are talking about these scripts:
- dev/compare_models.py: stat tests on models performance
- dev/convert_to_onnx.py: pt --> onnx
- dev/automate_training.py: hyperparam model optim
- dev/remove_small_le

[2020-06-10 14:18] jcohenadad opened #286 "Convert doc to full rst"
currently it is a hybrid between md and rst, which introduces complexity. Even thought md is more user-friendly, some features are not available, thus motivating the full-rst.

context: https://github.com/neuropoly/ivado-medical-imaging/issues/280#issuecomment-641337357

[2020-06-11 09:34] charleygros commented on #285
`scripts/` sounds good to me
(You meant `scripts/` and not `ivadomed/scripts/`, right?)

[2020-06-11 14:53] jcohenadad commented on #285
actually i meant `ivadomed/scripts`. Being within the package will make the imports easier and will allow their inclusions in the unit tests. But maybe @Drulex has some opinion on this?

[2020-06-11 15:18] Drulex commented on #285
I don't see any problem with `ivadomed/scripts`

[2020-06-12 02:10] charleygros opened #287 "sct_deepseg: compatible with 2 steps appraoches."
### Current workflow:
[code]
1. Get model's path (already installed or download it): [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/scripts/sct_deepseg.py#L143). Models being listed [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/deepseg/models.py#L20).
2. Call `segment_nifti` [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/s

[2020-06-12 02:12] charleygros commented on #287
Wrong repo

[2020-06-12 02:12] #287 closed

[2020-06-12 02:31] charleygros opened #288 "Small dataset for tutorials"
### Aim
Get a small dataset that we could use for tutorials, including training, inference, performance evaluation etc.

### Issues
A dataset that could be used to cover all the main features of the repo'.

### Suggestion:
- Source in SpineGeneric dataset: multi center, open source, SC segmentation and Disk levels already generated
    - Inconvenient: very large dataset. Solution: remove diffusion

[2020-06-12 04:25] #255 closed

[2020-06-12 15:55] jcohenadad commented on #288
sounds good 👍  so, that would be the processed spine-generic data, right?

i would suggest multi_contrast

[2020-06-12 17:36] Drulex commented on #286
I could do this, been meaning to learn `rst` for some time. Better to do it soon before the doc evolves too much.

[2020-06-12 18:09] jcohenadad commented on #286
additional motivation:
- link "Models" is broken (as well as link to other files), here: file:///Users/julien/code/ivado-medical-imaging/docs/build/html/configuration_file.html#architecture

[2020-06-12 18:10] jcohenadad opened #292 "Check for warnings during doc builds"
when building the doc locally, i get this:
[code]

highlighting the issue mentioned here: https://github.com/neuropoly/ivado-medical-imaging/issues/286#issuecomment-643415830.

so we should check for those warnings to make sure our published doc is clean

[2020-06-12 23:46] charleygros commented on #288
@jcohenadad : Yes!
So the processed spineGeneric data + (T1, T2) not processed.

[2020-06-15 15:56] Drulex opened #298 "Docs: see how to bundle arbitrary source code files with doc more easily"

[2020-06-15 16:04] andreanne-lemay commented on #279
In PR #240 padding was changed for stride and documentation was updated.

[2020-06-15 16:07] andreanne-lemay opened #299 "Add multilabel support during 2D model's inference"
Currently, only the first dimension is used to reconstruct the final image during testing for 2D models.

[2020-06-15 16:15] andreanne-lemay opened #300 "Clean code related empty GT or ROI in the loader"
In the loader there is a lot of `if ... not None`: https://github.com/neuropoly/ivadomed/blob/master/ivadomed/loader/loader.py#L133.
These could be avoided by using empty lists instead.
See [comment](https://github.com/neuropoly/ivadomed/pull/240#discussion_r440279177)

[2020-06-15 19:52] #279 closed

[2020-06-15 20:16] mariehbourget opened #301 "Create a BIDS-like structure for microscopy data"
Aim:
Look into the possibility of organizing microscopy data (2D image, jpg/png/tiff)  into BIDS

Motivation:
ivadomed loaders accepts BIDS

Could become a new BIDS Extension Proposal

- How to deal with large histology images (see OpenSlide)?

[2020-06-15 20:18] mariehbourget opened #302 "Create a microscopy dataset using BIDS"
Create a small dataset that will be used for testing during the development of the project
(following the creation of BIDS for histology (https://github.com/neuropoly/ivadomed/issues/301))

[2020-06-15 20:20] mariehbourget opened #303 "Adapt the json config file for histology data"
Add parameters relative to histology data:
- overlap for inference
- general pixel size (resampling resolution)
- modality
- pixels in micrometers
- others (ex: species, FOV, sample preparation)?

Questions :
- Should we use the same config or a different config?
- Should we use classes as suggested [here](https://github.com/neuropoly/ivadomed/issues/242)?

[2020-06-15 20:25] mariehbourget opened #304 "Adapt the loader for histology data"
- Use BIDS (following link)?
- Alternatives:
-> Loader that accept multiple data structures
-> Task specific loader
- Deal with dataset splits and patches and dataset splits (ADS currently creates new files on disk when splitting and extracting patches)
- Deal with large histology images (see OpenSlide) ex:
-> TEM - 3762 × 2286 - 6.6 Mb
-> SEM - 1901 × 1801 - 2.4 Mb

[2020-06-15 20:29] mariehbourget opened #305 "Adapt the training procedure for histology data"
- Deal with multiclass (axon/myelin/background)

[2020-06-15 20:29] mariehbourget opened #306 "Adapt the evaluation procedure for histology data"
- Deal with patch overlap for inference

[2020-06-15 22:20] #285 closed

[2020-06-15 23:42] andreanne-lemay commented on #250
Seems good to me :)

[2020-06-16 01:28] jcohenadad opened #307 "process_data: Reduce quantization size of anat files"
21MB for a T1w is excessive (see: https://github.com/neuropoly/ivadomed/pull/297#issuecomment-644474464)

[2020-06-17 15:39] Drulex commented on #280
Update since the docs have been updated to use full `rst`:

We can reference python objects directly using the python domain cross-reference syntax (see https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#the-python-domain)

In this context of #281, the syntax to point to the losses module is the following:
[code]
Which will link to the API documentation. From there there is a

[2020-06-17 17:37] #286 closed

[2020-06-17 17:37] #292 closed

[2020-06-18 14:00] jcohenadad opened #310 "Create a script that finds inconsistencies between the doc and the current methods/classes"
## Context

Currently, the documentation is semi-manually maintained: we need to manually write the class/method name to appear in the documentation.

## Problem

- someone adds a new function and forgets to expose it in the docs
- someone removes a function and forgets to remove it in the docs

## Potential solution

a script that would crawls across all of our files, parse classes and methods, a

[2020-06-18 21:52] jcohenadad commented on #253
A viable solution would be to host the toy data under a new organization/repository. Example:
- `ivadomed-data/spinalcord-axial`
- `ivadomed-data/spinalcord-sagittal`

[2020-06-19 13:07] Drulex commented on #253
Sure, I think Github is a good option.

How large are the datasets? Are we going to run in the same file size/push limitations as `spinalcordtoolbox`?

In my opinion the simplest path is to use something like `Github` with a large file extension such as `git-lfs`, `git-annex` or similar.

The most flexible path is to host the data internally, then we can do whatever we want, but we would have to m

[2020-06-19 13:14] Drulex commented on #253
I think this is more of a political decision then a technical one. All potential solutions listed above are technologically viable and can scale if needed (unless there are some special requirements I am not aware of).

Personally I like the `Github` + `git-annex` option.

[2020-06-19 13:28] jcohenadad commented on #253
in this case we don't have that problem because the whole dataset is 200-400MB, but each file is not higher than ~30MB, so github will do.

[2020-06-19 15:40] jcohenadad commented on #253
related to https://github.com/neuropoly/ivadomed/issues/269

[2020-06-21 22:42] #265 closed

[2020-06-22 14:58] mariehbourget commented on #301
[Link](https://docs.google.com/document/d/1Nlu6QVQrbOQtdtcRarsONbX5SrOubXWBvkV37LRRqrc/edit#heading=h.t5hrp3icnkwj) to BIDS histology example
[Link](https://neurostars.org/t/bids-with-histology-data/7201/3) to discussion on Neurostars

[2020-06-23 02:03] #250 closed

[2020-06-23 18:01] andreanne-lemay opened #315 "Unpleasing display of docstring's attributes in RTD"
Attributes appear with the same font and size as methods which is not aesthetic (See images in the comment:  https://github.com/ivadomed/ivadomed/pull/313#pullrequestreview-435850180).

Adding a custom css should solve this problem.

[2020-06-23 18:41] andreanne-lemay commented on #315
This is a known "issue" https://github.com/sphinx-doc/sphinx/issues/2115. One way to improve the display is to add the line `napoleon_use_ivar = True` in the conf.py file. The header is Variables instead of Attributes :
![image](https://user-images.githubusercontent.com/49137243/85443536-5de48780-b55f-11ea-965e-d5850356ca05.png)

It is still much better than the previous display. Someone commented

[2020-06-23 19:01] jcohenadad commented on #315
the author also mentions "Instead, we may patch it at runtime to achieve the desired behavior. Adding the following code in doc.py will achieve this", would that be a better alternative?

[2020-06-23 19:26] andreanne-lemay commented on #315
:tada:
![image](https://user-images.githubusercontent.com/49137243/85449604-f3831580-b565-11ea-9857-59dc353bcbaa.png)

[2020-06-23 22:02] #253 closed

[2020-06-23 22:02] #288 closed

[2020-06-24 18:58] jcohenadad opened #317 "Reformat script documentation"
Currently, the [script documentation](https://ivadomed.org/en/latest/scripts.html#) exposes the python's function, as opposed to the CLI script. This is confusing, because the examples given use the CLI's parser flags, which can be different from the python's function, Example [here](https://ivadomed.org/en/latest/scripts.html#ivadomed.scripts.visualize_transforms.run_visualization).

I suggest th

[2020-06-25 00:56] jcohenadad opened #318 "RTD/Sphinx: first argument of class is missing"
Code (notice the `ifolder`):
https://github.com/ivadomed/ivadomed/blob/master/ivadomed/scripts/extract_small_dataset.py#L44

Rendered doc (`ifolder` missing):
![image](https://user-images.githubusercontent.com/2482071/85641577-f7de2a00-b65c-11ea-9e79-fd68b2c1df85.png)

This might be due to the automatic removal of the 1st argument for classes (which typically have the 'self' argument)

[2020-06-25 01:29] lrouhier opened #319 "Math function in a specific script."
In the repo some function found in ivadomed/script or elsewhere could be used in other file. However, ivadomed/utils.py is starting to get quite big. A solution would be to create a file named ivadomed/maths.py to gather all these functions.

[2020-06-25 02:25] lrouhier commented on #319
List of function:
from ivadomed/script/prepare_dataset_vertebral_labeling.py:
* gaussian_kernel : Create a 2D gaussian kernel with user-defined size.
* heatmap_generation: Generate heatmap by convolution a label file with binary label with a gaussian kernel

[2020-06-25 13:25] charleygros opened #320 "Multiclass segmentation: DiceLoss vs MultiClassLoss"
Knot bag story!

If you would like to reproduce this experiment:
- master commit [60c6999](https://github.com/ivadomed/ivadomed/tree/60c6999c18a9bb72f4d5063821c1e866dbe13a21)
- config file: `duke/projects/iXX/config_csfsc.json`

### Chapter 1:
Multi-class task training: Loss=MultiClassDiceLoss + Display of DiceLoss
[code]
The difference between the two is.. not normal.
Hummm

### Chapter 2:
Mmm le

[2020-06-25 14:30] andreanne-lemay commented on #320
Not having the same affine definitely doesn't help! Thanks for this discovery. Just like you, in the first few epochs, I observed one class not performing well (mask larger than it should be), but after a certain number of epochs, the segmentation looks relatively normal.

Green: edema
Red: tumor

Epoch 2:
![image](https://user-images.githubusercontent.com/49137243/85739031-7921d500-b6ce-11ea-97d3

[2020-06-25 18:32] jcohenadad commented on #320
wow! thanks a lot for catching this and for this thorough investigation 🙏

[2020-06-25 22:56] charleygros opened #322 "Naming convention for models"
Init debate: [this comment](https://github.com/neuropoly/spinalcordtoolbox/pull/2748#discussion_r445873840).

[2020-06-26 00:56] jcohenadad commented on #322
My suggestion would be:
[code]
with:
[code]
we should also probably keep that documented somewhere (hard-coded in the rst? or in a py?)

[2020-06-26 08:39] charleygros commented on #322
I would agree for the naming convention!

Regarding where to document this.. few thoughts:
- at the moment, during and at the end of the training, the models are saved under the "[log_directory](https://ivadomed.org/en/latest/configuration_file.html#log-directory)", `log_directory/best_model.pt` and `log_directory/final_model.pt`. The config_file (ie the model metadata) are also saved in this repo

[2020-06-26 08:40] charleygros commented on #322
Something else to talk about: what about multi class model?
Would we have `seg_csf-sc_t2`?

[2020-06-26 17:15] lrouhier commented on #318
Using `.. autofunction::` in scripts.rst solves the problem but it's not as pretty
![image](https://user-images.githubusercontent.com/22171999/85883502-194f2b00-b7af-11ea-9451-eb7a01d1120a.png)

[2020-06-26 17:56] jcohenadad commented on #318
thanks for looking @lrouhier . Not as pretty indeed. Wondering if there is a cleaner alternative... 🤔

[2020-06-26 18:20] jcohenadad commented on #322
hum, i really don't like mixing "-" and "_". On the other hand, this is what BIDS does, but using the key-value approach, e.g.:
[code]
of course we would end up with horribly-long file names 😬 .

so maybe `seg_csf_sct_t2` would be a good compromise (for now)?

[2020-06-26 18:22] jcohenadad commented on #322
i like that!  difficult for me to anticipate all the possible cons though... so i hope the team can brainstorm and give a consensus 👍  if this is the way to go.

[2020-06-26 18:28] lrouhier commented on #318
Using `add_module_name=False` in conf.y results in this:
![image](https://user-images.githubusercontent.com/22171999/85889314-3ab51480-b7b9-11ea-9dc0-7bdfc38c52cc.png)

It is cleaner (maybe less explicit)

[2020-06-26 18:32] jcohenadad opened #326 "duplicated changelog"
https://github.com/ivadomed/ivadomed/releases/tag/v2.0.2 and https://github.com/ivadomed/ivadomed/releases/tag/v2.0.1 (and 2.0.0) have duplicated entries, which makes it extremely confusing to know when the new feature was introduced.

new features/fixes should only be listed once, for one release.

if there is a problem when creating a new release (e.g. missing tag, problem on pypi, etc.), we sho

[2020-06-26 18:47] jcohenadad commented on #318
@lrouhier great, thanks.

a few things:
- if possible, we should not display "prepare_dataset_vertebral_labeling", but only show the function called by `__main__`
- we should add those scripts in the setup.py as scripts entry points

[2020-06-26 18:55] jcohenadad commented on #326
@andreanne-lemay for now, could you please manually remove those duplications in the release changelog? thanks! 🙏

[2020-06-26 20:19] lrouhier commented on #318
Do you mean something like this?
![image](https://user-images.githubusercontent.com/22171999/85897700-db5f0080-b7c8-11ea-8a64-a009d2b1b2a8.png)

[2020-06-26 20:54] andreanne-lemay commented on #326
Should be good now!

[2020-06-26 21:02] #326 closed

[2020-06-26 22:59] charleygros commented on #322
I am happy with this too.

I don't think it would be much changes, just few lines of wiring.
The only hesitation I have is the difference between `final_model.pt` (ie model at the last epoch) vs `best_model.pt` (model of the epoch that reached the highest score on the validation set) --> there is pros and cons to both. I personally like to decide on a case-by-case by looking at my training curves.

[2020-06-26 23:02] jcohenadad commented on #322
`final_model.pt` seems more accurate (i.e. it is indeed the final, not necessarily the best)

[2020-06-26 23:06] charleygros commented on #318
@lrouhier : I like the last design a lot, like a lot!

[2020-06-30 01:31] lrouhier opened #329 "Inconsistent parameter between CLI usage and function parameter"
Functions in script need some parameters. These parameters names and descriptions will be on the RTD. However, there is a discrepency between the flag name in the CLI and the parameters name. This is a bit confusing for now.

[2020-06-30 18:55] zougloub opened #330 "Use of print() & exit() instead of exceptions"
I just noticed that the code contains `exit()` and `print()` in what should be library code.

That should be replaced.
For example, this pattern is found a lot in https://github.com/ivadomed/ivadomed/blob/master/ivadomed/models.py#L1152

[code]

[2020-07-02 17:16] andreanne-lemay opened #331 "sct_crop_image with parameter -ref gives images with different dimensions"
When an image (with the same physical resolution as the reference image) is cropped with the command-line `sct_crop_image -ref`, the resulting cropped image doesn't have the same dimensions as the reference image. There is a 1 pixel difference in some dimensions. I suspect some sort of precision error. This occurs on the spinal cord tumor dataset, but this error is not present on all datasets.

St

[2020-07-02 17:31] #331 closed

[2020-07-03 14:15] lrouhier commented on #319
closed by #327

[2020-07-03 14:15] #319 closed

[2020-07-03 21:14] lrouhier opened #332 "Add testing for scripts"
Scripts are currently not tested in github action before being deployed. This could be fixed by calling each script in a python file and running pytest.
This was started in PR #328

[2020-07-06 13:13] #317 closed

[2020-07-06 13:13] #318 closed

[2020-07-06 13:13] #329 closed

[2020-07-06 15:40] Drulex commented on #310
Since converting the documentation to `rst`, we are now using the `autodoc` extension (https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html) which automatically generates API documentation for classes/methods. At the moment we only need to manually add new modules to the `api.rst` file since we are using `automodule`. Once a module is added, the contents (classes/methods) are automat

[2020-07-06 15:46] Drulex commented on #281
See this comment explaining how to reference python objects in the doc: https://github.com/ivadomed/ivadomed/issues/280#issuecomment-645452483

To reference files or section of files (labels), the native `:ref` capability of `rst` can be used. More info here: https://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#ref-role.

Can we close @jcohenadad ?

[2020-07-06 15:47] Drulex commented on #280
See solution in thread above (https://github.com/ivadomed/ivadomed/issues/280#issuecomment-645452483).

Can we close @charleygros?

[2020-07-06 15:49] Drulex commented on #270
Can be achieved using this method: https://github.com/ivadomed/ivadomed/issues/280#issuecomment-645452483

[2020-07-06 15:50] jcohenadad commented on #310
I agree this is much better than before. Let's keep this issue as "low priority", and see how contributors deal with updating what should be updated in the documentation. If there is repetitive mismatch between the doc and new features added, maybe we could revisit the "checking" script.

[2020-07-06 15:50] Drulex commented on #247
Solved via `autodoc` extension for sphinx. See https://github.com/ivadomed/ivadomed/issues/310#issuecomment-654314103 for more info.

[2020-07-06 17:49] Drulex commented on #262
The sample changelog script linked above looks for issues in the latest milestone, however I noticed that this project does not presently use milestones.

@jcohenadad are we going to start using milestones in this project or should the changelog script use a different logic for generating the log?

[2020-07-06 17:53] jcohenadad commented on #262
yes, i suggest we use milestones.

also, i was thinking of moving the "changelog" into its own repository (e.g. under github/neuropoly), to avoid duplication across the different projects.

[2020-07-06 18:00] jcohenadad commented on #262
here is the new repos: https://github.com/neuropoly/changelog
@Drulex i added you as maintainer

[2020-07-06 18:01] Drulex commented on #262
Ok will tweak the script to make it generic.

[2020-07-06 22:31] #280 closed

[2020-07-07 00:36] #322 closed

[2020-07-07 15:51] Drulex commented on #262
@jcohenadad can we create a valid milestone for this project? I would like to test the changelog script.

[2020-07-07 18:19] jcohenadad commented on #262
https://github.com/ivadomed/ivadomed/milestone/1

[2020-07-07 21:52] jcohenadad opened #336 "add model name convention to RTD"
here: https://ivadomed.org/en/latest/configuration_file.html#model-name
add authorized values listed in https://github.com/ivadomed/ivadomed/pull/333

[2020-07-07 22:03] jcohenadad opened #337 "Move testing data into its own repository under ivadomed organization"
and have that repos downloaded before pytest

[2020-07-08 13:23] lrouhier opened #340 "Drop Down menu for scripts"
Scripts does not have a 'drop down' menu in the index of the documentation which is not really convenient.

[2020-07-08 13:55] lrouhier commented on #340
Not sure but I think it is due to the fact that there are no titles.

[2020-07-08 22:13] lrouhier commented on #332
Testing automate training is kind of complicated for 2 reasons:
1: You need to have at least 3 images (currently the code does not work with empty test or validation set)
2: I need to check if it can run on CPU (for now it's asking for a list of GPU)

[2020-07-09 15:00] lrouhier commented on #340
An option is to create invisible title and to link them in the title. The presentation does change a bit (white sale between the function as seen here:
![image](https://user-images.githubusercontent.com/22171999/87056232-57971200-c1d3-11ea-892e-5f629c58c552.png)

[2020-07-09 15:08] jcohenadad commented on #340
why make them invisible?

[2020-07-09 15:15] lrouhier commented on #340
I removed them in the previous PR (after discussion [here](https://github.com/ivadomed/ivadomed/issues/318)). I was trying to maintain the same design

[2020-07-09 15:20] jcohenadad commented on #340
i think there is some misunderstanding here.

AFAIU, this discussion thread https://github.com/ivadomed/ivadomed/issues/318 deals with:
- missing first param
- displaying of parent modules

in https://github.com/ivadomed/ivadomed/issues/340#issuecomment-656179878, you mention about a "title". So I'm confused about what you are referring to exactly.

could you please elaborate with very specific an

[2020-07-09 15:49] lrouhier commented on #340
I was referring to this [comment](https://github.com/ivadomed/ivadomed/issues/318#issuecomment-650338193) as prepare_dataset_vertebral_labeling was the 'title'
The 'title' referred to is the header of the section (different options shown [here](https://documentation-style-guide-sphinx.readthedocs.io/en/latest/style-guide.html#headings)).  The menu create a list with these headers from the .rst fil

[2020-07-09 16:21] jcohenadad commented on #340
ah i see-- i would make the dropdown menu list the exact script name (as they are called in the CLI)

[2020-07-09 19:19] lrouhier commented on #340
Right, I guess it's clearer. I' ll change it and open a PR

[2020-07-10 17:50] lrouhier opened #343 "CodeCov"
The codecov on the main Readme.md is not working. This is an expected metric for JMLR submission. It needs to be fixed.

[2020-07-10 20:51] lrouhier opened #344 "Documentation about prepackaged model"
I don't think that we have documentations that points to the pre-trained, pre-packaged multi-center model, which is one of our singularity.

[2020-07-10 23:24] charleygros opened #345 "Tutorial coverage"
### Features to illustrate

- FiLMedUnet
- HeMIS
- Adaptative loader
- 2D models --> #309
- 3D models
- Mono channel --> #309
- Multi channel
- Multi target
- BIDS --> #309
- Transfer learning
- Cascade approach
- Segmentation --> #309
- BoundingBox Localisation
- Slice-wise classification.
- Object detection
- Training scheme: eg tune Loss, Learning Rate scheduler, transformations etc. --> #309
-

[2020-07-10 23:34] charleygros commented on #344
Very good point!
There are already on the ivadomed folder, eg https://github.com/ivadomed/t2star_sc

[2020-07-11 15:24] jcohenadad opened #346 "Create an ivadomed download function"
instead of having developers and users use curl (e.g. in tutorial, for testing) as we currently advise, we should have an ivadomed downloader. Pros:
- currently, when unpacked, bundled artifacts on github have the name of the release as suffix, which is problematic (we need to manually rename them, creates confusion, etc.)
- having a downloader, we can maintain a database listing the different URL

[2020-07-11 15:26] jcohenadad opened #347 "Issue with doc build"
observed in 9d2586e76cc07e7435fe77b02313e241be73c192

<details><summary>Documentation build</summary>

[code]

</details>

[2020-07-11 15:29] jcohenadad opened #348 "Create labels and milestones"
To faciliate changelog generation and issue sorting/assigning, as done [in SCT project](https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#pr-labels).

[2020-07-11 15:33] jcohenadad opened #349 "Add a .readthedocs.yml to configure build"
[This doc build fail](https://readthedocs.org/projects/ivado-medical-imaging/builds/11436005/) highlights that many features done by RTD are not necessary (e.g. latex build for epub). Having a config file in our repos might make things easier in the future.

[2020-07-11 15:41] jcohenadad opened #350 "Create PATH_IVADOMED variable"
This variable would be useful in tutorials (and possibly elsewhere).

[2020-07-11 17:46] lrouhier commented on #347
Will be fixed in #341

[2020-07-11 19:07] #336 closed

[2020-07-11 19:07] #340 closed

[2020-07-11 19:53] jcohenadad opened #351 "Pytest failing for py38"
-> https://github.com/ivadomed/ivadomed/pull/309/checks?check_run_id=861449688

[2020-07-12 02:35] jcohenadad opened #352 "error: invalid command 'bdist_wheel' when installing via pip"
When installing ivadomed via pip, i encounter the following issue:

<details><summary>Issue detail</summary>

[code]

</details>

Configuration:
- OS: Linux rosenberg 4.15.0-108-generic #109-Ubuntu
- Python 3.6.9 (default, Apr 18 2020, 01:56:04)  (via venv)
- pip 9.0.1

[2020-07-12 02:37] jcohenadad commented on #352
Upgrading to pip 20.1.1 solved the issue

[2020-07-12 02:37] #352 closed

[2020-07-12 20:36] jcohenadad opened #353 "Display Starting, End, Duration for training model"
It would be useful to display how long it took to train a model. I generally like when the info below is displayed at the end of a long process:
[code]

[2020-07-12 20:39] jcohenadad opened #354 "Save log of terminal printout during training"
It would be useful to save a log file of the info printed out in the terminal during training. This file could go into the `"log_directory": ` field specified in the config.json file. Intuitively, I would expect to see such log file, given the name of the json field.

[2020-07-13 00:56] charleygros opened #355 "log_directory: from config_file to ivadomed flag"
See idea [here](https://github.com/ivadomed/ivadomed/pull/309#discussion_r453376061)

So the idea would be to run:
[code]

[2020-07-13 01:40] jcohenadad opened #356 "make ivadomed a proper CLI"
With argparse-based description, usage, available flags, etc.

Related to https://github.com/ivadomed/ivadomed/issues/355

[2020-07-13 01:44] jcohenadad commented on #351
Looks like it is passing now → https://github.com/ivadomed/ivadomed/pull/309/checks?check_run_id=863552509

have you witnessed unstable tests (e.g. due to randomization, precision issues, etc.)?

[2020-07-13 02:02] charleygros commented on #351
It is failing now and then yes. I increased the probability of random effect in the test so that we should be able to catch the error more frequently.

[2020-07-13 15:03] andreanne-lemay opened #358 "Force ElasticTransform to be called only on training"
ElasticTransform doesn't have an undo method which can cause an [error](https://github.com/ivadomed/ivadomed/pull/309#issuecomment-657607855). We should force it to be called only on training or implement an undo method if possible.

[2020-07-13 19:22] lrouhier commented on #343
[report.txt](https://github.com/ivadomed/ivadomed/files/4914631/report.txt)
 Report of code coverage so far (done locally trying to figure out a way of having an automatic report)

[2020-07-13 20:47] charleygros commented on #358
Should be caught [here](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/transforms.py#L126).
My guess is that this error is due to #335 not included in PyPi release since I cant reproduce this error with master.

[2020-07-13 21:03] jcohenadad commented on #347
now fixed (lost track where it was fixed)

[2020-07-13 21:03] #347 closed

[2020-07-13 22:15] jcohenadad opened #359 ""This website is under construction." → maybe we can remove?"
maybe we can remove this disclaimer in the website now?

[2020-07-13 22:16] jcohenadad opened #360 "Add sexy image at the beginning of RTD website"
something that gathers key concepts: segmentation, labeling, etc.

[2020-07-13 22:27] andreanne-lemay commented on #358
Ah I see what you mean, but it seems like `ElasticTransform` has attribute `undo_transform` (https://github.com/ivadomed/ivadomed/blob/master/ivadomed/transforms.py#L127), at least on my local computer, it doesn't go through this condition. Probably because it is child of the class `ImedTransform`, so by default the method exists even if it's not implemented?

[2020-07-13 22:39] andreanne-lemay commented on #358
As mentioned in my previous comment, removing the [method `undo_transform` of ImetTransform](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/transforms.py#L81) solves the issue.

[2020-07-13 23:13] charleygros commented on #358
Yep Zuper :)
Implemented in [95e5a57](https://github.com/ivadomed/ivadomed/pull/309/commits/95e5a57aa62fdbf8b9ca0cfaacd491030958c67f)

My point was that we should not go through this error if the config file is correct (ie Elastic only for training --> undo never called) since #335 is merged. But I agree with you that it's even better with this additional layer of safety.

[2020-07-13 23:22] charleygros commented on #359
I think we can confidently remove this disclaimer :see_no_evil:

[2020-07-15 22:52] lrouhier commented on #343
We can have an automatic report here https://coveralls.io/github/ivadomed/ivadomed?branch=lr/increase_cov, however there is a few issue, training code will be a pain to run (as well as evaluation and other). We have something that works, yet, we are not close at all to 100 %.

I went to check Monai and they basically don't have the training loop as a script, but they show it onside a tutorial so t

[2020-07-16 15:27] jcohenadad commented on #343
is code coverage affected by scripts _outside_ the ivadomed package? if so maybe we can consider moving them out?

[2020-07-16 15:39] lrouhier commented on #343
We can choose the base folder to be ivadomed and in that case we won't consider the one _outside_.  We can also exclude files (as explained in pytest-cov [doc](https://pytest-cov.readthedocs.io/en/latest/config.html)).
We can think about it because then we'll have a good score but some uncovered score, I don't know how that would be perceive

[2020-07-16 15:46] jcohenadad commented on #343
if there is a good justification to not cover part of the code, it should be fine. and it seems like this situation (training script) is a pretty good justification. @Drulex ?

[2020-07-16 16:18] Drulex commented on #343
I think it's a matter of preference. Personally I'm not too impressed by the coverage % metric which focuses on lines/path covered (but doesn't consider the sequences/logical paths).

I would say that everything in the core api `ivadomed.ivadomed` needs to be covered. In general, every feature of the package should be covered. If the package offers training functionality, then it would make sense

[2020-07-19 22:56] #353 closed

[2020-07-20 11:23] charleygros opened #368 "Optimal bin threshold based on ROC analysis"
The choice of a bin threshold is always so critical... and can be so subjective when based on expert judgement or horoscope predictions.

A more robust way would be to run a ROC analysis using the trained model and the validation sub dataset.
We could use the param `binarise_predictions`, see [here](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/config/config.json#L75), to trigger this

[2020-07-20 16:45] lrouhier opened #369 "Uncertainty quantification is not robust to 4D inputs"
Uncertinty is computes on a single 3D, however the output is (H,W,D,C) now to accomodate for multichannel. This does not seem to work anymore and needs to be fixed. By looping over the channels it should be possible to make it work on multichannel/multilabel images as well.

[2020-07-21 02:57] jcohenadad opened #373 "Update contribution.rst with information about labels"
this could be added to ivadomed's contribution guideline: https://github.com/neuropoly/spinalcordtoolbox/blob/master/CONTRIBUTING.rst#pr-labels

[2020-07-22 14:29] lrouhier commented on #346
Is it a problem to use the [code](https://github.com/neuropoly/spinalcordtoolbox/blob/253936cfc07712c587d9f4cfbbcb760f151172f0/spinalcordtoolbox/download.py#L107) from spinalcordtoolbox for this function ? (not import it to avoid cross dependency but duplicate it)

[2020-07-22 14:30] jcohenadad commented on #346
i would be ok with it. @Drulex @kousu ?

[2020-07-22 15:56] Drulex commented on #346
I don't see a problem.

[2020-07-23 01:42] charleygros opened #380 "Add test for training_curve script"
Once testing_data moved to the new repo.

[2020-07-28 01:23] #368 closed

[2020-07-28 20:17] lrouhier opened #388 "Metadata issue in center crop with visualize_transform."
error:
[code]

step to reproduce :
download data from data-testing (https://github.com/ivadomed/data-testing) and put all file in a folder named testing_data

run:  `ivadomed_visualize_transforms -i testing_data/sub-unf01/anat/sub-unf01_T1w.nii.gz -n 2 -c testing_data/model_config.json   -o visualize_test`

[2020-07-29 18:24] lrouhier commented on #369
[code]

[2020-08-05 06:59] kousu opened #391 "Remove testing data."
the `testing_data/` folder is to be replaced by an external package (# Previosu testing data (located in this repo) will need to be removed in order to reduce repo size and because we won't use it anymore.

_Originally posted by @lrouhier in https://github.com/ivadomed/ivadomed/pull/385#issuecomment-668788207_

[2020-08-07 19:26] jcohenadad opened #392 "Create testing data on the fly if the image content is not used"
In https://github.com/ivadomed/data-testing/pull/2, testing-data are being created to run a series of test for ivadomed.

However, many of the labels are not reflecting the anatomical content of the image, e.g. lesion-manul are random boxes, and labels-discs-manual is a random point.

The problems with that approach are:
- those dummy labels could equally be created on the fly by the unit test,
-

[2020-08-07 20:40] #346 closed

[2020-08-09 20:01] #388 closed

[2020-08-10 17:30] jcohenadad opened #394 "Have ivadomed installed by RTD to avoid having the imports inside conf.py"
Currently, conf.py includes a lot of ivadomed imports to be able to render the API doc. This is no more necessary with the .readthedocs.yml config file, where ivadomed can be installed with pip there.

[2020-08-10 20:48] #369 closed

[2020-08-10 20:55] lrouhier commented on #380
I tried to implement it (called CLI). The issue is that training curve needs tensorflow, which is not in the requirements... We need to modify that I suppose.

[2020-08-10 20:58] jcohenadad commented on #380
you mean: add the requirement or change something in training_curve to avoid that dependency?

TF is a heavy dependency, buggy, so i'd rather avoid adding it

[2020-08-11 13:08] lrouhier commented on #380
I meant that we need to change one or the other. We are looking into a soliution that would not require to use tensorflow as a dependency.

[2020-08-11 23:34] charleygros opened #395 "test_metrics: use pytest.mark.parametrize in test_metrics.py"
As done in `test_losses.py`.

[2020-08-13 20:34] lrouhier commented on #355
I Think it was Fixed in #374 (see https://github.com/ivadomed/ivadomed/pull/374#issuecomment-661850799 )

[2020-08-13 20:40] lrouhier commented on #359
PR open (#397)

[2020-08-13 21:36] #359 closed

[2020-08-19 22:14] #380 closed

[2020-08-20 23:06] charleygros opened #407 "Tutorials: make available a pre-trained model to use at inference time"
For both `cascaded_architecture.rst` and `uncertainty.rst`.

See [comment](https://github.com/ivadomed/ivadomed/pull/399#discussion_r471555553).

[2020-08-24 15:44] jcohenadad opened #413 "RTD menu lost one heading 1"
i just went to the RTD and noticed that an enclosing parent heading was missing for those sub-items:
![Screen Shot 2020-08-24 at 11 43 25 AM](https://user-images.githubusercontent.com/2482071/91065980-1e89f400-e5ff-11ea-99cc-d6ecf931fd28.png)

[2020-08-24 22:29] andreanne-lemay commented on #407
We want to add a pretrained model of spinal cord segmentation for tutorials. There is already a repo for the dataset. The idea would be to add another repo containing the pretrained model that would be a submodule of the existing dataset. This way they are in different repos, but they are downloaded together, so only one download is required for the user.

@kousu or @Drulex Could you give us a han

[2020-08-25 12:24] Drulex commented on #407
It depends on a few things, but I think the general direction we want to go towards is the following:
- Large datasets should be version controlled using `git-annex`
- Re-usable datasets should be in their own repositories

If the pre-trained model is only relevant for this project/tutorial it would make sense to track it in this repository. Using `git-annex` instead of a submodule makes more sens

[2020-08-25 14:41] jcohenadad commented on #407
@Drulex let me add a bit more context/specs:
- The dataset in question is not very large (~450MB), so it is fine to keep it under Github. Introducing git-annex here will come with additional burden: users will don't know how to install git-annex, they will select the wrong version, blablabla --> we don't want to have to deal with these issues.
- The model is only a few MBs
- This dataset + model a

[2020-08-25 14:49] andreanne-lemay commented on #407
For now I can proceed this way; put the model with the tutorial's dataset. If we decide it is cleaner to have it in another repo, we can always move it.

[2020-08-25 21:30] jcohenadad opened #418 "missing an entry for script in RTD?"
https://github.com/ivadomed/ivadomed/blob/master/ivadomed/scripts/training_curve.py

[2020-09-01 14:27] #395 closed

[2020-09-01 20:27] lrouhier commented on #343
This was closed thanks to multiple PR (#422 , #414, #385, #406 , #403, #408, #410 , #412 ). Code cov is now at 91 %

[2020-09-01 20:27] #343 closed

[2020-09-01 20:28] lrouhier commented on #332
done in #385 and #403

[2020-09-01 20:28] #332 closed

[2020-09-01 21:34] #413 closed

[2020-09-01 21:35] lrouhier commented on #360
Done in #419

[2020-09-02 15:15] #360 closed

[2020-09-03 00:55] lrouhier opened #428 "Information about used sphinx version"
We do not provide information about the used sphinx version to built doc locally. The RTD version is fixed to 1.8.5 (for now). The different version can have different behavior so the local doc and the online doc might look different.
After a discussion with @kousu we have three options:
* Add the information in the wiki
* add right sphinx version to the requirements (note: might conflict with oth

[2020-09-03 01:00] kousu commented on #428
https://docs.readthedocs.io/en/stable/builds.html#understanding-what-s-going-on says

so they are recommending the fourth option.

You could maybe change .readthedocs.yml to read

[code]

and put this into `docs/requirements.txt`:

[code]

[2020-09-03 01:09] kousu commented on #428
I'm against this option because it means that you'll end overwriting peoples' sphinx versions if they use it, and forcing them to install extra code they don't need if they don't.

It's pretty typical to have multiple sets of dependencies. e.g. https://github.com/scikit-image/scikit-image/tree/536f2c8ba856bf93542e9c64cb943d12d1f90a8d/requirements does it. They use it like this:

https://github.com

[2020-09-03 01:11] kousu commented on #428
You can also sidestep the issue by putting

[code]

instead of what https://github.com/ivadomed/ivadomed/commit/45231e7b55d27e21cadb3991d1f0ef674fcb946e did

[code]

[2020-09-03 01:11] jcohenadad commented on #428
isn't that the same argument for all that is listed in the requirements.txt?

[2020-09-03 01:24] lrouhier commented on #428
compilation failed see https://readthedocs.org/projects/ivado-medical-imaging/builds/11799110/,  I guess we do need to put in the official requirements ?

[2020-09-03 02:11] kousu commented on #428
Maybe we're talking about different things?

Okay so that was wrong. It's probably supposed to be

[code]

I found https://github.com/readthedocs/readthedocs.org/issues/5350 which is helpful; their config [reads](https://github.com/duetosymmetry/qnm/blob/1f5560fe70c6c4afc5ef70ea0c2a3fc57e30a5f3/.readthedocs.yml#L3-L11)

[code]

Curiously, they seem to be using *both* extras (method four) and docs/

[2020-09-03 02:27] kousu commented on #428
@lrouhier I have a proposed fix in https://github.com/ivadomed/ivadomed/pull/429

[2020-09-03 02:32] lrouhier commented on #428
Yeah I get it. I tried the other way around (force the use of sphinx 3.2.1 in the RTD) but the issue I am trying to fix is still not resolved so I am not sure how to check which sphinx version was used for the build...

[2020-09-03 02:33] kousu commented on #428
There's another-other fix too:  they have a "feature flag" called [`USE_SPHINX_LATEST`](https://github.com/readthedocs/readthedocs.org/blob/ecac31de54bbb2c100f933e86eb22b0f4389ba84/readthedocs/doc_builder/python_environments.py#L380). I haven't figured out how to turn it on yet, but it's probably settable in .readthedocs.yml.

[2020-09-03 02:35] kousu commented on #428
as for the problem with the emdashes, what about trying https://github.com/ivadomed/ivadomed/issues/428#issuecomment-686172227 ?

[2020-09-03 02:35] lrouhier commented on #428
.

ok found it it is using the right sphinx version maybe it is a sphinx rtd-theme mismatch ?

[2020-09-03 02:36] kousu commented on #428
Ah nevermind, you have to bug them about it: https://docs.readthedocs.io/en/stable/guides/feature-flags.html

so that's not a good solution.

[2020-09-03 02:37] lrouhier commented on #428
Yeah But I don't know if that is great visually ( because text is then red and in a separate square)

[2020-09-03 02:42] kousu commented on #428
You could write `&hyphen;&hyphen;`?

[2020-09-03 03:26] lrouhier commented on #428
I guess Yes somethinhg like this could work (like rst command)

[2020-09-03 19:31] lrouhier commented on #428
I have figured out another possible way (but it only deals with the hypen vs endash situation). You can just create a basic command that say that '|--|' represent '--' in html. I did pinned the right shinx version but this is still an issue. I think it comes from the context added to the conf.py file by rtd but I can't seems to test that locally.

[2020-09-03 19:41] lrouhier commented on #428
So Basically the version is pinned but then there is some more extension and all that are added so... I am not sure If that is that good. The command is good if we don't have more issue like that. Any thought?

[2020-09-04 03:40] lrouhier commented on #428
RTD add some extension andsome command to the conf.py file in the end. The right answer after discussion with Nick seems to use ``--flag``. Eventhough it changes the visual it will allow the user to spot the flag and it won't change between version.

[2020-09-04 17:08] kousu commented on #428
e.g. in https://readthedocs.org/projects/ivado-medical-imaging/builds/11811212/ the "cat docs/source/conf.py" section shows

<details>

[code]

</details>

that is appended to `docs/source/conf.py`. That page also shows they run sphinx as

[code]

which is similar but potentially subtly different than what `cd docs; make html` does. The biggest difference is that it uses `-b readthedocs` (aka [`re

[2020-09-04 17:08] #428 closed

[2020-09-06 22:14] charleygros commented on #358
Closed via #309

[2020-09-06 22:14] #358 closed

[2020-09-06 22:16] charleygros commented on #407
Done in #399

[2020-09-06 22:16] #407 closed

[2020-09-06 22:16] charleygros commented on #356
Done in #374.

[2020-09-06 22:16] #356 closed

[2020-09-06 22:17] charleygros commented on #355
Done in #374

[2020-09-06 22:17] #355 closed

[2020-09-09 20:22] mariehbourget commented on #301
The propostition is now an official BEP (BEP031 - Microscopy): https://bids.neuroimaging.io/bep031

[2020-09-09 22:47] mariehbourget commented on #302
For the example dataset, we'll use the ADS SEM_dataset version 2 (data1, data5, data9, data10, data11, data12, data14, Maxo3_img60 and V9_15) + the testing image of the default_SEM_model version 5 (data15) in PNG format.

Based on ADS paper and the Readme of the dataset, it seems that data 9, 10 and 11 are from the same subject. All others seem to be from different subjects. I think the best would

[2020-09-14 15:01] jcohenadad opened #432 "Another toolkit to add to the comparison table: DeepNeuro"
https://link.springer.com/article/10.1007/s12021-020-09477-5

[2020-09-14 19:15] lrouhier commented on #432
I will add it. That is weird because it looks like it is no longer maintained (the publication is new but the last code commit date back 10 months ago)

[2020-09-14 20:01] lrouhier commented on #432
Added in PR #433

[2020-09-14 20:13] lrouhier opened #434 "Wrong image size while using center crop"
While working with sct testing large, I cannot use a bigger batch size than one because there is a mismatch in images dimension in the batch. I am using a center crop after a resampling which should be enough to ensure same size images.  As the dimension of the image are really different across the dataset, some needs to be padded and others need to be cropped.
After a little digging, I think that

[2020-09-14 20:23] #418 closed

[2020-09-14 22:42] charleygros commented on #434
Thanks @lrouhier for reporting this.
Could you please share or add in `duke/tmp/` the config file you used to raise this issue? Cheers

[2020-09-15 14:27] lrouhier commented on #434
The config file is now in duke/temp/lrouhier/Centercrop_issue, tell me if you have access but I think you should be able to access it.

I launched two training sequentially, here are the errors I get:
test 1:
`RuntimeError: stack expects each tensor to be equal size, but got [1, 250, 497] at entry 0 and [1, 250, 502] at entry 1`
test 2:
`RuntimeError: stack expects each tensor to be equal size, bu

[2020-09-15 14:32] lrouhier commented on #434
I created a second config file (name config_file_smaller_test.json), with a centercrop with a much smaller size (50x50) and it works, So it appears that if all images are cropped (because they are all bigger than 50x50) there does not seem to be a problem. Maybe it is more of a padding issue. Let me see what happens if I pad all the images.

[2020-09-15 15:12] lrouhier commented on #434
Here are some stat about the image:
min size_x (RL) : 70
max size_x (RL): 71
min size_y (IS): 160
max size_y (IS): 733

I tried to pad only on the first axis (x) with a center crop of size (75,50), it worked. Now If I pad with center crop of size (250,50), I get an error. Same as before the size is not constant. Which means the images have different behavior.

Test 1 failed with different size in

[2020-09-15 20:43] lrouhier commented on #434
Update: I tried with another dataset (name small_ds in duke/temp/lrouhier/centercrop_issue), which are just extracted subject from sct_testing/large. I cropped some of them to try to recreate the condition and it does seem to work maybe I will need to crop it further (the difference between image is equal to or lower than 15 voxel in a single direction)

[2020-09-16 04:05] charleygros commented on #434
I may be very wrong.. but this kind of error does not sound like the error is coming from the cropping or the padding .. but rather from the data itself OR the configuration of the training!
Let me explain: the two dimensions fit (1 and 250) but the third one does not. However.. as far as I understand you are using a 2D network --> so it should not be a problem that the third dimension differs.

W

[2020-09-16 04:18] charleygros commented on #434
Solved by adding:
[code]
to `Resample` :-)

Explanation:
You had `preprocessing` for the Cropping but not for the Resampling --> so it was Cropped THEN Resampled which caused the issue you encountered.

[2020-09-16 13:43] lrouhier commented on #434
Great catch thanks, i didn't think about that because the order seems right! What about adding a warning in the doc or making postprocessing=True as a default option ?

[2020-09-16 14:51] jcohenadad opened #438 "Formatting problem for lists"
commit: a87f8199

Rendering of some lists on RTD is not properly done:
- https://ivadomed.org/en/latest/configuration_file.html#default-model-mandatory
- https://ivadomed.org/en/latest/configuration_file.html#uncertainty

[2020-09-16 14:55] jcohenadad commented on #434
I'm trying to understand the problem in order to help advising. Firstly, I don't find the field "preprocessing" in https://ivadomed.org/en/latest/configuration_file.html#

Am I looking at the right place?

Also, in general, I am not in favour of adding warnings in the doc to avoid that problem. A typical user vaguely glances at the doc to get some specific answers about how the software works, and

[2020-09-16 15:08] lrouhier commented on #434
I think that you are. It is an option for the transformation (so that you don't crop your image every epoch for example) so it should be with the transformation explanation. It needs to be added.

I guess it would make more sense to add a checker than to use the default option I think because other transformations might influence the results depending on the order.

[2020-09-16 18:15] lrouhier commented on #438
Started working on it (branch lr/doc_list_format). What do you think about https://ivadomed.org/en/latest/configuration_file.html#scheduler ?
Is this better?
![image](https://user-images.githubusercontent.com/22171999/93376037-02a4f700-f827-11ea-8fbf-e0eff8d04b52.png)

[2020-09-16 23:35] charleygros commented on #438
@lrouhier Yep Züper! Thanks heaps

[2020-09-16 23:38] charleygros commented on #434
We decided to go with the following code-based solution:
- remove the `preprocessing` parameter
- force `Resample` and `*Crop` to be done only once (ie preprocessing) if they are present in the config file.
- document the fact that these transforms are only performed once, when loading the dataset
- @andreanne-lemay will lead this code change

[2020-09-17 17:26] andreanne-lemay opened #439 "Uncertainty as post-processing step"
Currently uncertainty computation is available on ivadomed, but the generated information is not used to improve the segmentation.

Related tasks:
- Pipeline to find the best uncertainty for a given task
- Post-processing function to modify predictions with uncertainty
- Implement new forms of uncertainty

[2020-09-17 17:31] andreanne-lemay opened #441 "Multi GPU processing"
A given training can only be performed on a single GPU. Multi GPU processing is found in other repos similar to ivadomed ([MONAI](https://github.com/Project-MONAI/MONAI), [Delira](https://github.com/justusschock/delira), [MIScnn](https://github.com/frankkramer-lab/MIScnn), [NiftyTorch](https://niftytorch.github.io/doc/)). This new feature could make more accessible training on large dataset such a

[2020-09-17 17:35] andreanne-lemay opened #442 "Addition of new models"
Other repos similar to ivadomed (e.i. [ANTsPyNet](https://github.com/ANTsX/ANTsPyNet), DLTK (https://github.com/DLTK/DLTK) )  have a variety of models like auto-encoders, GANs, or super-resolution models. Currently, we have segmentation and classification models.

[2020-09-17 17:37] andreanne-lemay opened #443 "Add Attention to 2D UNet"
The attention module is only available for 3D UNet. Adding the option to have 2D attention UNet would make ivadomed more modular.

[2020-09-17 17:40] andreanne-lemay opened #444 "Generalize FiLM's application"
Make FiLM accessible for 3D and multichannel models. FiLM can currently take as feature contrasts or MRI params, but this could be generalized. For example, FiLM could take as input the tumor type to influence segmentation.

[2020-09-17 17:48] andreanne-lemay opened #445 "Create models outside neuroimaging and MRI"
Currently, multiple models were trained for neuroimaging applications and uniquely from MRI data. As a proof of concept that ivadomed is flexible in terms of applications and modalities, we could use other types of datasets: organ segmentation from CT scans for instance. A lot of varied datasets are available from challenges (https://grand-challenge.org/challenges/). These models could then be mad

[2020-09-17 20:54] mariehbourget commented on #301
Relevant discussion on BIDS mailing list concerning Organ/Location/BodyPart metadata field: https://groups.google.com/g/bids-discussion/c/sJDm5FPnAfg

[2020-09-18 14:10] clem-L opened #448 "issue with one-class segmentation tutorial"
Hi,

I tried to do the one-class segmentation tutorial.
I don't think I got execution errors on the train or eval part but Dice score are not as good as in the tutorial.
Pred_mask take some voxels far from the spinal cord.

What should I change to get same results as in the tutorial ?

`Loading model: spineGeneric/best_model.pt
Inference - Iteration 0: 100%|████████████████████| 5/5 [00:08<00:00,

[2020-09-18 14:37] andreanne-lemay commented on #448
Hi @clem-L , thank you for opening this issue! Can you share the configuration file you used to train the model? It might help us to figure out what to change in order to have a better performance.

[2020-09-18 14:56] clem-L commented on #448
Here the configuration file that I used:

{
    "command": "train",
    "gpu": 0,
    "log_directory": "spineGeneric",
    "model_name": "seg_sc_t1_t2_t2s_mt",
    "debugging": false,
    "object_detection_params": {
        "object_detection_path": null
    },
    "loader_parameters": {
        "bids_path": "/mnt/software/sct_4.3/data/data_spinegeneric_registered",
        "target_suffix": ["_seg

[2020-09-18 17:11] andreanne-lemay commented on #448
@clem-L Everything looks good to me in the configuration file. How was the loss progression during the training? If you don't have the prints in your terminal, you can visualize the training on tensorboard by executing this command in the location where you ran the training: `tensorboard --logdir spineGeneric` (spineGeneric being the name of your log directory). You can then access in your browser

[2020-09-19 23:23] #438 closed

[2020-09-21 10:27] clem-L commented on #448
Hi,
Here I include screenshot of the validation metrics but I can't see the image predictions.
I am not sure but the loss progression seems OK ?

![tensorboard](https://user-images.githubusercontent.com/71508966/93755784-2cce2e80-fc04-11ea-9ae8-040cc833a375.png)

[2020-09-21 10:39] charleygros commented on #448
Hi @clem-L ,

Thanks for sharing your TensorBoard! Looks good to me as well

May I ask you which version of `ivadomed` are you using?
Are you using the `ivadomed` installed with SCT? cf [here](https://github.com/neuropoly/spinalcordtoolbox/blob/master/requirements.txt#L5).
If so, may I ask you to update the `ivadomed` version to the latest version (v2.1.0 or `master`)? see documentation [here](htt

[2020-09-22 09:34] clem-L commented on #448
Hi,

I work under a virtual environment and installed ivadomed with pip.
I tried to run the inference again and got voxels far from the spinal cord.

![new_tensorboard](https://user-images.githubusercontent.com/71508966/93865671-eab9f100-fcc6-11ea-86f3-33182cdbd4e0.png)

![new_segmentation_2](https://user-images.githubusercontent.com/71508966/93865685-f0173b80-fcc6-11ea-86b8-4091d323e147.png)

[2020-09-22 11:04] charleygros commented on #448
Hi @clem-L ,

Many thanks for your answer.

May I ask you to run the following command and to copy and paste the terminal output here:
[code]

I am scared that you are not using the last version of `ivadomed`. For instance in the config file you posted [here](https://github.com/ivadomed/ivadomed/issues/448#issuecomment-694917382), the parameter `binarize_prediction` has the value `true`, which is

[2020-09-22 15:42] lrouhier commented on #434
closed with #446, avoid future error.

[2020-09-22 15:42] #434 closed

[2020-09-22 22:19] olix86 commented on #448
Hi @clem-L

We just released a new version (2.2.1) which should fix your issue, you can upgrade with `pip install ivadomed --upgrade`.

Let us know if the issue persists,

Olivier

[2020-09-23 20:39] mariehbourget opened #454 "Questions/comments on tutorials"
Hi everyone!
I’m beginning to work with ivadomed and I tried the tutorials (with version 2.2.1 in a virtualenv python 3.8). They are great to understand the usage and features of the software. 😊
As a new user, I have a few questions and comments.

[Tutorial 1: One-class segmentation](https://ivadomed.org/en/latest/tutorials/one_class_segmentation_2d_unet.html)
- I trained for only a few epochs on

[2020-09-23 20:59] andreanne-lemay commented on #454
Thank you so much for your feedback! We will correct the tutorials according to your comments :100:

[2020-09-23 21:16] jcohenadad opened #455 "Fetch ivadomed version that is being used"
In order to make sure what version users are using, it would be great to fetch and display version and git commit SHA, [as done for SCT](https://github.com/neuropoly/spinalcordtoolbox/blob/master/spinalcordtoolbox/utils.py#L461)

[2020-09-25 07:15] clem-L commented on #448
Hi,

I upgrade to the new ivadomed version and I got same results as in the tutorial.

[2020-09-25 07:15] #448 closed

[2020-09-25 19:25] lrouhier opened #457 "Correct way to update stored model"
Some pre-trained models are now stored on a repository (e.g., https://github.com/ivadomed/model_find_disc_t2 ).
These models are made to be used in spinalcordtoolbox. However, updating the model will increase the size of the repo (it will add the size of the model), which could be a problem.
Is there a way to update the model's weight without increasing too much the repo size?

[2020-09-25 19:28] jcohenadad commented on #457
size of the repos is not a problem because users are downloading release artifacts, not the actual repos-- or am i missing something?

[2020-09-28 18:20] lrouhier commented on #457
No you are right. The issue will remain from a developper standpoint. Though it is possible to use git clone --depth 1 to avoid downloading the repo all the time.

[2020-09-28 20:29] #455 closed

[2020-09-28 23:10] charleygros commented on #457
After discussing with @lrouhier , it sounds like we can close this issue.

[2020-09-28 23:10] #457 closed

[2020-09-30 18:30] lrouhier commented on #454
Fixed with #461

[2020-09-30 18:30] #454 closed

[2020-09-30 18:57] #432 closed

[2020-10-01 17:53] andreanne-lemay opened #462 "Can't convert FiLM UNet to .onnx"
Warning while trying to save FiLM UNet as .onnx
![image](https://user-images.githubusercontent.com/49137243/94845282-77faf500-03ed-11eb-98e1-9b47dc069f2e.png)

[2020-10-01 20:15] lrouhier opened #463 "Add "soft thresholding" post processing"
It would be useful to have a soft thresholding/ denoising function for soft output.
The idea would be to put all value below a certain threshold to 0 and kept the other one. This would allow us to clean soft output if needed.
See example below :
![image](https://user-images.githubusercontent.com/22171999/94858653-5efc3f00-0401-11eb-927c-cebf56ef8c68.png)

[2020-10-05 01:15] charleygros commented on #463
@lrouhier : I think that what you are looking for is essentially this: [here](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/utils.py#L115) --> we would need to adjust this value via a post-processing parameter instead of hardcoding.

[2020-10-05 01:24] charleygros opened #464 "Post-processing refactoring"
I am trying here to summarize several discussions that, overall, all talk about post-processing.

Limits / issues of the current implementation:
- Prediction file is saved during `testing`.. which is then opened by `evaluation`, post-processed, compute metrics --> disprecancy between what is saved and what is evaluated
- We have some post-processing functions, but they are, mostly, unused in the `

[2020-10-05 18:14] lrouhier commented on #463
You are right, we could use value 0 to have the same behavior as "denoise = False" . I will look into that :)

[2020-10-07 00:50] jcohenadad opened #466 "Make promotional "pitch" video"
To put it on the website and advertise is on @ieee8023 youtube channel

[2020-10-07 20:01] mariehbourget commented on #304
I ran some preliminary tests (Unet2D, 1 contrast, 1 label, Center Crop) with the SEM example dataset in PNG format.
This is a breakdown of the 4 main issues I found so far. Specific smaller issues and PR will be open to address them separately.

1. Sample filename and split

- BIDS microscopy uses filename `sub-label_sample-label_modality.png` with multiple samples per subject.
- BIDS microscopy h

[2020-10-07 20:16] mariehbourget commented on #303
For the loader part, I ran some preliminary tests (Unet2D, 1 contrast, 1 label, Center Crop) with the SEM example dataset in PNG format.

Loader parameters:
- `slice_axis` is specific to 3D volume, I used the default `axial` for 2D microscopy images.

Split dataset parameters:
- We would need a method `per_sample` for microscopy (because each subject have multiple samples)

Transforms parameters:

[2020-10-07 22:29] olix86 opened #468 "Dice > 1"
On GM dataset, hard training :
![image](https://user-images.githubusercontent.com/5721601/95394642-ea2a7880-08ca-11eb-8f4d-7c848e9be097.png)

[2020-10-07 22:34] andreanne-lemay opened #469 "Naming convention for paper related repos"
Suggestions of naming conventions:
- author1_author2_author3_date
- title_of_the_paper
- free for all

@jcohenadad

[2020-10-07 22:42] jcohenadad commented on #469
i've often seen paper repos written with "paper_XX", XX being an obvious identifier for the paper. Eg in your case, something like: `paper_softseg`

[2020-10-07 23:11] andreanne-lemay commented on #469
article_softseg looks good to me @charleygros  what do you think?

[2020-10-08 00:25] charleygros commented on #469
Oh Yeahh! `paper_softseg` sounds great

[2020-10-08 00:28] charleygros commented on #468
eheh this model is bloody good hum

As mentioned, I would recommend checking the values of the input arrays, [here](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/metrics.py#L92).
If that's the source of the error --> what about throwing an error if values are out of the range [0, 1] to avoid such error?

If that's not the source of the error... well... that's concerning eheh... so let'

[2020-10-08 00:36] charleygros commented on #303
If your data are PNG, I am assuming there is no header so slice_axis does not really makes sense indeed. `axial` is a good workaround but it may be confusing.. We may want to consider setting it to `None` instead?
Do you happen to have 3D microscopy images? what would be their format?

Yup!
Just for me to understand: how do you imagine this split to work? per subject AND per sample.. or ONLY per s

[2020-10-08 00:48] charleygros commented on #304
Would it be possible to drop here a screenshot (ie organisation & hierarchy) of one of your BIDS dataset? so that we could be more familiar with it.

I would be happy to absorb the code of `bids_neuropoly` within `ivadomed`. And as you suggested, we should pull a pair (filename_image, filename_gt) instead of `Participant-ID`. Or.. alternatively.. to adjust the code for your needs.. could we pull `

[2020-10-08 01:44] #469 closed

[2020-10-08 15:11] jcohenadad opened #470 "Various refactoring and adding a few comments throughout the code"
Digging into the code, there are a few places that would benefit from additional comments/justifications, and potentially refactoring. These are listed below, feedback welcome:

- Justification for copying the dict: https://github.com/ivadomed/ivadomed/blob/ae01ba53ca0162a8fe6d6893550901442c3482d4/ivadomed/main.py#L108

[2020-10-08 18:14] olix86 commented on #468
[code]

[2020-10-08 18:16] andreanne-lemay commented on #468
I am relieved! Great news :')

[2020-10-08 21:09] mariehbourget commented on #302
First version of the example dataset in PNG format is released [here](https://github.com/ivadomed/data_example_microscopy_sem/tree/r20201008) (r20201008)

[2020-10-08 21:32] mariehbourget commented on #303
Thanks @charleygros for your feedback!

You are right, with PNG, there is no header and we could consider `None`.
However, as the BIDS extension proposal progress, it is likely that the format will be OMETIFF for 2D and 3D images. (OMETIFF has metadata and is a 5D format: X, Y, Z, channel, time).
I don't have OMETIFF datasets but examples can be found [here](https://docs.openmicroscopy.org/ome-mod

[2020-10-08 21:42] mariehbourget commented on #304
As a reference, the first version of an example dataset in PNG format can be found [here](https://github.com/ivadomed/data_example_microscopy_sem). The subject `sub-rat3` is an example of subject with multiples samples.
The directories/files hierarchy template is [here](https://docs.google.com/document/d/1Nlu6QVQrbOQtdtcRarsONbX5SrOubXWBvkV37LRRqrc/edit#heading=h.u74jn2j38xmd) in the official BIDS

[2020-10-09 06:31] charleygros commented on #304
Could you please point out what you are referring to here? Are you refering to `ivadomed/loader/utils.py`.
Data management is very much done by the files in this folder: `ivadomed/loader` and by [bids-neuropoly](https://github.com/neuropoly/bids_neuropoly/blob/master/bids_neuropoly/bids.py). We are hoping to absorb the latter within ivadomed in a near future.

[2020-10-09 06:35] charleygros commented on #304
Very helpful, thank you!

To summarize the differences between MRI and microscopy, I can see:
- `anat` vs `microscopy` folder
- `.nii,gz` vs `.png`
- `subXX_contrast*` vs. `subXX_sample_contrast*`

Am I missing something?
Looks manageable / on our reach :-)

[2020-10-09 06:38] charleygros commented on #302
Sounds great to me!

[2020-10-09 06:44] charleygros commented on #470
I am highly suspecting that's probably not the proper way to do it.. but: this dictionary is used by different functions, that will potentially alter it within a given function. This alteration led to bugs in the past. A solution to save an original version of this dict  (ie equals to the config file info) was to do a deep copy of it.

[2020-10-09 12:48] #330 closed

[2020-10-09 13:56] jcohenadad commented on #470
thank you Charley-- i understand the purpose, i was just suggesting to add a comment/suggestion -- useful when reading the code

[2020-10-09 13:59] jcohenadad commented on #304
Data management is very much done by the files in this folder: ivadomed/loader and by bids-neuropoly. We are hoping to absorb the latter within ivadomed in a near future.

sorry my mistake-- i've updated my comment  https://github.com/ivadomed/ivadomed/issues/304#issuecomment-705629719

[2020-10-09 22:24] mariehbourget commented on #304
There is also the `samples.tsv` file which identify each unique samples ID and the corresponding participant ID.

[2020-10-11 21:44] charleygros commented on #470
Oh.. my bad ! I was too scared it was not the appropriate way to do eheh, okidoki
Let's feed this list now and then.. and make a PR to comment / correct these at some point

[2020-10-12 20:04] leandervaneekelen opened #471 "Registration parameters T1-T2"
Following along with [Julien's SCT course](https://www.youtube.com/watch?v=whbtjYNtHko&t=3468s) on Youtube, I have made some `_seg.nii.gz` and `_seg_labeled_discs.nii.gz` masks of a T1w and T2w image (see [script](https://github.com/ivadomed/ivadomed/blob/lve/hemis/registration_scripts/register.sh)). Using these SC/disc masks, I now want to register these images.

I (blindly) copied the default [p

[2020-10-12 20:41] jcohenadad commented on #471
given that we are dealing with isotropic resolution images, with high information content, i would forget about segmentation and vertebral labeling, and first try simply running ANTs (ie: without axial in-plane restriction), e.g., with rigid followed by SyN (with few iterations to keep it smooth).

p.s.: if you don't have ANTs but you have SCT, you can call ANTs with `isct_antsRegistration`

Anoth

[2020-10-13 21:12] jcohenadad opened #473 "Documentation: Refactor the getting started section"
suggestions:
- Replace "Models" by "Architectures"
- Add section "Models" where we would list all available pre-trained models to download
- move content of "Data" under "Usage"

[2020-10-14 21:49] andreanne-lemay opened #474 "Migrate to HDF5 loader"
ivadomed's adaptive loader currently uses HDF5 to load data and parse metadata. HDF5 allows to load data in RAM or "on the fly". Do we want to migrate ivadomed's loader to HDF5?

[2020-10-14 22:14] charleygros commented on #474
After a brief look at `hdf5` documentation and Anthime's code.. I think my preference would be to: (1) generate this pandas dataframe with filenames and images infos by checking data / derivatives availability / suitability (2) split (3) load data as numpy (4) perform preprocessing (5) save preprocessed data etc as HDF5.

[2020-10-14 22:17] charleygros commented on #474
A Con of HDF5, I ve just thought about could be the inference on a single image (ie `segment_volume`) --> do we want to systematically move to HDF5 even for this case (ie when used by SCT / ADS) --> it sounds like an "overkill" to me (but maybe it's not?). --> Should we keep the option not to convert data to HDF5 for this case?

[2020-10-15 15:43] jcohenadad commented on #474
wouldn't it be easy to _not_ have the option to save (ie bypass step 5) and simply use the variables already in RAM to perform prediction?

[2020-10-15 18:41] jcohenadad opened #475 "Change yes/no by ✅ / ❌"
Purely cosmetic: but given that the table [here](https://ivadomed.org/en/latest/purpose.html) is fairly dense, it would help visually to replace the yes/no by colorful emojis.

[2020-10-15 22:40] charleygros commented on #474
Good idea!!

[2020-10-16 15:50] andreanne-lemay commented on #474
After digging into it, I agree with Charley's suggestion.

[2020-10-18 22:28] #473 closed

[2020-10-18 22:28] #475 closed

[2020-10-19 17:06] andreanne-lemay opened #480 "Error while releasing new version"
Version number no longer appears in the __init__.py file. The version number is now parsed differently causing an error during deployment:

Now:
![image](https://user-images.githubusercontent.com/49137243/96488355-da386000-120b-11eb-9ff8-3223aa7646fc.png)

Before:
![image](https://user-images.githubusercontent.com/49137243/96488371-e02e4100-120b-11eb-83ef-282e3d7c1b65.png)

[2020-10-19 22:48] #480 closed

[2020-10-20 15:10] jcohenadad commented on #474
I'm not sure how relevant this is, but I've just came across [this blog against HDF5](https://cyrille.rossant.net/moving-away-hdf5/). Food for thoughts...

[2020-10-20 16:30] andreanne-lemay commented on #474
Very interesting post! My thoughts on this:
- "Data corruption": if the software crashes while the hdf5 file is open, the data are corrupted. I personally experienced this issue: if there is an error in the code or if you kill the process, the hdf5 file becomes unreadable. We could simply erase the file with something like a `try ... catch` when it is corrupted or have a closing procedure deleting

[2020-10-21 20:46] mariehbourget commented on #304
#### File format:
The 2020-10-20 version of the BEP now accept both PNG (.png) and OME-TIFF (.ome-tif) formats.

#### Split in train/valid/test group:
For microscopy, the following optional entities in filename anticipated with the BEP:
`ses-<label>` = session (same as MRI)
`down-<factor>` = downsampling factor
`ce-<label>` = contrast enhancement agent (same as MRI)
`run-<label>` = multiple images

[2020-10-21 21:22] jcohenadad commented on #474
@kousu @joshuacwnewton @Drulex do you have some insights/experience with dealing with HDF5? Do you have an opinion on this? We are leaning towards adopting it for ivadomed.

[2020-10-21 23:15] joshuacwnewton commented on #474
I've used HDF5 a little, but admittedly only for course projects with toy datasets. From what I understand, though, the tradeoffs are very dependent on context, e.g. the dataset (# of images, dimensions of each image, etc.)

[This article](https://realpython.com/storing-images-in-python/) has a very surface-level benchmark, but I have a feeling the data they use to demonstrate (100k small .png ima

[2020-10-21 23:40] charleygros commented on #474
Thanks for your insights Joshua :-)

Yes this one is quite representative of what we are using at the moment. But we are leaning towards bigger MRI datasets, eg [BraTS](https://www.med.upenn.edu/cbica/brats2019/data.html). And microscopy dataset that are potentially even bigger (@mariehbourget).

Motivation: We currently have two types of loaders: one on the RAM, one via HDF5 --> we would like to

[2020-10-22 01:22] joshuacwnewton commented on #474
Thank you for the quick answers! :)

IVADOMED uses PyTorch's `Dataset`/`DataLoader`... hm. I would have assumed that PyTorch would have been smart about this, considering `Dataset`'s `__getitem__` only loads images when needed, and garbage collection should clean up once images are no longer needed. I'm a little surprised there are RAM issues...

Not to go too off-topic here, but... Just out of cu

[2020-10-22 01:38] charleygros commented on #474
I have to admit I did not investigated this thoroughly. Memory leak could definitely be the reason.

I am not too sure about that. I may give the mike to someone else in case they have any ideas.

But overall.. the main motivation for migrating for HDF5 was to have a single loading process, that is compatible with different data format (`.nii.gz` vs. `OME-TIFF`) while allowing to load data either

[2020-10-22 15:33] mpompolas commented on #474
Hi all.
my understanding after reading the thread is that the transition is needed mostly for maintenance reasons - not really for disk-memory-speed.
As @joshuacwnewton mentioned, you will have to convert the entire dataset to HDF5 before running the model.
I don't think that this is a big issue for MRI datasets (regarding disk space), although every user case is different.

I designed something s

[2020-10-26 13:23] Drulex opened #487 "ivadomed not useable on fresh wheels install"
I stumbled upon this while investigating something else related to `spinalcordtoolbox`. Attempting to import `ivadomed` on a fresh wheel install fails due to `FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/lib/python3.7/site-packages/ivadomed/version.txt'`

<details>
  <summary>Detailed error log</summary>

[code]
</details>

This does not occur when performing a development i

[2020-10-26 13:45] jcohenadad commented on #487
For additional context, this behaviour was likely introduced in https://github.com/ivadomed/ivadomed/pull/481

Thank you for catching and reporting this @Drulex

[2020-10-26 15:05] #487 closed

[2020-10-26 17:03] andreanne-lemay opened #489 "__ivadomed_dir__ defined twice"
In PR #484 , `__ivadomed_dir__` is defined in ivadomed/ivadomed/utils.py and ivadomed/ivadomed/config_manager.py. When import this variable from `utils.py` or `__init__.py` circular import issues occur.

[2020-10-26 17:21] Drulex opened #490 "Project hierarchy is prone to circular dependencies"
Circular dependencies occur when `module_a` depends on `module_b` and `module_b` also depends on `module_a` (https://stackabuse.com/python-circular-imports/).

While looking at #484 I noticed that `__ivadomed_dir__` is defined in multiple places in the project and proposed to clean it up, but while doing so I uncovered some problems especially in `utils.py`:
- `utils.py` is doing too much. Classic

[2020-10-26 17:22] Drulex commented on #490
relates to #489

[2020-10-27 21:50] lrouhier opened #492 "Bump dependency to Pytorch 1.7"
Pytorch 1.7 was just released. It could be a good idea to update our requirements to use this new version.
From a development perspective, this would allow us to use CUDA 11, which could reduce the training time.
We first need to run the test (pytest) with PyTorch 1.7 to check if the change in dependency creates any bug in our code.

[2020-10-27 21:53] lrouhier commented on #490
After a first discussion this is what we come up with:
create new files:
* image.py: reorient_image , convert label to RGB
* uncertainty.py: run_uncertainty, combine_predictions, voxelwise_uncertainty, structurewise_uncertainty
* mixup.py : mixup, save_mixup_sample
* inference.py: pred_to_nib, segment_volume, volume_reconstruction, onnx_inference
* visualization.py: animated_gif, looping_Pillow_wr

[2020-10-28 01:42] jcohenadad opened #495 "Train new model for spinal cord segmentation"
### Context

SCT's current most used function for spinal cord segmentation is `sct_deepseg_sc`. With the recent introduction of `sct_deepseg`, we would like to create a new spinal cord segmentation model that would ultimately replace `sct_deepseg_sc`.

### Motivations
- `sct_deepseg` will replace all deep learning functions in SCT, facilitating the maintenance of the other individual CLIs and spec

[2020-10-28 06:36] charleygros commented on #495
A suggestion of "First step" would be to (maybe before re doing the GT / co registration):
- train a basic 2D Unet on `sct_testing/large` + `spine-generic` with "Pool all the contrasts" strategy
- run this model on an independent, heterogeneous and challenging dataset made of images with lesions, severe compressions and exotic contrasts
- identify the flaws of this model and iteratively brainstorm

[2020-10-28 17:55] jcohenadad opened #496 "Cannot use automate_training on Compute Canada cluster"
Based on internal discussions, it appears that the script `automate_training.py` does not run on Compute Canada. The problem might be coming from the allocation of specific GPUs via this script.

The purpose of this issue is to document the problem, what has been tried, the communication with Compute Canada, and (ultimately) the solution. So that, in the future, if others run into the same problem

[2020-10-28 18:11] andreanne-lemay commented on #496
Here is the email thread, I had with someone from Compute Canada. The error he mentioned in the latest email was not related to the current issue "J'ai essayé de rouler le script, et au lieu d'avoir un manque de mémoire, j'ai eu une autre erreur. ", but his hypothesis about the problem coming from our code is probably valid. After this e-mail, I got caught up with other experiments and stopped inv

[2020-10-29 19:24] lrouhier commented on #490
Update: This is well started in PR #497.
there is now 568 lines in utils.py (vs 1249 before).

I decided to leave convert_label_to_RGB in utils.py because this has more to do with tensorboard image than with regular image.
There are at least 3 functions that are used to generate or work with tensorboard images (save_tensorboard_image, convert_label_to_RGB, save_colors_labels ) Should we move them

[2020-10-29 22:47] mpompolas commented on #495
thanks @jcohenadad.

I have some trouble with VPN access to polymtl. I assume when this is resolved I will also have access to sct_testing/large (not sure where this is located yet).

I had a chat with @andreanne-lemay today and she informed me there is no need to deal with the sct toolbox repo for the training part. I will focus only on Ivadomed, correct?

I'll start with the training on my lapto

[2020-10-30 01:08] jcohenadad commented on #495
yup! i'll just need you to sign an NDA (i'm working on it)

correct

👍  note that you can also have access to compute canada-- in fact, i would like that the lab start using this amazing ressource-- one collateral benefit is that when `rosenberg` is down, research does not stop

it's under `sct_testing/large`. We need to curate it. A meeting will be needed to talk about that. For now there is alwa

[2020-10-30 06:50] charleygros commented on #490
What about in `visualization.py`?

[2020-10-30 14:50] lrouhier commented on #490
Visualization appears to be a good idea! 👍

[2020-10-30 18:01] lrouhier opened #499 "dependency issue: h5py version 3.0.0 cause test crash"
a new release from h5py was done today ( v 3.0.0 , 30/10/2020). It causes the test to crash it needs to be investigated (perhaps during hdf5 refactoring) for now we could fix the version to 2.9.

[2020-10-30 18:17] #499 closed

[2020-10-30 20:52] lrouhier opened #501 "Set version of dependency"
It could be in our interest to set the version of the used dependencies in requirements.txt.
There has already been an issue with h5py (#499) which could happend again with other packages.

[2020-10-30 21:13] jcohenadad commented on #501
My suggestion would be to use compatible release "~=" to allow the use of the latest patches in dependent packages, more info in [PEP440](https://www.python.org/dev/peps/pep-0440/#compatible-release)

[2020-10-31 21:30] joshuacwnewton commented on #501
FWIW, the approach recommended by PyPA is to keep 2 sets of dependencies: `install_requires` and `requirements.txt`. The former is the minimal requirements needed, while the latter is precise for reproducibility. You can read more about the rationale behind this [here](https://packaging.python.org/discussions/install-requires-vs-requirements/). (As an aside, we kind of use `requirements.txt` for b

[2020-10-31 21:35] joshuacwnewton commented on #501
Speaking of `~=`, I noticed we didn't use that here:

https://github.com/ivadomed/ivadomed/blob/82236b96efa126af23362f4b9c8668365d1443f0/requirements.txt#L2

As @jcohenadad mentions, `~=` might be valuable to use here instead of `==`. (I used it over at SCT.)

[2020-11-01 00:36] jcohenadad commented on #501
That makes sense @joshuacwnewton, thank you for your insight. Indeed, I was always wondering how we could follow the bleeding edge versions of all dependencies if we specify them (even with the "~=").

[2020-11-01 04:38] joshuacwnewton commented on #501
In our case it's tricky, as the material I linked to was written with developers in mind, but our target audience includes both developers and researchers. (Take SCT -- it wants to be both a Python API that developers can build on top of, and also provide CLI scripts that can be used reliably in studies.)  Each audience has different needs, and what works for one might not work for the other. (Fle

[2020-11-01 14:50] jcohenadad commented on #501
That would be fantastic. That's what we do for SCT (with a [pip freeze](https://github.com/neuropoly/spinalcordtoolbox/blob/release/requirements-freeze.txt)) and although it takes additional manual steps and diligence for each release, it seems to provide the perfect balance.

BTW, we could also automatize the pip-freeze step with GH actions...

[2020-11-03 03:06] mpompolas commented on #495
1.	I tried to start working on the training from my laptop but it runs out of RAM (16GB). Not sure if you want me to spend time trying to optimize the RAM resources during training. Let me know if you want me to dig into this.
2.	Charley sent me a video with instructions on how to use Rosenberg but to my understanding I won’t have access to it until I hear back regarding the NDA and a Grames accou

[2020-11-03 19:07] lrouhier commented on #489
After the refactoring in #497 there will not be any circular dependency (`config_manager` is no longer imported in `utils`).
I will leave the definition of `__ivadomed_dir__` in `utils.py`

[2020-11-03 20:34] leandervaneekelen commented on #471
After a fair few experiments, I am now using a single pass of affine registration and am getting decent results (see
[qc_reports.zip](https://github.com/ivadomed/ivadomed/files/5483716/qc_reports.zip)) on one image. When applying the resulting warp fields onto SC annotation of T1, it seems to map much better onto T2 images.

If this is satisfactory, is the next step now to co-register the entire d

[2020-11-04 22:19] jcohenadad commented on #471
as discussed in internal meeting, the next steps for fair evaluation could be:
- open PR so code could be reviewed and results reproduced by the team
- segment T1 and T2, register with scenario X, apply registration to T1_seg,  compute dice (eg sct_compute_dice) between T2_seg and T1_seg_reg, output in csv, each row one subject, and then compute stats across scenarii
- run on joplin using sct_run_

[2020-11-05 02:02] jcohenadad commented on #495
no, that's a waste of time, i think `rosenberg` should be available now

NDA: done
GRAME: should be done, if not pls cc me in conversation with JS
GPU sheet: @alexfoias can you pls grant access

i saw and approved 👍

[2020-11-05 02:04] jcohenadad commented on #495
I would encourage you to join forces with @leandervaneekelen on https://github.com/ivadomed/ivadomed/issues/471, and especially the next step: https://github.com/ivadomed/ivadomed/issues/471#issuecomment-722006121. Having two people working on this critical pipeline will be very useful. At the end of the day, what matters the most is having high quality training data and ground truth, and this is

[2020-11-05 04:15] charleygros commented on #489
Sounds good to me!

[2020-11-05 11:02] vs74 opened #504 "Installation: onnxruntime import error"
Hello,

I'm new to ivaodmed and trying to experiment with it, so I was following the tutorials as mentioned in[ RTD](https://ivadomed.org/en/latest/tutorials/one_class_segmentation_2d_unet.html).

When I ran `ivadomed_download_data -d data_example_spinegeneric`, i get the following error log

[code]

To my understanding, this is because of improper install of ivadomed, but I properly installed it

[2020-11-05 15:19] andreanne-lemay commented on #504
Hi Vasudev,
Thank you for opening this issue. A similar problem has been reported by the SCT regarding this issue with ivadomed: https://github.com/neuropoly/spinalcordtoolbox/issues/2930.
I think forcing the version to `1.4.0` in onnxruntime should solve the issue. I'll open a PR to resolve this issue.

[2020-11-05 15:24] andreanne-lemay commented on #504
@vs74 Let me know if this fixes it for you #505

[2020-11-05 15:31] vs74 commented on #504
Thanks forcing `onnxruntime `version to be `1.4.0` fixes the issue. Thanks for quick turnaround.

[2020-11-05 15:42] #504 closed

[2020-11-05 16:14] andreanne-lemay opened #506 "Inconsistency between SCT and ivadomed postprocessing names"
See https://github.com/ivadomed/ivadomed/pull/498#discussion_r517787439

[2020-11-05 20:32] #490 closed

[2020-11-06 15:54] Drulex opened #508 "Wrong use of logging module"
Root cause of: https://github.com/neuropoly/spinalcordtoolbox/issues/2993

API modules should not configure the root logger, instead they should simply define a module-scoped logger and use it:
[code]

It is always the caller that should configure root logger based on its needs.

This gets the root logger instead of the module scope logger.
https://github.com/ivadomed/ivadomed/blob/3c9d32c41ef4222

[2020-11-06 15:54] Drulex commented on #508
Will make a PR to fix

[2020-11-06 16:18] #508 closed

[2020-11-06 16:34] Drulex opened #510 "Imports profiling"
From: https://github.com/neuropoly/spinalcordtoolbox/issues/2993#issuecomment-723146400

Investigation import durations.

1. Create a test file that simply imports ivadomed.
[code]
2. Profile import duration of main module:
[code]
3. Look at results:
<details><summary>Results</summary>
<p>

import time: self [us] | cumulative | imported package
import time:       381 |        381 | _frozen_importl

[2020-11-06 16:40] jcohenadad commented on #510
I guess there is an obvious fix, which is to import matplotlib only when necessary?

[2020-11-06 16:52] Drulex commented on #510
That works.

I haven't looked into the detailed implementation of `ivadomed`, but generally you have an API that performs computing/processing and returns results. The caller can then interpret the results however it wants. In this case the `plt` imports for graphing would move to the caller (scripts) instead of the API.

[2020-11-08 14:36] jcohenadad opened #511 "Moving documentation images to specific repository"
As we are building the documentation and adding images, the repository size increases. If we rename/move these images, they still stay in the repository history. Since we want to keep the repos as small as possible, I suggest moving the images to another specific repository: https://github.com/ivadomed/doc-figures

We adopted the [same strategy for SCT](https://github.com/spinalcordtoolbox/doc-fig

[2020-11-08 21:00] charleygros commented on #511
Thumbs up!

[2020-11-09 04:42] charleygros opened #512 "Retrocompatibility - Models and is_2d attribute"
Retro-compatibility issue when using an old `ivadomed` model, eg [exivvo_t2star](https://github.com/ivadomed/sc-gm_t2star_exvivo).

Following error when using `master`:
[code]
occuring at [this line](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/models.py#L285).

Reason: at the time of this model training: the attribute `is_2d` did not exist, which triggers the above error when calling

[2020-11-09 05:00] andreanne-lemay commented on #512
we could add something like: if not hasattribute(self, is_2d): self.is_2d = True, this way it becomes retrocompatible

[2020-11-09 16:48] vs74 opened #513 "Training Error: FILM layers value error"
I'm trying to follow the documentation, in particular, the [tutorials](https://ivadomed.org/en/latest/tutorials/one_class_segmentation_2d_unet.html#train-model) to get started with training the models using ivadomed.

I'm following the tutorial of **one class segmentation using 2D-unet**. When I execute i`vadomed -c config.json`, I encounter following error log.

[code]

NOTE: - The same data exam

[2020-11-09 17:48] andreanne-lemay commented on #513
Thank you for opening this issue!

Currently you are adding FiLM layers to your model. To avoid this error, you can simply disable this parameter by setting FiLMedUNet:applied to false:
[code]
By default it should be set to false. I fixed this in[ this PR ](https://github.com/ivadomed/ivadomed/pull/514).

[2020-11-09 18:01] vs74 commented on #513
Thanks again @andreanne-lemay . I'll close this issue.

[2020-11-09 18:17] jcohenadad commented on #513
issues are closed via PRs, not manually

[2020-11-09 18:43] jcohenadad commented on #373
@joshuacwnewton do you mind adding the information, or, if appropriate, redirect to the centralized contributions in our wiki? thanks!

[2020-11-09 18:53] olix86 commented on #513
It's too late for this one since the PR is already merged but good to know for the future

[2020-11-09 19:32] mpompolas commented on #495
Hi @alexfoias, I can open the GPU sheet, but I can still not edit it. Can you please grant me access?

@jcohenadad 👍

I will finally start working on this this week since my Rosenberg credentials were granted last Friday

[2020-11-09 19:45] alexfoias commented on #495
@mpompolas I added you on the google calendar. Sorry for the delay.

[2020-11-09 19:57] alexfoias commented on #495
@mpompolas You can not comment/suggest on the Google document.

[2020-11-09 20:52] mpompolas commented on #495
Just checked it and it works. Thank you very much @alexfoias

[2020-11-09 21:09] alexfoias commented on #511
I granted permissions to team.
I'm working on moving the images, I'll open a PR soon.

[2020-11-09 22:14] charleygros commented on #513
Agree. At least as far as I know.
So I will kindly close this issue. But if anyone knows how to proceed despite the PR already being merged: please feel to reopen it and proceed :-) (and I would be happy to learn this new tip!!)

[2020-11-09 22:14] #513 closed

[2020-11-10 18:42] jcohenadad opened #515 "Make available all stable versions on RTD and display version number below logo"
On RTD, we should be able to select stable releases:
![image](https://user-images.githubusercontent.com/2482071/98717024-82989a80-235a-11eb-823c-8e96d53aded7.png)

Also, when selecting a stable release, the number should appear (instead of "stable"):
![image](https://user-images.githubusercontent.com/2482071/98717068-93e1a700-235a-11eb-9118-693fcb2e6237.png)

Also see https://github.com/neuropoly/

[2020-11-10 19:26] jcohenadad opened #516 "Add badge to RTD on the README"

[2020-11-10 20:27] alexfoias commented on #515
I triggered the builds for previous versions.

As for the stable release (the fact that we want the actual number), it's a feature that has been requested but not merged yet. https://github.com/readthedocs/readthedocs.org/issues/4529

For the moment, the default version is set to latest. Not sure if we want to change it to stable.

[2020-11-10 20:54] mariehbourget opened #519 "Generate dataframe for new loader"
## Context
This issue is part of the loader refactoring project to include microscopy data (#304) and to migrate to HDF5 loader (#474).

Following this [comment](https://github.com/ivadomed/ivadomed/issues/474#issuecomment-708688892), the first step is to generate a dataframe with filenames and images infos by checking data/derivatives availability and associated metadata.

It also aims to remove

[2020-11-10 21:15] jcohenadad commented on #515
according to @joshuacwnewton it should work, see https://github.com/neuropoly/spinalcordtoolbox/pull/3021/files

[2020-11-10 21:26] andreanne-lemay commented on #519
I quickly looked at [ their tutorial ](https://github.com/bids-standard/pybids/blob/master/examples/pybids_tutorial.ipynb) and it seems that pybids does this exact step (query all BIDS params, etc.). I would be in favor of using already existing tools such as pybids. The only thing to consider is that we might have special needs, e.g., in the case microscopy images can't loaded with their tool.

F

[2020-11-10 21:28] jcohenadad commented on #519
👍

[2020-11-11 14:08] joshuacwnewton commented on #515
That change just controls whether to show text at all (blank or `stable`/`latest`/etc.)

Just to clear things up, at SCT, we have this:

![Screenshot from 2020-11-11 09-04-59](https://user-images.githubusercontent.com/16181459/98821167-289ce100-23fd-11eb-8a60-34c14456fb17.png)

* `stable` automatically fetches the latest stable version. It will always display the text `"stable"`.
* `5.0.0` is a ta

[2020-11-11 14:16] jcohenadad commented on #515
this is exactly what we want for ivadomed

[2020-11-11 14:17] alexfoias commented on #515
so should we disable latest and stable and just keep the releases ?

[2020-11-11 14:21] jcohenadad commented on #515
latest --> master (we need to keep)
stable --> latest release (would be the default, we need to keep)

right @joshuacwnewton ?

[2020-11-11 14:23] alexfoias commented on #515
in this case the current setup should work, right ?

[2020-11-11 14:26] jcohenadad commented on #515
stable should not show "stable", but the latest version tag. @joshuacwnewton do you know if this is possible? is that what you've implemented in sct?

[2020-11-11 14:31] alexfoias commented on #515
I found the info higher

 As for the stable release (the fact that we want the actual number), it's a feature that has been requested but not merged yet. readthedocs/readthedocs.org#4529

[2020-11-11 14:36] jcohenadad commented on #515
indeed, it was my misunderstanding. I'm OK with the current proposed change.

[2020-11-13 04:45] mpompolas opened #525 "Providing support for EEG modality in IVADOMED"
@jcohenadad
This is to start the conversation for opening up the toolbox to EEG.
As mentioned to Guillaume (GitHub handle?) on Slack, I imagine the ivadomed toolbox to be accessed at a later stage of the analysis pipeline, since in electrophysiology there are multiple pre-processing steps needed for making comparisons across conditions.

I attach a diagram to make this a bit more clear. Ivadomed c

[2020-11-13 13:17] jcohenadad commented on #525
My first reaction would be: can the described pre-processing pipeline in https://github.com/ivadomed/ivadomed/issues/525#issue-742138726 follow the BIDS convention? I.e. processing outputs would be placed under the derivatives folder, and be used as input in ivadomed. If we go with a BIDS folder as input, this will minimize the amount of refactoring needed on the `ivadomed` side.

So, if we can "b

[2020-11-13 18:10] mpompolas commented on #525
Yes, I agree. That would be the easiest first step.
I'll reach out to Guillaume to get an example dataset to create the BIDS folders based on the way he stores his metadata.

If we are satisfied with the way these example files handle metadata we can use them as a guide for whoever wants to use the software.
If not, we do one more iteration on this.

Regarding applications, classification is a sta

[2020-11-13 20:28] mpompolas opened #526 "Error on fresh installation of ivadomed on Rosenberg"
ivadomed                2.5.0               /home/GRAMES.POLYMTL.CA/u111358/.local/lib/python3.6/site-packages pip

u111358@rosenberg:~/data_nvme_u111358$ ivadomed -c config.json

Traceback (most recent call last):
  File "/home/GRAMES.POLYMTL.CA/u111358/.local/bin/ivadomed", line 5, in <module>
    from ivadomed.main import run_main
  File "/home/GRAMES.POLYMTL.CA/u111358/.local/lib/python3.6/sit

[2020-11-13 20:47] andreanne-lemay commented on #526
Did you install ivadomed with `pip install` or with `git clone`? What `tensorboard` version are you using?

I looked up the error you had online and found this: https://github.com/tensorflow/models/issues/3995#issuecomment-400183986
`pip install -U protobuf`

Currently I am not able to reproduce the error, maybe installing this library will solve the problem.

[2020-11-13 20:51] mpompolas commented on #526
I missed that one.
pip install -U protobuf solved the issue.

Thanks for your help

[2020-11-13 20:51] #526 closed

[2020-11-18 01:16] #516 closed

[2020-11-18 14:01] #373 closed

[2020-11-18 21:37] mariehbourget commented on #519
I tested the `pybids` library, and it does cover a lot of operations we want to do to generate the dataframe.

What we can do with it:
-	Create a `BIDSlayout` containing all files present in the BIDS path and including all JSON metadata automatically
-	Create a dataframe with 1 line per path/filename and 1 column per entities and json metadata field
-	Good news, while the microscopy BEP is still i

[2020-11-19 17:17] andreanne-lemay commented on #444
Done in #460

[2020-11-19 17:17] #444 closed

[2020-11-19 23:24] mpompolas commented on #495
hey @charleygros @jcohenadad , you have any suggestions for which datasets to test the models on?

[2020-11-20 05:16] charleygros commented on #495
Yep good question: I feel there are data in `sct_testing/large` which are quite exotic / heterogeneous / challenging!

What I would recommend would be to:
- keep some centers aside, for testing only! For this, there is the param `center_test` in the config file! In particular, I would recommend the "center" `sctUsers`, which is not really a center per se --> data sent by SCT users, often because t

[2020-11-20 16:29] mpompolas opened #532 "Empty .json file within /duke/sct_testing/large"
duke/sct_testing/large/sub-spineGeneric011/anat/sub-spineGeneric011_T2star.json

Ivadomed training on the /large dataset failed.

Whoever received the original data should make a check that this .json was not altered at a later copying phase.

If the original .json is indeed empty we should either try to populate it (harder solution - probably just check the rest of the json files from the same ce

[2020-11-20 16:50] andreanne-lemay commented on #532
The problem originates from the bids library. To avoid having to change your dataset, in the class `Subject`, method `metadata`, the code can be modified to this (bids.py line 87):
[code]
rather than this:

[code]

We plan to stop depending on this library in the future (during the loader change).

[2020-11-21 17:52] mpompolas commented on #532
so the .json are not used anywhere in the software?
No need to track down the empty ones?

[2020-11-23 14:51] alexfoias commented on #515
We can close this comment.

[2020-11-23 14:54] #515 closed

[2020-11-23 17:56] #512 closed

[2020-11-24 19:34] mpompolas commented on #525
I made a BIDSified version for mne epochs:
![image](https://user-images.githubusercontent.com/23224563/100142537-0cb82700-2e62-11eb-93c9-1b0221d64ba5.png)

This is on my computer right now. Will create a repo

[2020-11-24 20:47] #489 closed

[2020-11-24 20:47] lrouhier commented on #489
Fixed with #497

[2020-11-24 23:23] jcohenadad opened #539 "Implement intervertebral disc detection using pose estimation"
After implementing the first deep learning approach for detecting discs https://github.com/neuropoly/spinalcordtoolbox/pull/2679, we could investigate the post [estimation method](https://doi.org/10.1038/s41593-018-0209-y):
[mathis2018.pdf](https://github.com/ivadomed/ivadomed/files/5593248/mathis2018.pdf)

[2020-11-25 13:53] leandervaneekelen opened #540 "Failure to convert BIDS to HDF5"
Whenever a HeMIS experiment is started, the adaptive loader of IvadoMed converts the given BIDS dataset to HDF5 if a `.hdf5` file doesn't exist already. My experiments are currently failing on this conversion, with the following error:

<details>
<summary>Traceback</summary>

[code]
</details>

I use the following call: `python3.8 ~/ivadomed/ivadomed/main.py --config ./hemis_exp.json` and[ this `.

[2020-11-25 16:59] andreanne-lemay commented on #540
Thank you for opening this issue!

I looked into it this morning and was able to reproduce this error (I used the [sample dataset ](https://github.com/ivadomed/data_example_spinegeneric) used for tutorials).

It is caused by the fact that NoneType cannot be encode in HDF5 (https://stackoverflow.com/questions/46906889/how-to-store-null-value-in-hdf5-table).

While trying to reproduce this error, I

[2020-11-26 09:20] leandervaneekelen commented on #471
As we discussed in this week's meeting, segmentation based registration (centermass+some low iteration affine registration) performs well. As per Julien's advice, I also performed image based registration with slicereg + a Gaussian ROI mask. While this quantitatively performs worse (dice score 0.7791 for `centermass` versus 0.7033 for `slicereg`), they qualitatively look quite similar, as can be s

[2020-11-26 11:24] leandervaneekelen commented on #540
So if I understood this correctly, `HeMISUnet:target_lst` specifies the modality from which it will read the ground truth? Assuming co-registered data (and GT), it would then be preferable to specify the modality everything was co-registered to, so not to get a potential shape mismatch?

[2020-11-26 15:01] jcohenadad commented on #471
@leandervaneekelen i'll have a look at the reports-- in the meantime maybe it would make sense to transfer that discussion in the [hemis repos](https://github.com/ivadomed/pipeline-hemis)?

[2020-11-26 15:01] andreanne-lemay commented on #540
Yes exactly!

[2020-11-30 23:02] charleygros commented on #532
The `.json` are used during the loading, to access metadata.
Empty `json` eg for derivatives are fine. But currently requested for an image to be included in the process.
Note: the change suggested by Andréanne [here](https://github.com/ivadomed/ivadomed/issues/532#issuecomment-731280877) has not been implemented yet.
The missing `json` files should be tracked and added.

[2020-12-02 21:47] jcohenadad commented on #495
So far, the strategy is the following:
- So far, we focus on simple model (no fancy FILM, etc.) and we compare with `sct_deepseg_sc`
- We need to establish a reproducible framework for comparing performance with `sct_deepseg_sc`
  - This repos would be hosted on a new repos here: https://github.com/sct-pipeline

Action task
- @charleygros identify the list of subjects that were used for `sct_deeps

[2020-12-02 22:34] andreanne-lemay opened #548 "Model repositories do not respect the naming convention"
According to [ivadomed's naming convention](https://github.com/ivadomed/ivadomed/wiki/repositories), model repositories should follow this convention: `model_task_animal_region_contrast_architecture`

Currently the following models don't respect this convention:
- findcord_tumor (suggestion: model_find_sc_t2_unet3d)
- t2_tumor (suggestion: model_seg_sctumor_t2_unet3d)
- t2star_sc (suggestion: mode

[2020-12-02 23:45] charleygros commented on #495
Agree! With the defaults param of `sct_deepseg_sc` --> output violin plots with Dice!
Would be good to able violin plots for the specifics:
- per contrast_groups (i.e., the ones of `sct_deepseg_sc`, so `t1`, `t2`, `t2s`, `dwi`)
- for specific datasets: subset of spineGeneric, subset of DCM patients (see `pathology` column in `participants.tsv), subset of ALS, subset of MS patients

[2020-12-02 23:52] charleygros commented on #495
Suggestion for training/testing splitting:
- Datasets to use: `large` + `spineGeneric`
- Data used to train `sct_deepseg_sc` (I will send this list today) = subset of `large` --> to include into the training dataset of the new model
- New data (i.e., `spineGeneric` + data from `large` which were not used for `sct_deepseg_sc`) --> Do a random split 60% for training validation and 40% for testing. M

[2020-12-03 04:43] jcohenadad commented on #495
sounds great. but once we want to ship a model for production, we want to use 100% for training, right?

datasets: i would also add part of UK biobank

[2020-12-03 04:53] charleygros commented on #495
Absolutely! The [above message](https://github.com/ivadomed/ivadomed/issues/495#issuecomment-737566091) aims at drawing a splitting strategy to ensure that the trained model is at least as good as `sct_deepseg_sc` via a fair comparison (i.e., not using old_training_data to do our present testing).

So basically: looking at the results of this comparison:
1. `while (ivadomed_model less good than sc

[2020-12-03 06:20] charleygros commented on #495
@mpompolas : Here the dataset used to train `sct_deepseg_sc`:
`/home/GRAMES.POLYMTL.CA/chgroc/duke/projects/ms_seg/sct_deepseg_sc_info/dataset.pkl`

This pandas contains a column named `train_valid_test` with 1 for train, 2 for validing, 3 for testing.

Note: the subject names are slightly different from the one in `large` because it has been done before we moved to the BIDS convention! Please let

[2020-12-03 15:21] jcohenadad commented on #495
duke/projects/ms_seg/sct_deepseg_sc_info/dataset.pkl

can we move this to the [deepseg_sc model repos](https://github.com/sct-data/deepseg_sc_models)? and add in the README this relevant information

[2020-12-03 20:36] mpompolas commented on #495
this is great. thanks for the thorough explanation.

Two clarifications:
1. when I checked the spinal cord toolbox I had to indicate the contrast that is being tested (t1, t2, t2s), so I assumed there was a separate model trained for each modality.
Is there also a model that was also trained on all of them that we could compare with a potential "one to rule them all" model?

2. The sc_deep_seg was

[2020-12-03 21:38] charleygros commented on #495
Correct, one model per contrast (t1, t2, t2s, dwi). In the above dataframe there is a column called `contrast` which indicates the model_contrast for which this image has been used to, eg `t2s` --> this image has been used to train the `t2s` model.

We did preliminary experiments where we trained a model with all images together. These preliminary experiments suggested that the model with all cont

[2020-12-04 01:58] charleygros commented on #495
Done, [here](https://github.com/sct-data/deepseg_sc_models).

[2020-12-04 21:19] jcohenadad opened #550 "Constrained domain adaptation for labeling of intervertebral discs"
The paper by [Bateson et al.](https://arxiv.org/pdf/1908.02996.pdf) seems relevant for this problem.

[2020-12-05 22:06] jcohenadad opened #553 "Document testing procedure"
i started something here: https://github.com/ivadomed/ivadomed/wiki/tests

based on this: https://github.com/neuropoly/spinalcordtoolbox/wiki/Programming%3A-Tests

However, the page is incomplete.

[2020-12-05 22:14] jcohenadad opened #554 "Add functional tests for CLIs"
Currently, ivadomed only includes API unit tests. It would be good to also add functional tests for CLIs, as [done in SCT](https://github.com/neuropoly/spinalcordtoolbox/wiki/Programming%3A-Tests#functional-tests-pytest).

[2020-12-07 21:28] charleygros opened #556 "Installation Python 3.9 fails"
Installation with Python 3.9 does not work
[code]

Avenues:
- loosen the range of package versions specified
- remove package versions to allow pip attempt to solve the dependency conflict
- https://pip.pypa.io/en/latest/user_guide/#fixing-conflicting-dependencies

[2020-12-07 21:35] charleygros opened #557 "Comparison with other projects - Enhance table"
It would be nice to enhance the [RTD table](https://ivadomed.org/en/latest/purpose.html#comparison-with-other-projects) where we compare `ivadomed` with other projects.

Suggestions:
- break it down in multiple tables to avoid the horizontal scroll
- add hyperlink in repo's name