[2021-07-22 22:27] mariehbourget commented on #860
Thank you @naga-karthik for looking into this.

Right now in `ivadomed`, we work with 2 dataset structures:
1. the "raw data" in `sub-XX` folders at the root of the dataset and "labels" in the `derivatives` folder.
2. the "preprocessed data" in `sub-XX` folders at the root of the dataset, with `rec-` in the filenames and "labels" in the `derivatives` folder.

We would like to do the exact same thi

[2021-07-23 19:22] naga-karthik commented on #860
Yeah exactly! Thanks for mentioning this. I was wondering the same thing about how the approach ivadomed has taken is a bit confusing in terms of using the folder name "derivatives". But, I understand now, we just have to rename `rec-` to `desc-` for the purpose of this issue.

Sorry but where can I find this csv file? I couldn't read about it on BIDS' documentation. Is it something exclusive to i

[2021-07-23 19:35] mariehbourget commented on #860
Yes, this is in ivadomed, in the `path_output` folder, the loader writes a `bids_dataframe.csv` with all the files and metadata indexed and used from the `path_data` for a given training/testing, it came from `https://github.com/ivadomed/ivadomed/blob/7a595ae39e94085837582f7176b8ec59bd9a2bc9/ivadomed/main.py#L351` in the main.

[2021-07-23 23:17] mathieuboudreau commented on #861
Hi from AxonDeepSeg 👋

I was been debugging for like an hour right now my ADS installation using IVADOMED as a (new) requirements, wondering why it was throwing me a missing torch package error when I was loading IVADOMED in python.

I'd assume you guys had included it in your setup, if it was a requirement to run IVADOMED.

So... yeah, +1 for this issue getting resolved. I saw no instructions bef

[2021-07-23 23:19] mathieuboudreau commented on #861
(I know I was being a bad user by not reading your README thoroughly, sorry about that. But... not every user will 🤷)

[2021-07-23 23:22] mathieuboudreau commented on #861
ALTHOUGH...... in my defence.....

I just noticed that your ReadTheDocs button links to your stable release: https://ivadomed.org/en/stable/?badge=stable

...which is missing the instructions to install torch that you linked in this issue, which is from the latest release: https://ivadomed.org/en/latest/installation.html#approach-2-venv

...so it's not *really* my fault I missed it 🙃

I'll open an

[2021-07-23 23:24] mathieuboudreau opened #871 "ReadTheDocs button on README points to "stable", which is out of date from "latest""
See this thread: https://github.com/ivadomed/ivadomed/issues/861#issuecomment-885959088

The button links here: https://ivadomed.org/en/stable/?badge=stable

But that release of the docs doesn't include the latest instructions to install `torch`, which is in the latest branch here: https://ivadomed.org/en/latest/installation.html#approach-2-venv

[2021-07-24 00:03] mathieuboudreau opened #872 "Make IVADOMED Python API compatible with Path() objects (from pathlib)"
### Motivation for the feature
Provides better compatibility across platforms, and is the more modern way to handle paths/files/suffixes/etc

https://treyhunner.com/2018/12/why-you-should-be-using-pathlib/

### Description of the feature
Make it so the IVADOMED API (e.g. https://github.com/ivadomed/ivadomed/blob/7a595ae39e94085837582f7176b8ec59bd9a2bc9/ivadomed/inference.py#L311 path to model and

[2021-07-24 00:21] mathieuboudreau opened #873 "Error: "if seg_pair_slice['gt'] is not None and isinstance(seg_pair_slice['gt'][0], list): IndexError: list index out of range""
## Issue description

I tried segmenting an image and received the following error:

[code]

### Current behavior
See error above

### Expected behavior
The code doesn't throw an error

### Steps to reproduce
Model: https://drive.google.com/drive/folders/1vOc-HazqyE4xeyBWwbl4OTpoCcEhafad
Image: image.png in data_test/ in https://osf.io/sv7u2/

[code]

Pip freeze:

<details>
[code]
</details>

## E

[2021-07-24 02:21] naga-karthik commented on #860
Based on some experiments and suggestions thanks to @mariehbourget, here is my latest finding:

* I created a copy of the `data_example_spinegeneric` available from [this](https://ivadomed.org/en/latest/tutorials/one_class_segmentation_2d_unet.html) tutorial and kept the names of three files as it is and renamed all the remaining files according to the following:
  *  `awesome-data-preprocess/sub-

[2021-07-24 13:55] mathieuboudreau commented on #871
Reflecting on this a bit more, I'm guessing maybe your RTD might be pointing to stable because you only want to give docs by default for the releases and on the development versions? If that's the case and is a conscious one, my bad, I'm just used to some other repos having docs up-to-date with the master branch.

[2021-07-26 18:11] mariehbourget commented on #873
Thank you @mathieuboudreau for reporting this.
I ran some tests and found a bug in ivadomed related to the config of the model. In the example test model I provided you, there are no pre-processing transforms (ex: crop, resample). This is unusual enough that it cause the error you described.
For the time being, I'm going to re-train a test model with pre-processing so you can continue your impleme

[2021-07-26 18:32] jcohenadad commented on #873
thank you for catching this bug @mariehbourget and for testing @mathieuboudreau 🙏

[2021-07-26 20:37] Nilser3 commented on #841
Hello @charleygros @jcohenadad  !

I would like to share with you the results of the Multiclass and Singleclass comparison, trained with the same parameters. Of course!

![DICEM](https://user-images.githubusercontent.com/77469192/127054376-10ab1e82-767e-48d4-8201-c328b033bc19.png)

Also, I have a question. When we apply Data Augmentation, is a composition made of RandomAffine and ElasticTransform,

[2021-07-26 20:49] jcohenadad commented on #841
Thank you for sharing your results in https://github.com/ivadomed/ivadomed/issues/841#issuecomment-887009600 @Nilser3. I will let @charleygros answer your question, but I have a few comments about this comparison:

- Does the multiclass and singleclass use the exact same participant split (train/eval/test)?
- Does it use the same initialization weights? I assume it does not because the architectur

[2021-07-26 21:07] Nilser3 commented on #841
Thanks to @mariehbourget  I have been able to define the (train / valid / test), so for both Train I have used the same .joblib file.
We make this definition based on the heterogeneity of the data.

However, the idea of cross validation is very interesting, I will apply it right away.

[2021-07-26 21:17] jcohenadad commented on #871
Hum, by default, ivadomed points to _latest_, not _stable_:
![image](https://user-images.githubusercontent.com/2482071/127060388-0d99dab3-f95d-4c95-a338-c0c10565f2d3.png)

Now, it is possible that _latest_ is the latest release, not master, in which case we might want to change that and make "latest" be master instead. Feedback welcome.

[2021-07-27 00:15] mathieuboudreau commented on #871
Ahh, @jcohenadad I didn't mean the ivadomed website ([ivadomed.org](http://www.ivadomed.org)), but the `docs|passing` badge/button on the README file of this repository, here:

<img width="899" alt="Screen Shot 2021-07-26 at 9 11 26 PM" src="https://user-images.githubusercontent.com/1421029/127074961-f3667ae5-d6d2-4888-816d-c9bee1a44e4c.png">

due to this line:

https://github.com/ivadomed/ivadome

[2021-07-27 14:49] #858 closed

[2021-07-27 14:51] mariehbourget commented on #860
Thank you @naga-karthik for the tests and detailed report.

I agree that re-organizing the structure would help indexing the files because `pybids` index _everything_ that is in the derivatives folder regardless of the naming. Unfortunately, `pybids` doesn't parsed the filenames of derivatives and the columns of the `bids_dataframe` associated with these files would be empty (as far as I  know).

[2021-07-28 01:38] charleygros commented on #841
I second this idea of multiple trainings with different train / valid / test subsets. Would be valuable analysis

[2021-07-28 01:44] charleygros commented on #841
For each epoch, the X training samples are augmented with different random parameters. In pseudo code it would be something like:

[code]

Hope it helps!

[2021-07-28 15:23] alexfoias commented on #796
@kousu is the branch merged ?

[2021-07-28 20:18] hermancollin commented on #600
I was opening an issue for pretty much the same reasons and noticed this one.

Now I would like to bring back attention to this feature request (I could take care of this) as this would be very useful for microscopy features. Currently, training a multi-class model in ivadomed is quite impractical.

[2021-07-28 20:23] jcohenadad commented on #600
🎉   please do 😊  🙏

[2021-07-28 21:38] dyt811 commented on #872
Great point. This is an issue that has been raised before and numerous new functions or refactored modules are started using the pathlib already but there are still many legacy. I will assign someone to get this started piece meal wise.

[2021-07-28 21:49] dyt811 commented on #872
We will update this ticket to include link to the PRs and list of files that are undergoing conversion process.

[2021-07-30 21:38] mathieuboudreau commented on #872
Should this issue have been closed? That PR only resolved this issue in one file.

[2021-07-31 02:33] jcohenadad commented on #872
@mathieuboudreau is right the issue shouldn’t have been closed

[2021-08-01 17:28] dyt811 commented on #872
My apologies. Yes, it was indeed only the beginning of a series micro PRs to address the overhaul migration. Accidentally used the keywords in the PR description result in the closure. Will ensure this is addressed in future subsequent PRs.

[2021-08-01 17:58] dyt811 commented on #864
Can you provide the `config_hyper.json` file you have created during the tutorial? Specifically, how you changed the "loss" key there?
Given that the `set_output_path` function is working as intended, the error suggests JSON config file is either malformed or passing wrong information to the `set_output_path` command.

[2021-08-01 20:47] #873 closed

[2021-08-03 13:57] cakester commented on #864
this is config_hyper.json, exactly like the tutorial
{
    "training_parameters": {
        "batch_size": [2, 64],
        "loss": [
            {"name": "DiceLoss"},
            {"name": "FocalLoss", "gamma": 0.2, "alpha" : 0.5}
        ]
    },
    "default_model": {"depth": [2, 3, 4]}
}

[2021-08-03 17:08] hermancollin opened #882 "Discrepancy between segmentations produced by "test" and "segment" commands"
Documenting this weird bug I ran into while working on microscopy files.

During the training/validation/testing steps, I get good results and predictions are visually OK. However, when trying to segment these images using the `--segment` command, the results are consistently bad. To make sure the `--segment` command was faulty, I tried segmenting an image using the `--test` command and a dummy gt

[2021-08-04 18:15] cakester commented on #863
so after i copied dataset_description.json from data_example_spinegeneric/ to data_example_spinegeneric/trained_model/derivatives, i get
[code]

after the above error, i copied dataset_description in data_example_spinegeneric/trained_model as well, then i get

[code]

after manually adding the key, i get

[code]

i copied config.json like the tutorial suggests

[2021-08-04 18:39] mariehbourget commented on #863
Hi @cakester, the error you have means that ivadomed is looking for source images in the folder `trained_model` which it's not supposed to.
In your config file, make sure that:
- `path_data` points to the location of the dataset: `<PATH_TO_DATASET>/data_example_spinegeneric`
- `path_output` points to the trained model `<PATH_TO_DATASET>/data_example_spinegeneric/trained_model`

[2021-08-04 18:48] cakester commented on #863
i am following the tutorials, and the command inside tutorials is test, am I suppose to run training before running test?

[2021-08-04 18:57] mariehbourget commented on #863
The command `test` is right, the model is already trained in `trained_model`.
My guess is that you have `<PATH_TO_DATASET>/data_example_spinegeneric/trained_model` in `path_data` instead of `path_output`.

[2021-08-04 19:05] cakester commented on #863
you are right, now i corrected it and then it tells me im missing a key in dataset_description.json even though I manually added it
` ivadomed --test -c config.json --path-data data_example_spinegeneric --path-output data_example_spinegeneric/trained_model
2021-08-04 20:03:58.486 | INFO     | ivadomed.utils:init_ivadomed:408 -
ivadomed (2.7.4)

2021-08-04 20:03:58.490 | INFO     | ivadomed.main:se

[2021-08-04 19:52] mariehbourget commented on #863
This is because the content of the `dataset_description.json` file you added manually is not right for the derivatives folder.
You don't have to add any file manually. I suggest you try again with the original dataset without adding anything.
When you run the command, the missing file will be added automatically with the right content.

[2021-08-05 14:17] cakester commented on #863
thanks, now works

[2021-08-05 14:22] cakester commented on #863
updated on hm/long_tests

[2021-08-05 14:52] cakester opened #902 "Default parameter of empty lists can lead to unpredictable buggy behavior"
## Issue description
In some classes, we are seeing antipatterns like this:

![image](https://user-images.githubusercontent.com/1713718/128371106-d591d625-bb28-4317-9a23-c0b48e8fa50d.png)

Here is an explanation of why it is bad: https://nikos7am.com/posts/mutable-default-arguments/ but basicallyl TLDR: default mutable structures like list is "shared" across function calls and cause VERY unpredict

[2021-08-05 17:47] hermancollin commented on #882
Here is a comparison of a configuration file that does trigger the problem vs one that doesn't:

<details><summary>config_microscopy_ok.json</summary>

[code]
</details>

<details><summary>config_microscopy_not_ok.json</summary>

[code]
</details>

Here is the output of `diff`. It seems the problem comes from one or more of these parameters.
<details><summary>diff</summary>

[code]
</details>

[2021-08-05 21:57] mariehbourget opened #905 "Max value of 1.0000000591389835 in NIfTI predictions"
## Issue description
As found while working on #870, some prediction NIfTI files (`_pred.nii.gz`) have values of `1.0000000591389835` instead of `1`.

### Current behavior
The max value of the prediction in testing always prints as 1.0 before the NIfTI file is saved [here](https://github.com/ivadomed/ivadomed/blob/7a595ae39e94085837582f7176b8ec59bd9a2bc9/ivadomed/inference.py#L198).
But once the f

[2021-08-06 01:30] mathieuboudreau opened #906 "Improve control over segmentation output filenames"
### Motivation for the feature
I'm trying to implement IVADOMED in AxonDeepSeg, and would like for consistency that our output masks filenames remain the same pre/post IVADOMED implementation.

See: https://github.com/neuropoly/axondeepseg/pull/547

### Description of the feature
It would be nice to have more control over the segmentation output filenames.

Currently I see that I can control the "

[2021-08-06 15:07] #868 closed

[2021-08-06 16:18] alexfoias commented on #824
@mariehbourget or @agahkarakuzu where should I open an issue in order to propose a change in the BIDS specs ?

[2021-08-06 18:47] mathieuboudreau commented on #906
Oh wait, maybe I confused myself actually; does IVADOMED even output mask.png? Looks like no right? I think I confused myself as it was already in my folder; then only my first point would stand (remove the `_pred` suffix after the user-input suffix in the model file)

[2021-08-06 18:56] mariehbourget commented on #906
You are right, the file called `mask.png` is not an output of ivadomed but is the original mask from ADS.
The 2 files generated by ivadomed are `image_seg-axon-manual_pred.png` and `image_seg-axon-manual_pred.png`.

Currently in ivadomed, there are no direct options to control the output filenames.
The "_seg-axon-manual" and "_seg-myelin-manual" `target_suffix` refers to the names of the ground-tr

[2021-08-06 21:58] mariehbourget opened #907 "Height and Width dimensions inverted in microscopy pixel size"
## Issue description
In the microscopy implementation, some height and width dimensions are inversed or poorly documented.

- In segmentation_pair.py/[convert_file_to_nifti](https://github.com/ivadomed/ivadomed/blob/cc020c2c78d37ee1f34bda35bf24b6f8fc73114e/ivadomed/loader/segmentation_pair.py#L336):
    - The 2D image is read by `imageio` with dimension order `[height, width]` and written in the N

[2021-08-06 22:13] mariehbourget opened #908 "Resample axis inverted in documentation"
## Issue description

In the RTD documentation of Resample [here](https://ivadomed.org/en/latest/configuration_file.html#resample), the resampling spaces are described as:
`wspace`: Resolution along the **first** axis, in mm.
`hspace`: Resolution along the **second** axis, in mm.
`dspace`: Resolution along the **third** axis, in mm.

In reality in the code [here](https://github.com/ivadomed/ivadom

[2021-08-09 16:04] #902 closed

[2021-08-11 02:19] #871 closed

[2021-08-11 07:44] gbazad93 opened #910 "Batch size affects the dice loss"
First, I would like to thank you for the excellent implementation. The [dice loss function](https://github.com/ivadomed/ivadomed/blob/92b97bb93e947c67ddc21d6bf6b23d5bfc905241/ivadomed/losses.py#L41) implemented in the library seems to be prone to the batch size. When the batch contains a sample with a tiny target, its contribution to the loss function is comparatively less than a sample with a big

[2021-08-16 04:16] charleygros commented on #910
Hi @gbazad93, Many thanks for your message 👍

You are correct: the current implementation considers the entire batch to compute the dice loss.

In order to consider each sample separately, a basic work-around would be to have a batch size = 1.
Otherwise, we could consider adjusting the current implementation by, as you suggested, adding a for loop on instances and returning the averaged dice acros

[2021-08-16 07:08] copperwiring commented on #908
@charleygros Can you confirm that it is RTD here that is wrong and it should be:

[code]

[2021-08-16 12:00] gbazad93 commented on #910
@charleygros thanks for the response. I have submitted the pull request. Would appreciate your comments.

[2021-08-16 22:44] mariehbourget opened #912 "Add support for uncertainty with microscopy data"
## Issue description
This issue is part of the inference refactoring project to include microscopy data (#306). Currently, the uncertainty feature is not working as expected with microscopy data.

### Current behavior
1. Epistemic uncertainty: the output filneames of the PNG `_pred` files are not correct (ex: `sub-rat3_sample-data9_SEM_pred_00.nii.gz_seg-axon-manual_pred.png` instead of `sub-rat3_

[2021-08-16 22:47] mariehbourget opened #913 "Add option to adjust binarization threshold after resampling and data augmentation"
### Motivation for the feature
While working on PR #870, I found that the binarization threshold used after resampling and data augmentation of ground-truths was impacting results of the training.

As described in comment (https://github.com/ivadomed/ivadomed/pull/870#issuecomment-893806557), the current threshold for binarization is hardcoded to 0.5 [here](https://github.com/ivadomed/ivadomed/blo

[2021-08-17 01:04] charleygros commented on #910
Fantastic, thanks @gbazad93, working on this today 👍

[2021-08-17 01:14] charleygros commented on #908
Yep I confirm.
That's a bit more complex than this tho, eg hspace is the first axis in mm AFTER reorientation to the canonical orientation then slice extraction. See canonical [here ](https://github.com/ivadomed/ivadomed/blob/e8398e5651f859680bebc4dffb6ca465660987b5/ivadomed/loader/utils.py#L559) for instance.

For instance, if the input nifti is SAR (Sagital - Anterior - Right) and the slice extr

[2021-08-17 19:52] mariehbourget commented on #864
I'm working on some hyperparameters optimization as well and I ran into a very similar issue, where some configs would work and others would give me an error. With the same `config_hyper.json` as above, `batch_size` and `depth` training are running properly. However the `loss` ones give me this error:
<details>
<summary> Error </summary>

[code]
</details>

Although, it is not the same error as @c

[2021-08-18 18:04] mariehbourget opened #915 "Wrong output in training_curve.py"
## Issue description

I’m testing the [training_curve.py](https://ivadomed.org/en/latest/scripts.html#ivadomed-training-curve) script and found an odd behavior. The script output a plot for each metrics from tensorboard event files. However, some plots don’t have the “right” content in them.

### Current behavior
For example, on rosenberg (master branch commit 93b9e73):
- `hausdorff_score.png` con

[2021-08-19 23:00] charleygros commented on #915
Mmmm interesting :-(

As it is related to metrics only, the issue probably comes from somewhere in [this loop](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/scripts/training_curve.py#L182) ?

[2021-08-22 02:09] copperwiring opened #918 "Suggestions for improving Ivadomed tutorial documentation for UNet model"
When following ivadomed documentation doe [UNet tutorial](https://ivadomed.org/en/latest/tutorials/one_class_segmentation_2d_unet.html#one-class-segmentation-with-2d-u-net), under the [Configuration File](https://ivadomed.org/en/latest/tutorials/one_class_segmentation_2d_unet.html#configuration-file) section, it is written

`In this tutorial we will use the configuration file:`

and it goes on to

[2021-08-22 07:11] copperwiring opened #919 "onxxruntime error while installing ivadomed on compute canada"
## Issue description
Ivadomed installation fails due to error installing `onxxruntime`

### Current behavior

Ivadomed installation requires installation via `requirements.txt` or `requirements_gpu.txt`  as mentioned [here](https://ivadomed.org/en/latest/installation.html#step-3-install-pytorch-1-5-and-torchvision). They are required to install various modules including `onxxruntime==1.4.0`. Howev

[2021-08-22 20:40] dyt811 commented on #919
Paging @naga-karthik, I think he ran into similar issue on Compute Canada for this. Not sure how he got around it.

[2021-08-22 20:48] copperwiring commented on #919
Thanks @dyt811 I believe last we discussed this on Slack, we discussed it because I wasn't successful in starting the model training and the work around was to comment out `onnxruntime` which did start the training eventually as mentioned in #918 . Any further suggestions would be appreciated.

I must add this is a fresh installation on compute canada (I had one previously which I removed includin

[2021-08-23 16:36] naga-karthik commented on #919
Thanks for reviving this issue @copperwiring! Below you can find the response from Compute Canada support regarding my request for installing `onnxruntime` on their clusters.

deploying it as a wheel previously.
An option could be to try to convert the docker image into a singularity and use it.
You can find how the docker files links here :
https://can01.safelinks.protection.outlook.com/?url=http

[2021-08-23 20:50] mariehbourget commented on #915
@charleygros, I tested it a bit further, the error is not in the loop directly but in the order of the `events_df_list` used to loop, this list comes from [tensorboard_retrieve_event](https://github.com/ivadomed/ivadomed/blob/c28c49e965e4b9644e178ca349e41fffdc559ea6/ivadomed/scripts/training_curve.py#L196).

- In `tensorboard_retrieve_event`, the code [here](https://github.com/ivadomed/ivadomed/bl

[2021-08-23 21:23] mariehbourget commented on #906
Hi @mathieuboudreau, I forgot to ask in the meeting this morning, is the suggestion I made above to rename ivadomed's output PNG files in ADS ok with you?

[2021-08-23 22:31] gbazad93 opened #920 "Optimized setting based on system configuration"
While working with ivadomed and almost any other library, I always needed to choose the best parameters for the training process and better generalization. Such a setting might be hard to get by the end-user, especially if they have less expertise in deep learning (which is expected in the medical domain). It would be great if Ivadomed includes an automatic parameter setting (learning rate, batch-

[2021-08-24 02:27] charleygros commented on #920
That's excellent feedback, thanks for that @gbazad93

Our approach for now was to setup some generic config file for various task, eg for [classification](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/config/config_classification.json).

But you are so right, it depends on much more elements than the task only.

The article you have shared is highly relevant and interesting.

If you wo

[2021-08-24 21:17] copperwiring commented on #919
Thank you @naga-karthik . I will try to go the same route as you: pull the docker image and convert it into a .sif singularity and later load this file in the background. I'll keep this thread updated with latest update.

[2021-08-24 22:06] copperwiring commented on #848
The `NeuroPoly Contributing Guidelines`  link on https://github.com/ivadomed/ivadomed/blob/2cdc40ad8e73cf0a8cc0aeac419c6dc739a9c325/CONTRIBUTING.rst needs to be updated as it leads to

![image](https://user-images.githubusercontent.com/23316280/130696429-d7df93de-5b73-496d-a38d-fc14359f8955.png)

[2021-08-24 22:10] copperwiring commented on #848
@uzaymacar Contributing Guidelines:

Thank you for your interest in contributing to ivadomed! This project uses the following pages to guide new contributions:

has the first link now re-directing to https://github.com/ivadomed/ivadomed. Is this what you were recommending?

[2021-08-25 02:18] copperwiring opened #921 "Fix issues in cascaded architecture tutorial"
There are some minor issues in the documentation of [Cascaded Tutorial](https://ivadomed.org/en/latest/tutorials/cascaded_architecture.html), description of them is mentioned below:

### Issue 1:
In the section of [Configuration File](https://ivadomed.org/en/latest/tutorials/cascaded_architecture.html#configuration-file), it is written,

`"object_detection_path": "<PATH_TO_DATASET>/data_example_sp

[2021-08-25 02:22] copperwiring commented on #921
The other issue which I am unsure of is this. The same tutorial [mentions](https://ivadomed.org/en/latest/tutorials/cascaded_architecture.html#configuration-file):

[code]

however, there is no such file with suffix `_csfeg-manual`

![image](https://user-images.githubusercontent.com/23316280/130715677-82930c6e-1115-48c2-9b3b-100474f799cc.png)

[code]

[2021-08-25 03:29] copperwiring commented on #921
I found the issue but since it involves `nibabel` lib, I have not found a fix so far. Here is the issue.

Issue comes from `ivadomed/ivadomed/object_detection/utils.py`, line 123

`  ras_orientation = nib.as_closest_canonical(object_mask)
`
the function `as_closest_canonical` takes an argument `object_mask` which is a ` 'nibabel.nifti1.Nifti1Image'` data type. This function

[code]
is a function f

[2021-08-25 10:21] jcohenadad commented on #921
about https://github.com/ivadomed/ivadomed/issues/921#issuecomment-905118099: there are files with the mentioned suffix.

<details><summary>Terminal output</summary>

[code]

</details>

From your post @copperwiring :

![image](https://user-images.githubusercontent.com/2482071/130773586-c9365eae-a0e4-4301-add9-c6f9f59b9ed3.png)

Maybe you didn't find the files because of the type (missing an "s").

[2021-08-25 11:52] SpartacusIsBack commented on #921
Thanks for posting this issue. :+1:
We are having exactly the same issue and cannot figure out a workaround.

Hence, quite stuck at this point in this very interesting tutorial
Any suggestion or advice on it would be highly appreciated. Thanks in advance.

[2021-08-25 13:09] gbazad93 commented on #920
@charleygros I am always keen to a challenging work and do love to learn from you more. Possibly after finishing my current research (by the end of October) I can send you a request :).

[2021-08-25 13:44] mariehbourget commented on #921
Hi everyone!
Issue 2 was raised and investigate in issue #775 with a potential fix. If I'm not mistaken, a PR is opened to address it (#758) @dyt811, @cakester?

[2021-08-25 14:04] #907 closed

[2021-08-27 14:40] mariehbourget opened #926 "Wrong key for dropout in config file"
## Issue description
The dropout key in configuration file does not correspond to the expected key in models' definitions.

### Current behavior
In config files (including `config_default.json`) and in the documentation, the key for dropout in the model parameter is `dropout_rate`. This key is passed to the model in training in `model_params` here: https://github.com/ivadomed/ivadomed/blob/bc1b543

[2021-08-27 15:01] mariehbourget opened #927 "final_activation value not checked for validity"
## Issue description
According to the [documentation](https://ivadomed.org/en/latest/configuration_file.html#default-model), the `final_activation` key of model parameters in config files accepts 3 values: `softmax`, `relu` or `sigmoid`. With `sigmoid` being the default if the key is not present. However, there are no mechanism to catch a wrong value for that key.

### Current behavior
If the key

[2021-08-27 23:09] #915 closed

[2021-08-31 10:58] charleygros commented on #926
... shame

[2021-08-31 11:01] charleygros commented on #926
Marie-Helene Bourget, aka Oeil de Lynx :-)

Anyway.. in other words: good catch and thank you!

I do like Option 1 too, but `drop_rate` is not very intuitive.. I do prefer `dropout_rate`.

[code]

I understand for Option 3, but not sure for Option 2: Why would Option 2 change the behavior of old config files? Can you help me with this one?

[2021-08-31 13:35] mariehbourget commented on #926
In Option 2, `dropout_rate` would be changed to `drop_rate` by the config manager, similar to previous keys that changed (ex: `log_directory --> path_output` here: https://github.com/ivadomed/ivadomed/blob/959b54d7f0094479b64182a7a386978d0147618e/ivadomed/config_manager.py#L69-L93
In this scenario, both `drop_rate` and `dropout_rate` would end up in the `drop_rate` argument of the models. So an "o

[2021-08-31 17:56] copperwiring commented on #918
Just as an update: Issue 4 will not be addressed since a memory allocation has to be done while running on canada compute. Once that is done, this issue shouldn't exist.

[2021-08-31 18:00] copperwiring commented on #921
@mariehbourget Since the issue was already raise in #775 and is being addressed in #758 , should this issue still remain open?

[2021-08-31 18:05] copperwiring commented on #775
Thank you for working on this issue. This issue has one of the function calls `pred_to_nib` ([here](https://github.com/ivadomed/ivadomed/blob/5579c71e8c93dfdb0ca72952bdde604b84bc645e/ivadomed/inference.py#L92)) mentioned but for completion I'd like to add that in addition to the modification in `inference.py/pred_to_nib`, the same fix (whateevr is agreed upon) must be applied in `inference.py/spli

[2021-08-31 18:20] mariehbourget commented on #921
I would keep it open until the "issue 1" from your original comment is fixed.

[2021-08-31 18:25] copperwiring commented on #921
@mariehbourget Thank you. I have fixed issue 1 here: https://github.com/ivadomed/ivadomed/pull/922. Once this is approved, I'll go ahead an close this if you think it's alright to close it to avoid duplication.

[2021-08-31 20:40] #849 closed

[2021-08-31 21:33] copperwiring commented on #844
@dyt811 There is no particular PR dedicated to it. The issues here were addressed as part of other (now closed) issue #847 in PR #847 and #851 . I wanted opinion on whether this issue is good to close?

[2021-08-31 21:36] #844 closed

[2021-08-31 22:49] mariehbourget commented on #926
As discussed in meeting, I'll fix the issue with Option 3 as we prefer to keep only 1 key, `dropout_rate` is a better name than `drop_rate`, and retrocompatibility of old config files is not an issue.

[2021-09-01 17:30] joshuacwnewton opened #930 "`_tkinter.TclError` for `test_dice_plot` on Py3.7/windows-latest CI job"
I noticed a failing test for the newest commit on master (https://github.com/ivadomed/ivadomed/commit/69d3a3443a534c9e49239f3ae96ddf23531df9a4), as well as my branch which I recently merged master into (https://github.com/ivadomed/ivadomed/pull/852).

The error log for master can be found here: https://github.com/ivadomed/ivadomed/pull/852/checks?check_run_id=3487015049#step:7:224

[code]

The sam

[2021-09-01 18:09] copperwiring opened #931 "Minor documentation fixes in 'estimate uncertainity"

[2021-09-01 18:11] copperwiring commented on #931
The tutorial [here](https://spinalcordtoolbox--3493.org.readthedocs.build/en/3493/user_section/tutorials.html) has a minor typo as words are repeated:

This needs to be fixed.

[2021-09-02 01:03] copperwiring opened #932 "Adding tab view for config vs CLI based arguments in tutorials"
Currently our tutorial have the explanation of [configuration file ](https://ivadomed.org/en/latest/tutorials/uncertainty.html#configuration-file)in tutorials where the option of a.) editing the config file to update parameters  and b.) passing arguments via CLI both are merged with each other. This breaks the flow of following the steps to replicate the results. An example see the snapshot attach

[2021-09-02 02:49] dyt811 commented on #932
Personally, I would have preferred Approach 2 as a pure cleaner UI approach but I strongly suspect content wise it is a lot easier to write/flow with Approach 1 simply because of the default tab (either `Config` or `CLI`) might only make it easy for 50% of the user looking for the content in the default tab, while the other half have to manually toggle multiple times to see the other Approach's co

[2021-09-02 02:59] dyt811 commented on #930
I reran that job and prayed to the Random Number Generator $DIETY. Let's see how reproducible this is...

[2021-09-02 03:10] dyt811 commented on #931
Hmm... I think it should say `The uncertainty measures implemented in ivadomed are detailed in Technical features.`?

[2021-09-02 03:23] dyt811 commented on #844
Thanks a lot for the good work. I think that has substantially been more clear the jumble of mess of instruction I wrote before that lead to Julien's original issue. Nice work.

I still do not know what the is the best approach to address these optional components for Developers.

![image](https://user-images.githubusercontent.com/6720068/131776474-c5f22397-e365-4979-b0a3-addc3e554586.png)

Maybe

[2021-09-02 03:26] dyt811 commented on #915
Just wanna say, that is some good investigative work. 👍 TIL. Thanks for sharing.

[2021-09-02 03:31] dyt811 commented on #927
Great eye. Also another place to take out magical strings. @cakester will be able to take a look.

Thank you for the EXCELLENT problem description.  A+ 😆

[2021-09-02 03:45] dyt811 commented on #918
Great point on 1. I totally ran into that and I thought I was just being thick.
As for 4, I am very sure that is a CC specific issue. CC is a VERY specific environment unfortunately and ran into so many edge cases like that. I feel we almost need a dedicated guide for CC. I currently assumed most of the trainings are actually done OFF CC because of issues like #496. I think it would be best to pro

[2021-09-02 14:11] joshuacwnewton commented on #930
Indeed! Looks good to me: https://github.com/ivadomed/ivadomed/runs/3487015020

[2021-09-02 14:11] #930 closed

[2021-09-02 17:56] copperwiring opened #935 "Fix path arguments in estimate uncertainty tutorial"
### What is the error:

In the 'uncertainty estimation' [tutorial](https://ivadomed.org/en/latest/tutorials/uncertainty.html), at one point it says `path_output` is:

![image](https://user-images.githubusercontent.com/23316280/131892714-47999e65-9713-4b22-9908-3b9d8c2fa190.png)

but in the bottom in the same page, it is says it's the data path:

![image](https://user-images.githubusercontent.com/2

[2021-09-02 18:34] #840 closed

[2021-09-02 20:17] copperwiring opened #938 "Trained model incorrect/missing for uncertainty estimation tutorial"
From tutorial [here](https://ivadomed.org/en/latest/tutorials/uncertainty.html), the trained model is expected to be in this path:

[code]
and the name of the model expected is:

`trained_moded.pt` in the folder

`<PATH_TO_DATASET>/data_example_spinegeneric/trained_model`

as seen [here](https://github.com/ivadomed/ivadomed/blob/d71a1c4711d03da7c61a473f571134b262684073/ivadomed/models.py#L1489). H

[2021-09-02 20:27] copperwiring opened #939 "Need definition/explanation of terms is optimize hyperparameters tutorial"
In the tutorial on optimize hyperparameters , in the section [Run the Code](https://ivadomed.org/en/latest/tutorials/automate_training.html#step-5-run-the-code), it says:

[code]

However the terms `all_combin` and `multi_params` have not been defined before and a new user may not know what they mean.  It would be good to define these terms before they are introduced.

[2021-09-02 21:19] copperwiring commented on #918
Thanks @dyt811 For point 1 and 2, if we go with tab methods, it might solve the issue #932

[2021-09-02 22:47] mariehbourget opened #940 "FiLM pipeline doesn't work with "custom" metadata."
### Current behavior
The [FiLM metadata option](https://ivadomed.org/en/latest/configuration_file.html#filmedunet) can be set to `contrasts`, `mri_params` or to a "custom" name corresponding to a column of the `participants.tsv` file.

The "custom" option is not working and gives the following error while loading the data:
<details open>
<summary> Error message </summary>

[code]
</details>

This

[2021-09-03 14:32] #864 closed

[2021-09-03 15:41] #927 closed

[2021-09-04 05:27] charleygros commented on #938
Ok I get it now :-)

So the trained model is here:
[code]
--> both the model (onnx format) and the related config file

So the following lines in the tutorial are correct:
[code]

However the folder name is not very intuitive for a `path_output`.
Options include ask the user to do a `cp trained_model XX` with XX something more intuitive, (this option is herebelow called OPTION_CP).

The `model_nam

[2021-09-07 00:10] mpompolas opened #941 "Add CLI call feature for overriding any config.json parameter"
Following the latest lab meeting discussion, we are considering adding a feature so we can call the Ivadomed framework in the command line, by overriding any parameter from the config.json file.
CLI parameter override already exists in ivadomed but only for a few parameter (namely --train/test/segment, --path-data, --path-output etc.)

As @charleygros mentioned during the meeting, the proposed fea

[2021-09-07 20:31] joshuacwnewton commented on #932
To fix this problem, what about Version 2, but using the [Group tabs](https://sphinx-tabs.readthedocs.io/en/latest/#group-tabs) feature to synchronize the choice between tabs?

[2021-09-07 20:54] copperwiring commented on #932
That's a good suggestion @joshuacwnewton . It we do this, it will also help follow steps in the other they appear in config file : e.g. train and then data path and then output path etc.

[2021-09-07 21:34] copperwiring commented on #932
From out meeting, we want to minimise usage of CLI, therefore we’re gonna get rid of CLI syntax in the tutorials, and once #941  is implemented we can add a single usage page before the tutorials to instruct that everything can also be done via CLI.

[2021-09-07 21:45] jcohenadad commented on #932
can you pls open an issue on that @copperwiring

[2021-09-07 21:52] copperwiring opened #942 "Add a single usage page before the tutorials describing usage via CLI."
As per discussion on #932 , we we want to minimise usage of CLI in our ivadomed tutorials. Therefore we’re gonna get rid of CLI syntax in the tutorials. Once #941 is implemented. we can add a single usage page before the tutorials to instruct that everything can also be done via CLI.

This will help us avoid duplicate mention of CLI as well as config (edit) based methods in current tutorials.

[2021-09-08 00:27] dyt811 opened #943 "Incorrect Exception Type being raised when validating non-existent config JSON files."
## Issue description

### Current behavior

At [here](https://github.com/ivadomed/ivadomed/blob/0c2e6d7d0dd16feadd97929b342e1796a6c02b7d/ivadomed/config_manager.py#L154), the path validation will throw `ValueError` when the file doesn't exist. It should be broken down with more useful informative error as these are user facing.

Acceptance Criteria:
* Raise `FileNotFound` error if the path is well

[2021-09-08 14:35] #926 closed

[2021-09-09 12:55] #943 closed

[2021-09-10 15:35] mariehbourget commented on #824
Hi everyone!
While reviewing PR #945 that fix this issue, I found that I was able to load `dwi` files with the `rec-` entity without problem with the current version of ivadomed on master (b15d7cf).

After some digging, I found that even though the official BIDS entity table [here](https://bids-specification.readthedocs.io/en/stable/99-appendices/04-entity-table.html#magnetic-resonance-imaging) do

[2021-09-12 21:32] jcohenadad opened #948 "Wrong instruction for sct_run_batch"
full context: https://forum.spinalcordmri.org/t/segmentation-mask/741/16?u=jcohenadad

An SCT user arrived at the [`dev/prepare_data`](https://github.com/ivadomed/ivadomed/tree/master/dev/prepare_data) section, and noticed that the instructions are out of date. The usage in the [README.md](https://github.com/ivadomed/ivadomed/blob/master/dev/prepare_data/README.md) needs to be updated from the old

[2021-09-12 21:35] joshuacwnewton commented on #948
When I was working on the SCT Course documentation, I ran into the same outdated syntax there too. (Previously, the SCT course mentioned `parameters.sh` -> I reworked the tutorial to use the newer `.yml` format.)

Since I'm already familiar with it, I would be happy to update the documentation for ivadomed as well.

[2021-09-12 21:40] joshuacwnewton commented on #948
@jcohenadad By the by, do you have any idea how an SCT user ended up at these internal ivadomed dev scripts? i.e. Were they directed to that folder at some point, or did they discover it on their own?

[2021-09-12 21:57] jcohenadad commented on #948
That would be amazing! thank you so much!

Agreed. On the other hand being 100% verbose about how an experiment was run (instead of redirecting to SCT's doc) promotes reproducibility of the results. But of course, in that case, we need to put a large disclaimer like "THIS WAS TESTED ON SCT vX.X".

On their own, I think.

[2021-09-13 01:19] dyt811 commented on #941
Hey, @mpompolas , So I reviewed the issue. If I am understanding, the basic requirement of the features are:

- There should be a Model/Singleton where all default key/parameters are defined with default/values/settings preconfigured (currently this is being take care  of by `config.json` as a default template).
- Work with a model configuration that allow override from CLI arguments.
- Ideally an

[2021-09-14 17:04] joshuacwnewton opened #950 "Default dummy input size (96) for `convert_pytorch_to_onnx` doesn't work in all cases"
In the utility script [`convert_to_onnx.py`](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/scripts/convert_to_onnx.py), the dummy input size is hard-coded to be 96x96 or 96x96x96:

https://github.com/ivadomed/ivadomed/blob/b15d7cfd4b271261835b4c93864d92411c45c3d6/ivadomed/scripts/convert_to_onnx.py#L42-L43

But for a model like `HourglassNet`, the input size (after preprocessing) is 25

[2021-09-14 22:07] dyt811 commented on #730
Hey, Amine Elameri

Recommended course of action and general tips to maybe point you in the general directions

* Go through the ivadomed tutorials just to have a high level overview of the entire repositories organization and architecture. If you run into problems with tutorial, ping both me and @copperwiring so we can address the issues.
* This should also get your python environment in a reason

[2021-09-14 22:12] copperwiring commented on #730
I would recommend to install [FSL](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FslInstallation) (recommended) or [mango](http://ric.uthscsa.edu/mango/) (if you issues installing FSL and need quick glance at any image). It makes a world of difference when you see the final output in the image to understand what you did in the code. This will be particularly helpful when following tutorials.

[2021-09-19 00:50] charleygros commented on #824
I'm pretty sure it was the Spine Generic Processed dataset, available via [neuropoly git annex](https://github.com/neuropoly/data-management/blob/master/internal-server.md#list).

[2021-09-19 17:15] dyt811 commented on #770
Just a quick update on this. We have not forgotten about this important upgrade.
So far, we are testing it in a GPU environment and running into unit test failing problem (with normal exit conditions when it shouldn't) and require some `requirements.txt` reference update and better GPU training test case update. However, beside that issue, all other problems have been effectively addressed and we

[2021-09-21 19:16] mariehbourget commented on #860
Update:
A while ago, we were wondering if having a `derivatives` folder inside a `derivatives` folder (Example case 1 in this [comment](https://github.com/ivadomed/ivadomed/issues/860#issuecomment-879952192)) was allowed by BIDS.
The answer is YES, as described in the third example (`Example of a pipeline with nested derivative directories:`) in the spec [here](https://bids-specification.readthedo

[2021-09-21 21:30] jcohenadad commented on #799
related to #773

[2021-09-22 22:45] Elameri opened #953 "WSL: Training on CPU even when having compatible NVIDIA GPU"
## Issue description
Ivadomed doing training on cpu even though i have a compatible nvidia gpu and installed via ```requirements_gpu.txt```

### Current behavior
Training on cpu

### Expected behavior
Training on gpu

### Steps to reproduce
All steps in https://ivadomed.org/en/latest/installation.html with approach 2

## Environment

Windows 10 Pro : (WSL1 Ubuntu 20.04 with python 3.7) and (WSL2 U

[2021-09-23 00:37] jcohenadad commented on #953
@Elameri could you please add a complete output of your Terminal-- it might contain some useful info for debugging

[2021-09-23 01:34] dyt811 commented on #940
Good catch. IDE actually caught this error but during the extraction out of the `load.py`, I think specific function was not reviewed in detail. First thought is let's try to add meta-data past to it and see. We will get a PR going and test it out a bit more.

[2021-09-23 14:49] cakester commented on #940
@mariehbourget I have added metadata t the function, how did you test for this?

[2021-09-24 15:36] Nilser3 commented on #841
Hi everyone,

Thanks to the very valuable contributions of @jcohenadad , @charleygros and @mariehbourget , we were able to obtain a 7T multiclass segmentation model (SC / GM) that has very satisfactory results. Now we would like to share this model with the community, and if possible make it compatible with SCT's  **sct_deepseeg**  command.

Thank you !!

[2021-09-24 15:44] jcohenadad commented on #841
amazing! i suggest to start by creating a repos under ivadomed org where the model will be located (as done for other models), and add a link to this model in SCT's deepseg function. @kousu @joshuacwnewton @taowa could you please help? thanks!!

[2021-09-24 15:56] joshuacwnewton commented on #841
I don't think @Nilser3 has the permissions to create a new repository under the @ivadomed org. But, I would be happy to create the repo on their behalf, and then grant them individual access to that repo. :slightly_smiling_face:

This is quite easy to do! Here is an example of a recent pull request that added a model to `sct_deepseg`: https://github.com/spinalcordtoolbox/spinalcordtoolbox/pull/322

[2021-09-24 16:06] joshuacwnewton commented on #841
I've created the https://github.com/ivadomed/model_seg_gm-wm_t2star_7T_unet3d-multiclass repository, and sent out an invite to @Nilser3 that would give Maintain access to that repository. :slightly_smiling_face:

[2021-09-26 13:58] mathieuboudreau commented on #906
Sounds good to me! I did implement the `_seg-axonmyelin` merged mask on our side; we'll just have to change some of the default suffix keys I think also.

[2021-09-26 14:35] dyt811 commented on #953
Hey, @Elameri. Just a question, if you have Windows OS, and IvadoMed support Windows OS natively, why do you still need to WSL again? You should be able to just setup IvadoMed on Windows with Python/Pip/Conda/Torch etc and get the training going and should be able to run without issues?

[2021-09-26 17:04] dyt811 commented on #953
The chance of you succeeding in Windows natively without WSL is much higher. You might want to check `yw/python3.9_roadblocks` branch as we have been testing that a bit more with more modern version of Torch (1.8) and you might less likely be running into compatibility issues with CUDA.

Batch/CMD/Powershell, all of them are okay. Before trying too far, validate via

[code]

To ensure Cuda/Torch i

[2021-09-26 23:32] jcohenadad commented on #953
@dyt811 if windows is supported natively, this is something we need to fix in the doc

[2021-09-27 13:34] mariehbourget opened #958 "Pre-commit hooks tests failing"
## Issue description

CI pre-commit hooks tests are failing in new PRs (from september 23rd) and merge with master.
Seems to be because of `(macos-latest, 3.6)` with following error:
[code]

[2021-09-27 18:03] mariehbourget commented on #940
I tested with the config file from my initial comment above.

[2021-09-27 18:36] cakester commented on #940
what command do you run?

[2021-09-27 23:35] mariehbourget commented on #940
The command line tool:
`ivadomed -c <path_to_config_file>`

[2021-09-28 12:07] dyt811 commented on #953
Yup. Will update this ASAP. Windows Torch CPU based IvadoMed has been running and well tested through GitHub Action CI processes for a long time post PR #757 but the Windows GPU based approaches has not undergone the same systematic tests. Going to test it out shortly before the documentation update.

[2021-09-28 12:48] dyt811 commented on #953
Also, kudos to @kousu who did some preliminary testing/digging with GitHub Actions runner to run on romane at experimental #955. We both feel a bit uneasy to potentially expose GPUs for public use (i.e. malicious PRs, as [reported earlier](https://neuropoly.slack.com/archives/C034UD4QW/p1617755387075200) from a public repo). We are exploring potentially more private options at the moment via small

[2021-09-28 13:51] dyt811 commented on #940
@cakester you will need `data_example_spinegeneric` data from https://ivadomed.org/en/latest/tutorials/one_class_segmentation_2d_unet.html
![image](https://user-images.githubusercontent.com/6720068/135100147-e61d6274-d001-429d-a23b-fd7e997dac50.png)

[2021-09-28 14:51] #958 closed

[2021-09-28 20:23] jcohenadad commented on #953
what is the current GPU offer by GitHub actions, google colab, etc. i'm sure we are not the only one with this need. How do others do?

[2021-09-28 20:51] kousu commented on #953
Move this to https://github.com/neuropoly/computers/issues/202

[2021-09-29 10:30] Nilser3 commented on #841
Hi everyone!!

Thanks @joshuacwnewton   I have been able to upload our model  in  the https://github.com/ivadomed/model_seg_gm-wm_t2star_7T_unet3d-multiclass repository and creates a PR and I modified **spinalcordtoolbox/deepseg/models.py**   that as fork  (I'm  really sorry because I am new to Git).

However, I still can't get my .zip file from my repository to be a direct download for the models

[2021-09-29 15:40] joshuacwnewton commented on #841
Thank you so much for the contribution! This is an excellent start. :smile:

Git is a tricky tool to learn, so no worries whatsoever! We're grateful to have your contribution, and happy to help wherever we can. :smile:

To get a zip file as a direct download, you just need to:

1. First remove the [current `.zip` file](https://github.com/ivadomed/model_seg_gm-wm_t2star_7T_unet3d-multiclass/blob/ma

[2021-09-30 09:13] Nilser3 commented on #841
Thank you so much @joshuacwnewton

our reselase is ok in https://github.com/ivadomed/model_seg_gm-wm_t2star_7T_unet3d-multiclass/archive/refs/tags/v1.0.zip

now I can't rename this repo  https://github.com/ivadomed/model_seg_gm-wm_t2star_7T_unet3d-multiclass

on the recommendation of @jcohenadad
https://github.com/spinalcordtoolbox/spinalcordtoolbox/pull/3527#discussion_r718608864

could you (plea

[2021-09-30 17:00] joshuacwnewton commented on #841
My apologies! I thought "Maintain" privileges would let you do that. Got it -- I've renamed the repo!

FYI -- I also renamed the release to match the date-based convention used for other models. (`r20210930`)

The new link to the `.zip` is: https://github.com/ivadomed/model_seg_gm-wm_t2star_7t_unet3d-multiclass/archive/r20210930.zip

[2021-10-03 20:52] mariehbourget opened #960 "`GeneralizedDiceLoss` fails with batch_size > 1 when `include_background=true`."
### Current behavior
The following error happens when trying to use `GeneralizedDiceLoss` with a `batch_size > 1` and `include_background=true`.

<details>
<summary> Error message </summary>

[code]
</details>

According to [this](https://discuss.pytorch.org/t/runtimeerror-the-expanded-size-of-the-tensor-must-match-the-existing-size/105523), it seems to be because `expand_as` cannot be used with a

[2021-10-04 02:59] charleygros commented on #960
Great stuffs @mariehbourget , as always.

I'm surprised by this error: did not occur before.

Your workaround looks good to me.

Efficiency / Optimisation: maybe @dyt811 may know?

[2021-10-04 16:00] mariehbourget opened #961 "Option to choose model (`pt` or `onnx`) based on device (GPU or CPU) for segmentation"
### Motivation for the feature
In the `path_output/model_name` folder, `ivadomed` saves by default the `onnx` model after training (unless conversion to `onnx` is not possible) here:
https://github.com/ivadomed/ivadomed/blob/ac29c7cbe299e6478854823ed6bd818c0e5f9642/ivadomed/training.py#L323-L334
The pytorch model (`best_model.pt`) is also saved to `path_output` only (not in `model_name` folder).

[2021-10-05 20:09] dyt811 opened #963 "Unit test failure only when running testing\functional_tests\test_download_data.py in conjunction with other unit tests"
## Issue description

`test_download_data_no_dataset_specified` fails when running with other tests, but not when just launching itself.

### Current behavior

- Oddly, this particular unit test will fail when we run into in combination with various other tests but will fail when running only by itself.
- We originally suspect it was something carried over from running multiple tests but the cause

[2021-10-05 20:12] dyt811 commented on #963
@joshuacwnewton I suspect this is potentially related to https://github.com/ivadomed/ivadomed/pull/854 but I think more testings might be required. Not sure if you ever ran into similar Sys.Exit 0 gets flagged as crashing unit test when run in conjunction with other unit tests but same code/unit test not crashing when invoked alone or via PyCharm UI.

[2021-10-05 20:26] Elameri opened #965 "CUDA out of memory: 3GB+ GPU RAM minimum requirement"
## Issue description
Unable to do the training of tuto 1 on an Nvidia gtx 1050 gpu, getting :

RuntimeError: CUDA out of memory. Tried to allocate 72.00 MiB (GPU 0; 3.00 GiB total capacity; 1.95 GiB already allocated; 0 bytes free; 2.08 GiB reserved in total by PyTorch)

### Current behavior
![ivadomed_issue](https://user-images.githubusercontent.com/56867467/136096084-bc2ea101-2482-4f19-947e-d458

[2021-10-05 23:44] dyt811 commented on #963
Just to add I am able to further confirm this issue exist on Windows CPU only build as well. Strange it is not being picked up by CI.

[2021-10-06 13:58] mariehbourget opened #966 "test_losses.py: add tests for batch_size > 1"
### Motivation for the feature
We found an issue with `GeneralizedDiceLoss` when `batch_size > 1`.
I fixed the issue and added tests for `batch_size=2` in PR #962 for `GeneralizedDiceLoss`.

### Description of the feature
We should also add tests in CI for `batch_size > 1` in other losses as well.

[2021-10-12 22:16] Elameri opened #970 "Input-level dropout: error in training"
## Issue description

Tried the input-level dropout with one-class segmentation with 2D U-Net

Using the same config file as tuto 1, only difference is ``"multichannel"`` and ``"is_input_dropout"`` are set to true, and ``"batch_size"`` is 9 instead of 18.

![image](https://user-images.githubusercontent.com/56867467/137035812-d0dc5e37-d96e-449c-a679-4bbc0ae40101.png)

I got this problem at the begi

[2021-10-13 13:54] jcohenadad commented on #970
@Elameri could you please use the debugger and find out the cause for this bug? thx

[2021-10-19 20:29] mariehbourget opened #972 "Long segmentation time on large microscopy images"
**Disclaimer**
This issue is based on preliminary observations and does not contain a lot of details/examples at the moment.

## Issue description

I noticed that the segmentation time on large microscopy images is quite long in ivadomed compared to what I was used to in ADS.
To this effect, I fixed a bug in image reconstruction in PR #956.
In addition, we found that using the `.pt` version of the

[2021-10-19 21:26] kousu commented on #972
Oh you could also try this!

[code]

That will tell you what's eating your time. If it lists `_MultiProcessingDataLoaderIter._next_data()` near the top then that will reinforce this diagnosis.

[2021-10-26 16:51] joshuacwnewton opened #973 ""TypeError: 'generator' object is not reversible" during RTD builds"
Update a PR will the latest changes from master, and the RTD build will fail with the following error: ([example build](https://readthedocs.org/projects/ivado-medical-imaging/builds/15097241/))

[code]

[2021-10-26 18:01] #973 closed, assigned to dyt811

[2021-10-26 19:06] mariehbourget opened #975 "Time issue when running `--test` on large microscopy images"
**Disclaimer**
This issue is based on preliminary observations and does not contain a lot of details/examples at the moment.

## Issue description

I tried running the `--test` command on large microscopy images on `rosenberg`, and it takes a very long time.

I'll reference the following screenshot:
![test_on_om](https://user-images.githubusercontent.com/54086142/138940644-3f9618f9-d75e-41fb-9b3a-

[2021-10-26 20:37] mariehbourget opened #977 "Long training time with microscopy images"
**Disclaimer**
This issue is based on preliminary observations and does not contain a lot of details/examples at the moment.

## Issue description

I started recently to train microscopy models in `ivadomed`.
I found that the training time is superior compared to ADS.

For example, training on the SEM model with 9 images takes 4 hours in `ADS` on `bireli` for 400 epochs with data augmentation i.e.

[2021-10-29 20:36] mariehbourget commented on #975
Update: I ran the same test again to have a little bit more details.
Turns out, the `evaluate` function took ~5h30min to compute metrics on my 2 images 😬.

![eval_om_02](https://user-images.githubusercontent.com/54086142/139498300-1c13bd3f-72af-4ce2-b0d7-daa66aa4f9f5.png)

I also ran the command with a cProfile (below) so we may have an idea where to look first.

<details>
<summary> cProfile outpu

[2021-10-29 20:51] mariehbourget opened #979 "Apply `slice_filter_params` on 2D patches"
### Motivation for the feature
In the `loader parameters`, we have a [slice_filter_params](slice_filter_params
) to filter out empty input, empty mask or absent class.
The filters are applied [here](https://github.com/ivadomed/ivadomed/blob/2e5f70faa67e2a21f9ae11ada69145256aa6629b/ivadomed/loader/mri2d_segmentation_dataset.py#L109) on the entire image.
For microscopy, we would like to be able to f

[2021-10-29 20:59] andreanne-lemay commented on #975
Ouf yeah! The number of false positive lesions and number of true positive and false negative lesions (`_get_ltp_lfn` and `get_lfp`) don't really makes sense here and are probably mostly responsible for this huge computing time! It takes every unconnected objects et verifies overlaps, but in the case of axon and myelin segmentation, there are far from only 1 or 2 objects segmented. A quick workaro

[2021-10-30 05:13] naga-karthik opened #981 "Unable to train using ivadomed because of a UnicodeDecodeError"
## Issue description
Unable to train a 2D segmentation model due to a UnicodeDecodeError occuring outside the scope of ivadomed.

### Current behavior

I am trying to traing a model on a BIDSified dataset but am encountering a decoding error, in particular - `UnicodeDecodeError 'utf-8' codec can't decode byte 0xc4 in position 1430: invalid continuation byte`. This is due to some non-ascii characte

[2021-11-01 14:32] mariehbourget commented on #981
Hi @naga-karthik, here are a few thoughts about your issue.

I think this is the right fix. As far as I know, this metadata should not ne crucial for other ivadomed functionalities, unless you use the metadata for training (ex: with FilM). Can you share your config file?

I was unable to reproduce the error:
1) I tried `index_metadata=False`  on `data_spinegeneric_example` with `ivadomed/config/co

[2021-11-01 17:00] mariehbourget commented on #977
### Further investigations:

I ran some profiles on my problematic optical microscopy dataset.
This dataset is very large with:
- 649 validation patches and 1933 training patches at size 256x256
- 184 validation patches and 577 training patches at size 512x512

Here are some training times per epoch  (excluding first loading time):
- **Test 1)** patches of 512x512 without data augmentation, traini

[2021-11-01 22:25] dyt811 commented on #981
Sorry, just a really random tangential thought, could this be related to CRLF vs LF error? As they can be sometimes related to UnicodeDecodeError? Do you know if all the files are were originally generated on the same OS type as what you are trying to run the analyses on?

[2021-11-01 22:47] naga-karthik commented on #981
Thank you @mariehbourget for your effort in the follow-up! I have a few questions:

1. When you say you tried `index_metadata=False`, you mean that you changed that particular argument in [this line](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/loader/bids_dataframe.py#L105), right? Or, did you add an additional key-value parameter in your `ivadomed/config/config.json` file? I have no

[2021-11-01 23:57] dyt811 commented on #981
This is a good resources: https://blog.codinghorror.com/the-great-newline-schism/

Namely any files generated on windows and opened on linux or the reverse may present this problem when not obtained through git (git checkin/out takes care of this in the background).

[2021-11-02 13:50] mariehbourget commented on #981
Thanks for the config file, I don't see anything that would require metadata.

I tried the same as you, adding `index_metadata=False` in [this line](https://github.com/ivadomed/ivadomed/blob/2e5f70faa67e2a21f9ae11ada69145256aa6629b/ivadomed/loader/bids_dataframe.py#L105), and it worked for me.
So the `TypeError cannot unpack non-iterable NoneType object` may not be related to the metadata itself.

[2021-11-03 20:48] mariehbourget commented on #972
Update:
I fixed an issue in PR #982 where the transforms were applied on the entire image for each patch instead of on each individual patch. This reduce the segmentation time from 171 sec to 118 sec.

<details>
<summary> cProfile output </summary>

[code]
</details>

Now the 2 most expensive "transforms" in the profile account for only 18 and 17 seconds.
So the next step will be to revisit the ch

[2021-11-03 21:01] mariehbourget commented on #977
Update:
I fixed the point 3 from above in PR #982. Now transforms and data augmentation (except pre-processing transforms) are applied on each individual patch instead of the entire image for each patch.

New timings for the same 4 tests as above:
- **Test 1)** patches of 512x512 without data augmentation, training time ~ 200 sec/epoch (compared to 500)
- **Test 2)** patches of 512x512 with "mediu

[2021-11-03 21:41] kousu commented on #972
Wow! Congratulations that's already an amazing performance boost. :tada: :tada:

[2021-11-04 15:05] jcohenadad commented on #979
thank you @mariehbourget-- just to clarify, by "filter", here we mean "remove" (per opposition as e.g. apply a Gaussian filter)

[2021-11-05 16:07] #948 closed

[2021-11-05 20:09] #908 closed

[2021-11-05 20:21] MosyMosy opened #983 "The Transforms are not robust to scenarioes without metada"
## Issue description

### Current behavior
Transforms are designed to be provided with metadata in mind. I think this is not always applicable especially if someone wants to directly use the other libraries (like PyTorch's built-in ones) datasets.

### Expected behavior
It will be good if transforms could handle the no metadata setting and/or could get the essential metadata from other methods rat

[2021-11-06 01:50] #715 closed

[2021-11-06 01:50] #775 closed

[2021-11-06 04:03] #770 closed

[2021-11-06 04:03] #492 closed

[2021-11-06 04:03] #740 closed

[2021-11-08 16:16] jcohenadad commented on #659
WIP in https://github.com/ivadomed/multimodal-registration (tagging @EvanBeal )

[2021-11-09 21:17] mariehbourget opened #985 "Warnings with pybids 0.14.0 release"
## Issue description
There was a new release of `pybids` today (`0.14.0`).
When loading a dataset in `ivadomed`, there are now 2 warnings from `pybids`.

[code]

They do not affect ivadomed's behavior and are easy fixes.
I'll add details and fix them as soon as I can.

[2021-11-09 21:54] uzaymacar commented on #821
For reproducibility and tracking progress purposes, below is the `ivadomed` config file I am running for this dataset. The model I'm using is `Modified3DUNet`.

[code]

Currently, the best validation score I reach with this config is `0.2032`. Next steps include:
* Playing around with batch size and learning rate scheduler.
* Playing around with different transformations (we could add gamma contra

[2021-11-09 22:50] MosyMosy opened #986 "The dataframe generation takes along time"
## Issue description
When we want to train a model on a large-scale dataset (cem500k) the data frame generation takes a long time (having no idea if finish at all).
### Current behavior

These are  the last log message I get:

### Expected behavior

I think after some reasonable time of the data frame preparation, it should go to the dataset loading and data augmentation.

### Steps to reproduce

[2021-11-09 23:16] mariehbourget commented on #986
Thank you @MosyMosy for sharing the code and files. We never tried running the dataframe on such a large dataset!

If I understand correctly, after 24h, the command is still running and the `bids_dataframe.csv` file is still not in the `path_output`, correct?

As a first step, would you be able to also share a few images (~5) from the original cme500k dataset so I could reproduce your pipeline wit

[2021-11-10 10:51] MosyMosy commented on #986
Hi @mariehbourget, Thanks for your consideration.
Yes, so it is going to be 40 hours by now. I am suspicious of the "bids_dataframe.py" line 110.

It is simply a directory containing some images without any structure and metadata. [you can download this sample](https://drive.google.com/file/d/1NuHPKaiaXdXTvmgueaxQyH0xZvl85-2d/view?usp=sharing).

Thank you.

[2021-11-10 16:06] MosyMosy commented on #986
After 45 hours of running on the aforementioned system and settings, I got this error:

[code]

[2021-11-11 00:23] mariehbourget commented on #986
Hi @MosyMosy, thank you for the sample dataset.
I was able to reproduce your pipeline on my side and start the training without errors (with only 5 subjects).

This may be a little bit complex to debug because the error is not directly in ivadomed. The error you got above comes from `sqlalchemy` which is a dependency or `pybids` that `ivadomed` uses to index the files in the dataset and create the

[2021-11-14 05:14] #938 closed

[2021-11-14 05:32] dyt811 commented on #977
Not sure if this is related. I just noticed that Tutorial 1 training time is a lot longer than I remembered (2.5h on one computer CPU, 5h estimation on another CPU). I vaguely thought it use to only take 30mins on CPU. I wonder if these could be related and some past PR made things a lot slower for some reason. Still gathering data but thought you mayyyyyyyyy find that interesting. I will keep you

[2021-11-14 20:19] mariehbourget commented on #977
Hey Yang, thanks for reporting this. I don't remember how long the training is supposed to be on the tutorial.
However, in our investigations of this issue and the issue #972, we found a possible bottleneck with deepcopy, related to a fix we did a few months ago in PR #806.
I have yet to investigate further and find a fix for that, but it is my next step. We could compare after it is fixed with yo

[2021-11-15 03:23] dyt811 commented on #861
I think maybe we can try to implement this: https://discuss.pytorch.org/t/how-to-add-pytorch-as-a-requirement-in-setup-py/106188, namely a parsing function for setup.py so we can streamline the `torch` installation process because right now, the installation instructions is branching out like overgrown potatoes...

[2021-11-15 14:52] MosyMosy commented on #986
Hi, I removed all the extra metadata as you said, and the problem still remains with exactly the same output:

I will go with the progressive size increment and I will report the result as soon as possible.

[2021-11-15 17:36] mariehbourget opened #991 "Issue with configuration file documentation build"
## Issue description
Something seems to be wrong with the current build of the [Configuration file documentation page](https://ivadomed.org/configuration_file.html), it shows only the examples and not the explanations of each of the parameters.

It currently looks like this (after the merge of PR #989):
![image](https://user-images.githubusercontent.com/54086142/141827265-f8474e65-ffee-438d-8dd0-9

[2021-11-17 03:44] dyt811 commented on #991
Odd. Just checked the page, it seems fine. I wonder if it is just a random build failure? Current page seems fine?

I wonder if subsequent PR merge resulted in the proper build and if this is a release PR specific issue?

[2021-11-17 14:32] mariehbourget commented on #991
Odd indeed!

I'm in Chrome on Windows 10.
The problematic build was from PR #989 here: https://ivado-medical-imaging--989.org.readthedocs.build/configuration_file.html, it is still not showing OK for me.

However the latest build (current doc page) is fine!
Thank you for following-up, looks like a random build failure.

[2021-11-18 23:00] mariehbourget opened #993 "Transforms in 3D are applied on full volumes instead of sub-volumes"
## Issue description

Transforms such as `NormalizeInstance` and data augmentation, such as `RandomAffine` and `ElasticTransform` are applied in [get_item](https://github.com/ivadomed/ivadomed/blob/6c56f91c614faf43567d558acbad349b6565c1fa/ivadomed/loader/mri3d_subvolume_segmentation_dataset.py#L111) of `mri3d_subvolume_segmentation_dataset.py` on the ENTIRE volume each time a subvolume is loaded.

[2021-11-22 16:49] mariehbourget commented on #985
Details about the warnings are available in draft PR #994.
As explained in the PR, some changes break compatibility with the previous `pybids` version, so we may want to wait before implementing them.
Again, they are just warnings for now and don't affect ivadomed's behavior.

[2021-11-22 18:07] dyt811 commented on #991
Yeah, super odd. I wonder if this is a Release PR specific problem? Post subsequent PR merge, we no longer see this at `ivadomed.org`. So we should keep an eye out to check for the configuration page after each PR to see if this re-emerge, especially next release PR just in case. Thanks for reporting this.

[2021-11-22 18:07] #991 closed

[2021-11-26 17:11] joshuacwnewton opened #996 "`requirements_dev.txt` currently installs PyTorch CPU, conflicting with an earlier step"
I followed along with the most recent [installation steps](https://ivadomed.org/installation.html), log below:

<details>

[code]
</details>

In Step 3, we're instructed to install PyTorch. I chose the GPU version (`torch 1.8.1+cu111`). But, then in the dev-only steps, this GPU version is immediately uninstalled and replaced with the CPU version (`torch-1.8.0+cpu`). This is because of:

https://gi

[2021-11-29 17:59] dyt811 opened #997 "Refactoring Proposal"
### Motivation for the feature

- Currently we have refactored out a [SliceFilter class](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/loader/slice_filter.py) which is a callable dictionary that can provide feedback on what gets filtered out, depending on the various flags that is used to instantiate the class with.

- However, in PR#980, this is expanded to be more than just filtering

[2021-11-29 18:50] uzaymacar commented on #821
Based on previous discussions, I used the following preprocessing script with SCT which (i) extracts the spinal-cord and (ii) crops the VOI using the bounding box given by the spinal-cord mask for each of the 30 patients:

[code]

As a result, we were left with far smaller volumes which will hopefully make training the model simpler. As a result of the preprocessing, for `basel-mp2rage` we now hav

[2021-11-29 22:59] mariehbourget commented on #997
Hi @dyt811, thank you for opening this issue.
As I mentioned in the meeting, I think I'm going to implement the "PatchFilter" separately from the "SliceFilter" in PR #980, as the current implementation is a bit confusing.

I like the term `Selector` the best, and would suggest having 2 classes named `SliceSelector` and `PatchSelector`.

[2021-12-02 14:03] dyt811 commented on #996
That was the original intention when we always assume user clone down the repo. I think since we broke down that multi step process, we can probably remove the lines referenced and assume CPU version was installed first already and if needed, GPU installed manually after that before the dev instructions are  carried out.

[2021-12-05 13:13] kanishk16 commented on #996
Hi @joshuacwnewton and @dyt811 👋

As discussed in #728, and in light of #951 #861 #757 I'm trying to work on a fix. IMHO installation is an important aspect. I would definitely need a little help to ensure if the fix works cross-platform. Please let me know if there are any other issues that I have missed and should refer them as well.

[2021-12-05 23:11] dyt811 commented on #996
@kanishk16 the most recent important change was introduced in https://github.com/ivadomed/ivadomed/pull/969

The original intention was to use the `requirements_dev.txt` as a SINGLE step process to setup development and all dependencies including Torch. I think probably the quickest solution currently is to simply remove the requirement.txt reference in Line 2 and keep the current installation ins

[2021-12-08 22:00] jcohenadad opened #1001 "Unclear what the difference is between `--segment` and `--test`"
In the documentation, the following options are available:

![image](https://user-images.githubusercontent.com/2482071/145291156-61dc2f32-6983-42ae-a887-1bdf5c96da7b.png)

However, it is unclear to me what is the difference between these two options. What i understand from this, is that they both achieve the same thing, but 'segment' is for an 'entire dataset', whatever entire dataset means. For e

[2021-12-08 22:11] jcohenadad opened #1002 "Is there a CLI for segmenting a single image?"
I'm trying to test a model, and I just want to test it on a single image.

I see that we have the following API:

https://github.com/ivadomed/ivadomed/blob/ea01544efc411bda339137de4914b63bb96345b4/ivadomed/inference.py#L314

is this accessible via CLI?

[2021-12-08 22:19] mariehbourget commented on #1002
No, it is not accessible via CLI.

At the moment, the 2 options are:

- use the `--segment` command via CLI. However, it is not optimal for a single image as it requires the images to be in a bids-compliant dataset.
- use the API in a script. Example [here](https://github.com/neuropoly/axondeepseg/issues/523#issuecomment-887062124) that I used previously for microscopy.

[2021-12-08 22:27] mariehbourget commented on #1001
- `--test` will segment the testing set images (based on the split dataset of the config file) and output the predictions in `path_output/pred_masks`,  + it will evaluate the 3D metrics with the ground-truths and output them a csv file in `path_output/results_eval`.

- `--segment` will segment all the images include in the dataset (must be bids-compliant) and output the predictions in `path_output

[2021-12-08 22:37] jcohenadad commented on #1001
Thank you @mariehbourget, it is clearer now. I suggest adding this additional description in the documentation, and also consider changing `--segment` for `--inference` (in case we are dealing with a non-segmentation model)?

[2021-12-08 22:39] jcohenadad commented on #1002
Thank you @mariehbourget. How about creating a new CLI script what has [this code](https://github.com/neuropoly/axondeepseg/issues/523#issuecomment-887062124) and that would be called something like `ivadomed_segment_image`

[2021-12-08 22:46] mariehbourget commented on #1002
Yes I agree, that is missing at the moment and would be quite useful when models are not yet integrated in SCT or ADS.

[2021-12-08 22:57] mariehbourget commented on #1001
I would be in favor of a clarification of the documentation in the short-term.

Not sure about the renaming as `--segment` calls the [run_segment_command](https://github.com/ivadomed/ivadomed/blob/ea01544efc411bda339137de4914b63bb96345b4/ivadomed/main.py#L217) from the main which in turns calls the [segment_volume](https://github.com/ivadomed/ivadomed/blob/ea01544efc411bda339137de4914b63bb96345b4/

[2021-12-09 20:53] jcohenadad commented on #1001
So it seems to me that it is only for segmentation models, but I'm not familiar with the pipeline for "non-segmentation" tasks.

that is a very good point indeed.

[2021-12-13 16:43] mariehbourget opened #1006 "Discussion on prediction filenames"
## Issue description

This issue aims to open a design discussion about the naming of the prediction files from ivadomed and was brought up in ADS meeting while working on integrating ivadomed's model to ADS.

It concerns the naming of the prediction files in ivadomed with:
- the command `--segment` ([run_segment_command](https://github.com/ivadomed/ivadomed/blob/8fd599a07e4a20e4a4ca8fdc676c31f9a4

[2021-12-13 17:33] dyt811 commented on #1006
Regarding option 1 and 2, would the prediction contain all classes or typically only a single class?

I definitely believe if this is not generated by manual labelling, we should not include "manual". Maybe "seg-auto" / "seg-model" just to make it clear for data provenance related reasons, so we can tell how the file is generated? I am not sure if we write anything like that into the nii? Maybe se

[2021-12-13 18:41] mariehbourget commented on #1006
Good question! The prediction with `target_suffix` in the name are always single class.
In cases the prediction contains all classes (NiFti files with command `--test`), the "target_suffix" is omitted (as it should), so it is not a problem.

[2021-12-13 19:11] jcohenadad opened #1008 "`roi_suffix` update docuemtnation"
TODO

[2021-12-13 19:13] jcohenadad commented on #1008
irrelevant

[2021-12-13 19:13] #1008 closed

[2021-12-13 19:41] jcohenadad commented on #1006
How about creating a new field `prediction_suffix` with, in this case, values are: `["seg", "_csfseg"]`

[2021-12-13 20:01] dyt811 opened #1009 "Multi-Contrast Multi-Sessions Feature Potential Discussions."
### Discussed in https://github.com/ivadomed/ivadomed/discussions/1003

<div type='discussions-op-text'>

<sup>Originally posted by **dyt811** December 13, 2021</sup>
Hi all.

We are finally at a sufficiently refactored and base code improved stage to merge earlier radical experimental branch of changes. This would be a good time to revisit some key assumptions which are needed to resolve challeng

[2021-12-13 20:01] dyt811 commented on #1009
Per answers gathered from the meeting:

1) We want to keep this. As long as at least one ground truth is defined. We keep the subject.
   * Example: if subject has t1 target_suffix when config parameters requires both t1 and t2 target suffix (a list of t1/t2).

2) ROI suffix is used to define ROI region (as a kind of spatial filtering). Combining ROI suffix and Target suffix for indexing purpose i

[2021-12-13 20:03] dyt811 opened #1010 "ML Experiment Tracking and Management"
### Discussed in https://github.com/ivadomed/ivadomed/discussions/1004

<div type='discussions-op-text'>

<sup>Originally posted by **naga-karthik** December 13, 2021</sup>
The aim of this post is to open a stage for discussing various alternatives for ML experiment tracking.

### Motivation:

As we train more and more DL models, keeping track of the models (i.e. how many filters were used, what l

[2021-12-15 18:57] jcohenadad opened #1011 "Implement Mask R-CNN"
This approach seems like a promising alternative to the cascaded 'find & segment' approach.

Here is the paper: https://arxiv.org/abs/1703.06870

[2021-12-16 16:52] uzaymacar opened #1012 "RandomReverse transform flip axes not processed correctly"
## Issue description

The `RandomReverse()` transform in `ivadomed/transforms.py` loops over list of bools `flip_axes` but incorrectly calls `if flip_axes:` per axis (as shown [here](https://github.com/ivadomed/ivadomed/blob/93ba03df76d229d8a190c694f757da6c00efa545/ivadomed/transforms.py#L815)) instead of `flip_bool`, i.e. the bool at the current index of the list of bools.

### Current behavior

[2021-12-16 17:25] #1012 closed

[2021-12-17 02:55] uzaymacar opened #1014 "Random Gamma Contrast Data Augmentation"
### Motivation for the feature

Random gamma contrast is a popular and simple data augmentation method, implemented in other libraries such as [`torchio`](https://torchio.readthedocs.io/transforms/augmentation.html#randomgamma). We found it to be helpful in [our work](https://github.com/ivadomed/ms-challenge-2021) on MS Challenge 2021.

### Description of the feature

Random gamma contrast randoml

[2021-12-17 12:44] uzaymacar opened #1016 "Random Bias Field Data Augmentation"
### Motivation for the feature

Random bias field is a popular data augmentation method for MRI datasets, implemented in other libraries such as [`torchio`](https://torchio.readthedocs.io/transforms/augmentation.html#randombiasfield). We found it to be helpful in [our work](https://github.com/ivadomed/ms-challenge-2021) on MS Challenge 2021.

### Description of the feature

Random bias field adds

[2021-12-17 12:52] uzaymacar opened #1017 "Random Blur Data Augmentation"
### Motivation for the feature

Random blur is a simple and popular data augmentation method, implemented in other libraries such as [`torchio`](https://torchio.readthedocs.io/transforms/augmentation.html#randomblur). We found it to be helpful in [our work](https://github.com/ivadomed/ms-challenge-2021) on MS Challenge 2021.

### Description of the feature

Random blur data augmentation uniformly

[2021-12-17 14:56] jcohenadad commented on #1016
How about we add the necessary code in ivadomed to be able to make use of torchio libary?  That would also address https://github.com/ivadomed/ivadomed/issues/1017

[2021-12-17 22:37] uzaymacar commented on #1011
A few thoughts:
* German Cancer Research Center (DKFZ)'s [previous toolkit](https://github.com/MIC-DKFZ/medicaldetectiontoolkit) includes a nice Mask R-CNN implementation that **can handle 2D and 3D images**. Their [follow-up toolkit](https://github.com/MIC-DKFZ/nnDetection) does not include a Mask R-CNN, but in their FAQ they say it will arrive in the future versions. I give this example because

[2021-12-17 23:04] uzaymacar commented on #1016
After thinking more about this, the arguments I presented against this in today's meeting (very shortly again: introducing a new dependency, might not be clean to have some augmentations implemented natively and some ported from outside, and `torchio` augmentations requiring a `torchio.Subject` class etc.) are weakened after I realized that we've already found a way to implement `RandomBiasField`

[2021-12-17 23:25] jcohenadad commented on #1016
go! :-)

[2021-12-17 23:30] uzaymacar opened #1018 "Patch sampling strategies other than center-cropping"
### Motivation for the feature

`torchio` implements some very nice patch sampling strategies as seen [here](https://torchio.readthedocs.io/patches/patch_training.html). Based on my current understanding, and please correct me if I am wrong, the only type of patch sampling we do is center-cropping or ROI-cropping. I deduce this from the `ivadomed` documentation and also [keywords](https://github.c

[2021-12-18 17:01] jcohenadad commented on #728
Looking at the [installation doc](https://ivadomed.org/installation.html#developer-only-installation-steps) recently, I think we should make a clear distinction for people who would like to install ivadomed via pipy vs. via cloning of the repository.

Currently, steps 1,2,3 assume pipy, while step 4 assumes that the repos has been cloned, but it is never mentioned earlier.

For inspiration: https:

[2021-12-18 17:09] jcohenadad opened #1019 "Improve doc readability"
### Motivation for the feature

Most users will want to use a GPU so i suggest to make this tab visible by default:

![image](https://user-images.githubusercontent.com/2482071/146649579-4201b76b-8310-41a0-8d0b-43f6c36aac33.png)

Also, I find the 'all OS' vs. 'Repo installation' confusing, because these two categories are not independent (is: choosing repo installation is included in the 'all OS' c

[2021-12-19 18:03] kanishk16 opened #1020 "Add Maintained as an attribute to Comparison-with-other-projects"
### Motivation for the feature
I really appreciate the [comparison-with-other-projects](https://ivadomed.org/purpose.html#comparison-with-other-projects) that summarizes similar projects, but from a user's perspective apart from the features of a project they might be interested to know if the projects are being maintained or not. Sometimes, this is a major concern before getting started with any

[2021-12-19 19:29] jcohenadad commented on #1020
this is a great initiative @kanishk16 👏

[2021-12-20 05:19] dyt811 commented on #1019
I agree the naming is a bit confusion and will be PR updating that to say `Package installation (recommended)'` instead

So the repo installation is in theory parallel route and does not require dedicated `pip` commands (which exists in the documentation and not in the `requirement_X.txt` files, so a potential source of duplicated information and potential for getting out of sync.

The `All OS` ro

[2021-12-20 05:35] dyt811 commented on #728
Step 2 is already split nicely among Pipy vs repo.

Step 3 is a bit complicated because first level tab is related to `CPU` vs `GPU`. We can certainly  make it about `Pipy (Windows/Linux)` vs `Pipy Mac` vs vs `Repo` at first level tab and then 2nd level tab discussion `CPU` vs `GPU`. This will probably make it more clear from the first glance the route people should choose based on their experienc

[2021-12-21 03:22] uzaymacar opened #1022 "Reasons for `multiple of length plus 2 * padding and a multiple of 16` condition for inputs"
`ivadomed` requires input shape of each dimension to be a **multiple of length plus 2 * padding and a multiple of 16** as seen [here](https://github.com/ivadomed/ivadomed/blob/8fd599a07e4a20e4a4ca8fdc676c31f9a41df438/ivadomed/loader/mri3d_subvolume_segmentation_dataset.py#L87).

Based on my understanding, the first condition (**multiple of length plus 2 * padding**) is there to make sure the volum

[2021-12-21 14:45] mariehbourget commented on #1022
Hi @uzaymacar!
I cannot answer for the 3D case but can explain the 2D case.

In 2D, my implementation does not require a specific input shape. It would have been difficult to achieve for the axon/myelin task because we cannot do a center crop as the structures cover the entire images and the image sizes can vary widely.
So any length_2D/stride_2D can be used as long as the stride_2D is smaller tha

[2021-12-21 15:27] jcohenadad opened #1023 "Confusing usage of the field `slice_axis`"
### Motivation for the feature

A user was not aware of the field `slice_axis`, which resulted in an improper design of the cropping mask. I think that many users will fall in the same trap, so we might want to consider changing the way we deal with these issues. Few suggestions:
- We could get rid of the field `slice_axis` and assume that the user will always properly prescribe the order of the d

[2021-12-21 15:44] jcohenadad commented on #1022
Thank you for opening the issue @uzaymacar , and for giving some insights, @mariehbourget.

My take on this, is that we should unify the 2D and 3D striding code, and we should get rid of the 'multiple of 16' requirement (go with @mariehbourget 's implementation and generalize it for 3D).

[2021-12-22 02:21] jcohenadad opened #1026 "Confusing variable name"
The variable `ext_ct`:

https://github.com/ivadomed/ivadomed/blob/d1b9e118f491d9e5e88523f8d0f0cae65b26ecca/ivadomed/loader/bids_dataframe.py#L86-L87

can be mistaken for "extension for CT images", whereas it refers to MRI (nifti) images. Why the name 'ct'?

[2021-12-22 02:22] jcohenadad commented on #1026
Reading the rest of the code I also notice a lot of "CT" references, ex:

https://github.com/ivadomed/ivadomed/blob/d1b9e118f491d9e5e88523f8d0f0cae65b26ecca/ivadomed/loader/bids_dataframe.py#L100

Who introduced it and why?

[2021-12-22 02:30] jcohenadad opened #1027 "Remove hard-coded derivatives/labels folder for ground truth; need for `dataset_description.json` ?"
### Motivation for the feature

These lines:

https://github.com/ivadomed/ivadomed/blob/d1b9e118f491d9e5e88523f8d0f0cae65b26ecca/ivadomed/loader/bids_dataframe.py#L299-L300

Force the location of the ground truth data to be under `derivatives/labels`, whereas this is not a BIDS requirement (derivatives is, but not 'labels'). I would suggest to let the user indicate where they have their ground tru

[2021-12-22 02:55] jcohenadad opened #1029 "Consider merging "Usage" and "Scripts" into a single documentation entry"
### Motivation for the feature

Currently, the CLI script "ivadomed" is under "Usage", while the other CLI scripts are under "Scripts". I find this distinction is confusing and suggest to simply merge all CLI scripts under a section called "Command-Line Tools" or simply "Usage".

[2021-12-22 14:37] mariehbourget commented on #1026
That would be me!
When integrating the new loader pipeline back in March, we had 1 project using CT-scan (it was one of @andreanne-lemay project).
It was added in PR #721.

CT-scan is not part of BIDS yet but there is a BEP in-progress for it: https://bids.neuroimaging.io/bep024
To accommodate CT,  we used the same trick as with microscopy which is to "force index" the files and use a custom confi

[2021-12-22 14:52] mariehbourget commented on #1027
It is not mandatory as per BIDS specification. However it is mandatory for the indexing with pybids (requirement of pybids with specific content). The file must be located either in `derivatives/` or in `derivatives/"pipeline_name"` (in most of our case `derivatives/labels`).
As many dataset don't have this file, we created the function `write_derivatives_dataset_description` that checks if the fi

[2021-12-22 15:23] jcohenadad commented on #1026
Thank you @mariehbourget, I figured out after running the debugger that it was not a typo (I thought that someone wrote "CT" but was thinking "MRI" instead), but that the part common to all modalities (including MRI) comes later:

https://github.com/ivadomed/ivadomed/blob/d1b9e118f491d9e5e88523f8d0f0cae65b26ecca/ivadomed/loader/bids_dataframe.py#L110

I will suggest some comments to clarify the co

[2021-12-22 15:25] jcohenadad commented on #1027
Thank you for the clarification @mariehbourget ! I will revisit the code and make suggestions for comments in the code

[2021-12-22 15:35] mariehbourget commented on #1026
Comments are currently a little bit above here:
https://github.com/ivadomed/ivadomed/blob/d1b9e118f491d9e5e88523f8d0f0cae65b26ecca/ivadomed/loader/bids_dataframe.py#L80-L85

But I would be happy to review them to make it clearer.

[2021-12-22 15:51] jcohenadad commented on #1026
yes, i did see the comments but it didn't help me 😅 . I'll suggest something

[2021-12-22 16:38] uzaymacar opened #1030 "Making "Random" prefix systematic for random transformations"
### Motivation for the feature

The "Random" prefix is usually added to transformations that have a random component, and this can be seen in libraries like [`torchio`](https://torchio.readthedocs.io/transforms/augmentation.html) and [`torchvision`](https://pytorch.org/vision/stable/transforms.html). `ivadomed` also features `RandomAffine`, `RandomShiftIntensity`, and `RandomReverse` by this logic

[2021-12-22 16:51] jcohenadad commented on #1030
it would be great to have the feedback from @mariehbourget @andreanne-lemay @charleygros

[2021-12-22 16:56] andreanne-lemay commented on #1030
I think it's fine, however, we should make sure the old names still work (e.g., the old class could call the new random class). Otherwise, older config files won't work anymore.

[2021-12-22 22:33] #1014 closed

[2021-12-23 02:47] jcohenadad opened #1032 "Introduce a script that checks the validity of a dataset before training"
### Motivation for the feature

Before training with a dataset, we might want to make sure that, e.g., the ground truth are the same size as the associated image, the ground truth exists, having an overview of the distribution of image sizes across subjects, etc.

@uzaymacar came up with [this script](https://github.com/ivadomed/model_seg_ms_mp2rage/blob/main/preprocessing/qc_preprocess.py), which

[2021-12-24 05:19] uzaymacar commented on #1006
I second @jcohenadad’s suggestion.

Automated rules for naming is tricky because they might not always produce meaningful results. For example, in #1031 I proposed to get the first element in the list in the case of multiple raters but as @mariehbourget pointed [here](https://github.com/ivadomed/ivadomed/pull/1031#issuecomment-999896876) this doesn't work well for all scenarios.

We might have dif

[2021-12-24 17:47] #1016 closed

[2021-12-24 20:17] uzaymacar opened #1035 "Documentation not showing up in Scripts section in RTD"
In the RTD, documentation for a few scripts currently doesn't show up at https://ivadomed.org/scripts.html. The missing scripts are:
* `ivadomed_visualize_transforms`
* `ivadomed_automate_training`
* `ivadomed_prepare_dataset_vertebral_labeling`

As can be seen in `docs/source/scripts.rst`, the documentation for this part is generated with `autofunction`.

What is interesting is, when I do

[code]

[2021-12-24 20:53] jcohenadad commented on #1035
Interesting. [This previous build](https://ivado-medical-imaging--980.org.readthedocs.build/scripts.html) does show all the scripts. I'm looking into this now.

[2021-12-24 20:56] jcohenadad commented on #1035
There is a bunch of warnings involving `visualize_transforms` (and other scripts that fail to be displayed) in the latest build, which do not appear in build 980 linked above:

<details><summary>Terminal output</summary>

[code]

</details>

[2021-12-24 20:59] jcohenadad commented on #1035
The oldest build where some scripts are not shown is [build 1033](https://readthedocs.org/projects/ivado-medical-imaging/builds/15615038/).

[2021-12-24 21:04] jcohenadad commented on #1035
The only suspicious difference between build 1033 (failed) and the previous build (worked) is this added ref:

https://github.com/ivadomed/ivadomed/blob/5df42ddc270e7e4a16f87fc5802657a3d32f9e5a/requirements_common.txt#L23

I am wondering if installing torchio somewhat screwed some other dependencies

[2021-12-24 21:06] jcohenadad commented on #1035
Since this is not high priority, let's leave it for now. Someone from @dyt811 team could look at it at their convenient schedule.

[2021-12-24 22:58] #1017 closed

[2021-12-31 22:19] dyt811 commented on #1019
Some of the issues mentioned above have been addressed in PR1037. Let me know what you think.

[2022-01-01 08:19] kanishk16 opened #1038 "Add a `CITATION.cff` file to cite the repo"
### Motivation for the feature
GitHub lately added a feature of citing published pieces of software by adding a Citation File Format file (`CITATION.cff`) to the root of a repo. Adding a `CITATION.cff` produces a window as:

![image](https://user-images.githubusercontent.com/36276423/147845003-9db11cce-40d2-4089-a07c-c55632457284.png)

And copying the citation gives:

[code]
This is increasingly b

[2022-01-05 20:40] mariehbourget commented on #302
Update:
After a few "intermediate" versions, the release [r20211130](https://github.com/axondeepseg/data_axondeepseg_sem/releases/tag/r20211130) of the SEM dataset is now up-to-date with the soon to be released microscopy BEP031 in BIDS 1.7.0.
The dataset is also now updated automatically on [Zenodo](https://zenodo.org/record/5498378) with each new release on GitHub.

[2022-01-05 22:07] mariehbourget commented on #305
Update:
A first version of the 3 models are trained and available in the mb/v4 branch on each respective repo on the axondeepseg organization, in preparation for the ADS v4 version.
SEM: https://github.com/axondeepseg/default-SEM-model/tree/mb/v4
TEM: https://github.com/axondeepseg/default-TEM-model/tree/mb/v4
BF: https://github.com/axondeepseg/default-BF-model/tree/mb/v4

TODO:

- [ ] Investigate

[2022-01-05 22:35] mariehbourget commented on #306
Update:
- Multiclass evaluation bug fixed in #837.
- `threshold_analysis` function is tested and works without any changes.

TODO:
- Implement inference steps for OMETIFF
- Tutorial in progress in PR #1036
- Update “[Data](https://ivadomed.org/data.html)” in documentation after the release of BIDS 1.7.0.
- Issue #912
- Issue #972
    - Related issue #977
    - Partially addressed in PR #982
    -

[2022-01-10 18:27] mariehbourget commented on #1006
Hi @uzaymacar and @jcohenadad,
I'm not sure about adding another `prediction_suffix` field in the config file.

As suggested by Uzay, it would work for our needs and covers potential retrocompatibility issues. However, I think it opens the door to errors/misunderstanding from the users, either not filling the field and defaulting to the old behavior, or not updating the field to correspond to the

[2022-01-10 18:41] mariehbourget commented on #1032
Very interesting, I think it could be a great addition to the loader!

Currently, a lot of the function from the script are performed during the loading process in ivadomed, and we should be able to re-use them to generalize the script.
e.g.:
- [BidsDataframe](https://github.com/ivadomed/ivadomed/blob/d6fe24db4d6a4319c57802b7a6d68e17f6d8b9e0/ivadomed/loader/bids_dataframe.py#L11) for file indexing

[2022-01-10 21:05] mariehbourget commented on #1009
Hi @dyt811!
I re-read the questions and answers you gathered in this issue and everything look good to me and conform to what we discussed in meeting.

For the last point, the reason why we added `roi_suffix` in `target_suffix` [here](https://github.com/ivadomed/ivadomed/blob/d6fe24db4d6a4319c57802b7a6d68e17f6d8b9e0/ivadomed/loader/bids_dataframe.py#L49) is only to do [this filtering operation](ht

[2022-01-10 22:22] mariehbourget commented on #997
While working on #980, I came across an ambiguity with the term "Selector" so I kept "Filter" for now and I'll cross-post my comment [here](https://github.com/ivadomed/ivadomed/pull/980#issuecomment-1000535086).

[2022-01-10 22:47] jcohenadad commented on #1006
Fair points @mariehbourget. I vote for your suggestion (as it solves the _really_ problematic "seg-manual_pred" added suffix), and we'll see how future users react to that. Depending on their reaction we might reopen this issue for discussion

[2022-01-11 19:51] joshuacwnewton opened #1042 "Pinned ivadomed dependencies causing downstream dependency conflicts for SCT"
In https://github.com/ivadomed/ivadomed/pull/759, ivadomed began pinning dependencies to specific versions.

Unfortunately, as a result, these newer, stricter requirements have made ivadomed incompatible with SCT's requirements. And, since then, SCT has been [quietly installing `ivadomed 2.7.4`](https://github.com/spinalcordtoolbox/spinalcordtoolbox/runs/4779890176?check_suite_focus=true#step:3:65

[2022-01-12 19:23] mariehbourget commented on #303
Update: a few changes were made to the basic microscopy config file in #1036 for the tutorial.

[2022-01-14 13:03] uzaymacar commented on #1006
Hello @mariehbourget, thanks for your suggestion! I agree, this is much simpler 🙂. I implemented your suggestion in #1043 and added you as a reviewer.

[2022-01-16 15:35] uzaymacar commented on #1010
There is also [SigOpt](https://sigopt.com) who has a partnership with Mila and apparently OpenAI also uses it. Meanwhile, Facebook seems to have adopted wandb as inferred from [here](https://github.com/facebookresearch/vissl/issues/268).

[2022-01-16 16:01] uzaymacar commented on #821
Just to update this issue, we are developing the models in a new ivadomed repository: https://github.com/ivadomed/model_seg_ms_mp2rage.

[2022-01-17 07:31] naga-karthik commented on #1010
Here's another idea: SigOpt is more of a tool for Bayesian hyperparameter optimization as is discussed here: [blog 1](https://sigopt.com/blog/using-sigopt-to-optimize-neural-networks-in-biology/) and [blog 2](https://sigopt.com/blog/academic-interview-with-brady-neal-from-mila/) (See the section "Why did you select SigOpt to optimize these models?"). It seems particularly useful when you have a la

[2022-01-17 07:57] naga-karthik commented on #1010
From what I am seeing, it seems that wandb also has hyperparameter optimization, making it a compelling choice! Here's another list of Pros for wandb:

1. Easily integrable with Pytorch and Pytorch Lightning
2. Hyperparameter optimizing ("Sweeps") (Note: not tried it myself)
3. Dataset and model versioning
4. Free for personal use (means that the users just need to create a wandb profile and get a

[2022-01-17 18:23] kanishk16 commented on #1010
Since I am familiar with wandb, I would like to add a few more Pros for wandb:

1. Tracks System Usage (GPU - Power Usage, Temp, Utilization, etc.)
2. Extensive Tutorials available (as a user, reduces your learning curve)

As far as pricing is concerned, there is an option available for academic research teams which can be explored.

[2022-01-18 01:44] jcohenadad commented on #754
This project was tried, it doesn't work, so we're closing the issue

[2022-01-18 01:44] #754 closed

[2022-01-18 15:42] #816 closed

[2022-01-18 15:42] #1006 closed

[2022-01-18 16:34] jcohenadad commented on #1042
This is becoming quite urgent because it blocks us on a project we need to deliver ([this one](https://github.com/ivadomed/model_seg_ms_mp2rage))

[2022-01-18 17:01] kousu commented on #501
I know I'm bumping a closed thread here, but: the more you maintain separate "developer" and "user" versions the less reliable either will be. python has a way to handle "developer mode": [`pip install -e`](https://pip.pypa.io/en/stable/cli/pip_install/#editable-installs), and if you want to temporarily pin a version you can change do that in `install_requires` on a branch. If you can use that you

[2022-01-18 17:16] dyt811 opened #1047 "SCT/ADS Integration CI needed to prevent incompatibility"
### Motivation for the feature

Currently, if we introduce compatibility conflicts via version pinning (see #1042, and #759), we don't exactly get a immediate feedback on consequences for other packages depending on `ivaodmed`, such as `SCT` and `ADS.`

### Description of the feature

One way to mitigate that is by semi-automating the installation of SCT and ADS master branch in addition to `ivaod

[2022-01-18 22:06] andreanne-lemay opened #1049 "Inference on images with shapes different from training"
## Issue description
This issue has for goal to document inference on images with dimensions different from the ones used during training.

## 2D UNet
The 2D model trained for spinal cord segmentation in the module `sct_deepseg` named `seg_sc_t2star` was used for testing.

1. I ran the original model with the following command line. The resulting segmentation is presented in red (see image).
[code

[2022-01-19 22:05] mariehbourget commented on #1049
Thank you @andreanne-lemay for opening the issue.
Here are the results from my tests on microscopy models trained with 2D patches.

## 2D UNet trained with patches on SEM and TEM microscopy data

I tested the [SEM](https://github.com/axondeepseg/default-SEM-model/tree/mb/v4/model_seg_rat_axon-myelin_sem) and [TEM](https://github.com/axondeepseg/default-TEM-model/tree/mb/v4/model_seg_mouse_axon-mye

[2022-01-20 01:25] jcohenadad commented on #1049
Thank you very much for your running these experiments @andreanne-lemay @mariehbourget and for describing the results so well. So my understanding is that the "giant slice" inference _does_ work (with advantages as mentioned by @mariehbourget about the better Dice score and the absence of "patch" on the inference), however, if the image is too big, it might saturate the RAM, so in such case we wou

[2022-01-20 14:26] mariehbourget commented on #1049
In the model without patches, the results seems slightly **better visually** because there is no artefact of "patch pattern" but the **Dice is slightly lower**.
This is only on one test image for each model, I don't have the bandwidth to test further this week, but my intuition is that we would globally get better segmentation results without using patches at inference time.

As you mentioned, we

[2022-01-20 16:01] jcohenadad commented on #1049
thank you for the clarification @mariehbourget , i edited my message to prevent the dissemination of fake news 😅

[2022-01-22 18:00] uzaymacar opened #1051 "BIDS config path in microscopy tutorial need to be adjusted"
## Issue description
The [two-class microscopy segmentation tutorial](https://ivadomed.org/tutorials/two_class_microscopy_seg_2d_unet.html) makes the user copy the config file to their local directory via

[code]

However, running this config file (i.e. with `ivadomed --train -c config_microscopy.json`) without any changes will result in a `ValueError` due to the fact that `ivadomed/config/config_

[2022-01-24 17:01] mariehbourget commented on #1051
Thank you @uzaymacar for reporting this.

Yes, I think telling the user to change the `bids_config` value is the best. They already have to change the `path_data` and potentially the `path_output` as well.

There is an alternative which would be to `cd` in `ivadomed` before running the command. But in that case the path of the new config file would have to be included in the command ex: `ivadomed

[2022-01-24 17:29] kanishk16 opened #1054 "Move to a stricter license?"
### Motivation for the feature
The current license (MIT) just asks to include the copyright notice:
[code]
In open-source software, it's unfeasible to track how users reuse the code. This even includes those cases where users try to misuse the code, perhaps claiming it as their own by modifying or extending it. To avoid any such incidents, it is usually recommended to use a stricter license that h

[2022-01-26 00:45] uzaymacar opened #1055 "Target suffix loading: use of `contains` may pick multiple targets"
## Issue description

### Current behavior

The current implementation of target suffix loading involves the use of the `contains()` string method to capture target files as shown in the below lines:

https://github.com/ivadomed/ivadomed/blob/76b36a0a0f7141feb2d5b00b33e4c3a06865fc2c/ivadomed/loader/bids_dataframe.py#L125-L128

This means that

* if your derivatives contains multiple filenames with

[2022-01-26 05:49] naga-karthik opened #1056 "Improve Documentation for SoftSeg Training"
### Motivation for the feature

The current documentation is not "complete" when it comes to the option of training with soft segmentations. Currently, the key "soft_gt" just says that setting it to _true_ is an indication that SoftSeg will be used for training and the GT masks are not binarized.

### Description of the feature

While that is a good description, it does not say what other keys in

[2022-01-26 15:06] andreanne-lemay commented on #1056
Thanks for opening this issue! Another important aspect of SoftSeg is the loss function. It should be a regression loss (e.g., AdapWing loss).

[2022-01-26 15:48] mariehbourget commented on #1055
Thank you @uzaymacar for reporting this issue!

I don't see any specific cases where `contains()` is beneficial, I agree with you that it should look for an **exact match** to avoid the "silent" issue you ran into.

I would be in favor of option 1 as it prevents such "silent" issue.
Option 2 would work as well but not all derivatives files have an `nii.gz` extension (for MRI it could be `.nii` as

[2022-01-26 16:34] etetteh opened #1057 "ERROR: No matching distribution found for onnxruntime==1.7.0"
I keep getting the following error, when installing `ivadomed` from source on Compute Canada (graham).
```ERROR: No matching distribution found for onnxruntime==1.7.0```

Whether with `python==3.9.7` or `python==3.8`, and
`pip install torch==1.8.1+cu111 torchvision==0.9.1+cu111 --find-links https://download.pytorch.org/whl/torch_stable.html`, I still run into the same error.

[2022-01-26 16:54] dyt811 commented on #1057
So apparently Compute Canada has very limited package availability versus regular PyPI. @naga-karthik ran into this similar issue before. Did you manage to get it resolved, Naga?

[2022-01-26 19:11] naga-karthik commented on #1057
Yeah, the `onnxruntime` package causes a problem on Compute Canada. @etetteh I was not able to resolve it but one quick way to fix this is to comment out the import statement in [this](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/inference.py#L3) line. This works because onnxruntime is only used when we want to run inference on a system that does not have a GPU, in which we have to co

[2022-01-26 19:13] naga-karthik commented on #1056
Thanks for the suggestion, @andreanne-lemay! I'll remember to include this as well.

Also, I trained a SoftSeg model with AdapWingLoss and I observed that the training and validation losses are on the order of 10,000s! Have you also experienced something like this?

[2022-01-26 19:18] andreanne-lemay commented on #1056
Yes it's normal. There is not a minimum / maximum limit with AdapWingLoss (unlike the Dice loss).

[2022-01-27 21:39] jcohenadad opened #1058 "Implement Multi-dimensional Gated Recurrent Units architecture for lesion segmentation"
### Motivation for the feature

Lesion segmentation suffers from high class imbalance. It would be interesting to try this approach: https://github.com/zubata88/mdgru and compare it with our benchmark results, for some of our active projects:
- https://github.com/ivadomed/model_seg_ms_mp2rage
- https://github.com/ivadomed/model_seg_sci

[2022-01-28 05:28] uzaymacar commented on #1056
I have been incorrectly using the term SoftSeg to refer to soft segmentation in general, but as @andreanne-lemay notes the term SoftSeg specifically refers to soft GTs + ReLU + AdapWingLoss as shown in the [original paper](https://arxiv.org/pdf/2011.09041.pdf).

That being said, both in [ivadomed/ms-challenge-2021](https://github.com/ivadomed/ms-challenge-2021) and [ivadomed/model_seg_ms_mp2rage](

[2022-01-28 05:39] uzaymacar commented on #1055
Thanks for your input and insights @mariehbourget! I will bring this up in our next internal meeting, but two things I would like to think more are:
* there might be previous config files that rely on the `contains()` implementation similar to what is shown [here](https://github.com/ivadomed/model_seg_ms_mp2rage/issues/43#issue-1114565060).
* my suggestion above with `endswith()` instead of `conta

[2022-01-28 06:17] naga-karthik commented on #1056
@uzaymacar That sounds like a good plan! I agree about the user-abandonment issue, it's common to expect the loss to be between 0-1 or in the order of 10s but having large loss values might raise some concern over its "correctness" and hence the user might switch to DiceLoss instead.

Just so we are on this topic, I am getting a strange warning on using the "relu" as the final activation layer:
[c

[2022-01-28 06:31] uzaymacar commented on #1056
I don't recall as well. The only difference I see in our [implementation](https://github.com/ivadomed/ms-challenge-2021/blob/3e8e5b292cbc64edcda7add17a11654969d1d080/modeling/models.py#L527) is that we called the ReLU function through `torch.nn.functional`. That might solve it, but if not, if I'm understanding correctly the `bool(...)` call functions to check if the maximum activation value is non

[2022-01-28 14:32] naga-karthik commented on #1056
Thanks for the suggestions, @uzaymacar! I tried them both and I still got the TracerWarning. An important note is that I get this error only after the training is done (not during the forward pass when the final activation is also calculated). This suggested that the error is not in how the forward pass output is calculated, rather, it has something to do with the export to the `onnx` format as al

[2022-01-28 15:06] jcohenadad commented on #1010
heads up: @naga-karthik is working on an implementation-- and i also see that @dyt811 is assigned to this issue-- we should absolutely try avoiding several ppl working in parallel without communicating, so please @naga-karthik can you open a PR (in draft mode) so the team can start chipping in, give feedback, brainstorm, etc.

[2022-01-28 15:32] uzaymacar opened #1059 "Transformations documentation: separate between preprocessing and data augmentation"
As seen in the below lines

https://github.com/ivadomed/ivadomed/blob/76b36a0a0f7141feb2d5b00b33e4c3a06865fc2c/ivadomed/transforms.py#L1181

we specify (i) resampling, (ii) center-cropping, and (iii) roi-cropping as preprocessing steps amongst all the transformations.

As per the discussion today, we should probably make this separation clear in the documentation. We can have a "preprocessing" and

[2022-01-28 16:19] jcohenadad commented on #1059
Alternatively, we could have a heading 1 section "Data Augmentation" and another heading 1 section "Preprocessing". It would be coherent with the heading 1 "Postprocessing" that already exists.

[2022-01-28 16:48] jcohenadad opened #1060 "Clarification about the usage of `filter_empty_mask` and `filter_absent_class`"
### Motivation for the feature

I find the potential overlap between the two fields quite confusing. Here is the definition:

[code]

A few issues:
- firstly, the semantic "filter_absent_class" is quite different from "filter_empty_mask", even though the concept is the same (ie: remove one slice if label is zero everywhere), except that "filter_absent_class" applies to multiclass cases
- could we

[2022-01-28 16:55] uzaymacar commented on #1059
Agreed, that's better! We also need a separate heading for "other" utility transformations such as `NumpyToTensor()` and `NormalizeInstance()` as they are neither preprocessing nor data augmentation. I hope diffusing "Transformations" into the three separate headings discussed here wouldn't be too visually overwhelming.

[2022-01-28 21:14] mariehbourget commented on #1055
I'm not sure to understand and may be missing some context.
So you would have several GT with the name `_seg-*` (ex: `_seg-01`, `_seg-02`, `_seg-03`) and put` _seg` in the config file.
Then either one of those GT would be paired with the image for training?

I think right now the loader will associate only 1 GT (ex: `_seg-01`) to 1 given image. But I'm not sure if you re-run the training, if it wi

[2022-01-28 21:26] uzaymacar commented on #1055
The first point of mine simply says that people might have used, for example, `_seg` in their config file to load `_seg-XX` as the GT. This might even be the case for datasets with a single GT. As a result of the PR that will address this issue, their config files will no longer work (as we want exact match).

Indeed! This is what I have observed: it takes another one and which one changes from ru

[2022-01-29 00:01] #1051 closed

[2022-01-29 01:43] uzaymacar opened #1062 "Mix-up fails with GPU training due to tensor device placement"
## Issue description

### Current behavior

Training with GPU using mix-up data augmentation gives a runtime error related to tensor device placement: `RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!`

### Investigation

The error arises due to the fact that `lambda_tensor` as initialized below

https://github.com/ivadomed/ivadomed/blob/

[2022-01-31 16:49] dyt811 commented on #1009
## Current PR

First version of the PR will target the most common simple cases:
* Multiple Sessions Data
* Multiple Modality Data
* Combination of the above
* Assume all subject specific volumes are co-reregistered
* No/limited file substitution support.

Additional Key Assumptions:
* Most have been implemented at the indexer level
* Most substitution are not implemented at the file pairing level

[2022-01-31 20:45] etetteh commented on #1057
Thanks. I commented `onnxruntime` out both [here](https://github.com/ivadomed/ivadomed/blob/97b5772374660b12895f7a458941f468090e8bf8/ivadomed/inference.py#L3) and [here](https://github.com/ivadomed/ivadomed/blob/97b5772374660b12895f7a458941f468090e8bf8/requirements_common.txt#L13), and that issue was resolved.

However, installing ivadomed on Compute Canada inside a `python==3.9` virtual environme

[2022-02-01 04:06] etetteh opened #1066 "sqlite3.OperationalError: too many SQL variables"
I am using ivadomed (git-master-97b5772374660b12895f7a458941f468090e8bf8*)

I run into the above error when trying to train on the spine generic dataset. Don't really know what's causing that.

[code]

![Screen Shot 2022-01-31 at 22 53 33](https://user-images.githubusercontent.com/28512232/151911127-faaba7b6-11b7-4cfd-8c49-53961068036c.JPG)

[2022-02-01 10:42] etetteh commented on #1066
Here is my [requirements.txt](https://github.com/ivadomed/ivadomed/files/7977717/requirements.txt) for reproducibility.

[2022-02-01 14:40] mariehbourget commented on #1066
Hi @etetteh, could you share your config file as well?

I remember someone having this error before also on compute canada, see [here](https://github.com/ivadomed/ivadomed/issues/986#issuecomment-965485235), but I was unable to reproduce it locally on my laptop.

[2022-02-01 15:34] mariehbourget commented on #1066
There would be one thing to fix in the config file in `contrast_params`. The contrasts in BIDS is always the last part of the filename after the last underscore, so "T1w_MTS" and "MTon_MTS" should be replaced by "MTS" only in:
[code]
Other than that, everything looks fine.

I would suggest to fix the `contrast_params` and try the training again.
However, I doubt that this is what is causing the is

[2022-02-01 19:26] #979 closed

[2022-02-01 19:28] mariehbourget commented on #997
In PR #980, we implemented a `PatchFilter` similar to the `SliceFilter` and kept the name "filter" for consistency for the moment.

[2022-02-02 12:55] naga-karthik commented on #1010
Yes! Thank you for the suggestion @jcohenadad! I have created a draft PR #1069 that aims to resolve this. Looking forward to your suggestions! Sorry if anyone else was working on this already.

[2022-02-02 16:06] etetteh commented on #1066
I made the necessary change to the `contrast_params` as suggested.
I run the project on my local machine, and it's working so far without the error mentioned above.
Additionally, on Compute Canada, the code runs successfully on the subset dataset linked in the [tutorial](https://ivadomed.org/tutorials/one_class_segmentation_2d_unet.html#download-dataset), but raises the above error when running on

[2022-02-02 21:56] dyt811 commented on #1066
Okay, current theory on this is likely related to the SQLite database being built under BIDSLayout (a package we use) having a hard limit on SQLITE_MAX_COLUMN, as elaborated a bit here: https://stackoverflow.com/a/67673249. We will likely needs to check SQLite version and its limit and see if there is a way to recompile SQLite with higher limit to see if it gets around this issue. I just requested

[2022-02-04 18:45] naga-karthik opened #1070 "Usage of `subject_selection` key in the config file"
## Issue description
The documentation concerning the usage of the ["subject_selection" key](https://ivadomed.org/configuration_file.html#subject-selection) seems unclear. There are 3 sub-keys in this dicitionary: `n`, `metadata`, `value`. I understand the `n` refers to the number of subjects chosen, `metadata` is the name of the column in the `participants.tsv` file. How do we interpret the `valu

[2022-02-04 20:02] dyt811 commented on #1070
So the example given chosen two sets of subjects: "5 x disease == healthy" + "10 x disease == ms"

So in the case of "participant ID" since each participant can only has one ID, it is probably not useful to be used as selection here.

As a simple example, maybe you can try "5 x sex == male" or "10 x sex == female" and see if it pulls up anything.

I think it might be just simply pulling through th

[2022-02-07 14:57] dyt811 commented on #1057
Thanks for reporting back! Here s another related issue #919.

[2022-02-07 15:01] dyt811 commented on #728
With the recent merge of #1037. I think we have now addressed most of the original key points of the issue. #1000 when completed will usher in a much more simplified process which will begin the next round of documentation update on this but I think given the amount of effort and improvement that has been made since the opening of this issue, we are in a good place to close it.

[2022-02-07 15:06] etetteh commented on #1057
Thank you @dyt811. As mentioned by @naga-karthik onnxruntime is not needed when running on GPU platform, so simply commenting it out in the requirements_common.txt file and the import in ivadomed/inference.py was the fix.

[2022-02-07 15:06] dyt811 commented on #932
Fully resolved in PR1039 and other upcoming PRs that revamp the tutorials with improved tab organization.

[2022-02-07 15:10] kousu commented on #728
Thank you for seeing this through to the end @dyt811!

[2022-02-07 15:25] #1062 closed

[2022-02-07 17:10] kanishk16 commented on #1057
@dyt811 #1000 would install onnxruntime only when user explicitly specifies (not added as of now, but definitely had this in mind while drafting the PR). Perhaps we could consider importing onnxruntime inside https://github.com/ivadomed/ivadomed/blob/422ada13a3d4d4904116ab99dac7d2cb61ac841a/ivadomed/inference.py#L31-L45

which would basically import onnxruntime only when the onnx_inference is call

[2022-02-07 22:56] arbalest2 commented on #686
This paper looks promising :

[SMIL: Multimodal Learning with Severely Missing Modality](https://www.aaai.org/AAAI21Papers/AAAI-437.MaM.pdf)
[paper talk](https://slideslive.com/38947797/smil-multimodal-learning-with-severely-missing-modality)

- Their approach can deal with missing modalities in the training and testing set (works well even if 90% of the training data contains missing modality). I

[2022-02-08 12:46] uzaymacar opened #1072 "Denoising filter in preprocessing"
Denoising is a common preprocessing operation used in medical image analysis. It helps with suppressing unwanted information (e.g. noise) and focusing on wanted information (e.g. regions of interest). An extended discussion and preliminary investigations on denoising can be found at ivadomed/model_seg_ms_mp2rage/issues/46.

[2022-02-08 18:39] naga-karthik opened #1074 "Self-Supervised Learning for an efficient use of large, unlabeled datasets"
### Motivation for the feature

[Self-supervised Learning](https://en.wikipedia.org/wiki/Self-supervised_learning) (SSL) is a hot topic in computer vision research that aims to make proper use of the large amounts of unlabeled data that is readily available by unsupervised pretraining through auxiliary tasks. Given how the medical field is already constrained from having relatively smaller dataset

[2022-02-08 20:09] uzaymacar commented on #1074
[VISSL](https://github.com/facebookresearch/vissl) from FB (or Meta 😛) includes reproducible implementations for most SOTA SSL methods.

[2022-02-08 23:48] uzaymacar commented on #1029
Further suggestions on this are [here](https://github.com/ivadomed/ivadomed/pull/1061#pullrequestreview-868294862) and [here](https://github.com/ivadomed/ivadomed/pull/1061#issuecomment-1033111713).

[2022-02-09 00:34] uzaymacar commented on #1056
Closing as #1064 was already approved and merged!

[2022-02-09 00:34] #1056 closed

[2022-02-09 04:40] naga-karthik commented on #1074
Thank you for the link! This is really useful! 🙌

[2022-02-16 10:54] GrimmSnark opened #1079 "RuntimeError: CUDA error: no kernel image is available for execution on the device"
## Issue description

### Current behavior

Hello,

So I have been successful using the axondeepseg 4.00 package with GPU to segment images for my work. I wanted to look into training my own models to better improve the accuracy of segmentation etc. So I created a fresh conda environment of the ivadomed package, including the GPU functionality.

I followed the tutorial for "Two-class microscopy se

[2022-02-16 12:50] uzaymacar commented on #1079
Hey Michael, thanks for opening the issue. ivadomed uses PyTorch and the same issue is discussed in pytorch/pytorch/issues/31285. From what I understand, this issue happens with GPUs with low compute capability (CC) which is not supported by the latest builds of PyTorch. You can check your GPU's CC from [here](https://developer.nvidia.com/cuda-gpus). Downgrading the PyTorch version might be a solu

[2022-02-19 09:16] etetteh opened #1082 "IndexError: index 0 is out of bounds for axis 0 with size 0"
### Current behavior
[code]

### Expected behavior
Run without the errors,

### Steps to reproduce
I created a `.joblib` file that contains the subjects for training, validation, and testing.

[code]

## Environment

### System description
Graham (Compute Canada)

### Installed packages
<details open>
<summary> Output of <code>pip freeze</code> </summary>

[code]

</details>

[2022-02-19 13:14] uzaymacar commented on #1082
Hey @etetteh, can you also add where and how to access the **data** to the **Steps to reproduce** section? My first guess is that the `subj_XXX` format doesn't load any data as the BIDS convention uses `sub-XXX`.

[2022-02-19 14:46] etetteh commented on #1082
I am using the spine-generic-processed dataset with the attached `.joblib` file that contains the subject names. I tried using the `subject directories` as in `sub-XYZ`, and also exact `subject images` as in `sub-XYZ.nii.gz`, but they all gave the same error.
Furthermore, I am attaching the  `.joblib`, since it's a public dataset.
[ood_split_datasets.joblib.zip](https://github.com/ivadomed/ivadome

[2022-02-19 21:13] etetteh commented on #1082
I resolved the issue.  I recreated the `.joblib` file again, and everything works one.
However, I suspect the issue was due to
1. the subsetting of the full dataset.
2. potential error in creating the `.joblib` file

[2022-02-19 21:13] #1082 closed

[2022-02-20 22:08] etetteh opened #1083 "ValueError: Shape mismatch: im1 and im2 must have the same shape."
## Issue description
### Current behavior
I am trying to use a pre-trained model to perform inference on a different test set rather than the test subset of the "original", in order to analyze the model performance on out-of-distribution data.
I created a '.joblib' file to pass only my test data, but it resulted in the error shown below. I also added some training and valid data (although they won

[2022-02-21 03:11] dyt811 opened #1084 "Refactoring Model Organization and Improved Neural Network Instantiation"
### Motivation for the feature

* Current neural net architecture organization could use a bit more reorganization as it is a 1500+ lines model.py files of various modules/layers/architectures that are somewhat tangentially related.

* More importantly, there are key problems with how models are instantiated:

   * ![image](https://user-images.githubusercontent.com/6720068/154882013-64c885f6-b07c-

[2022-02-21 15:44] jcohenadad commented on #1083
@etetteh thank you for reporting this issue. I would suggest you go through the debugger to try to understand at what point this mismatch is occurring. I think it would be a good opportunity to get more into the code and show your computer skills 😊

[2022-02-21 21:46] mariehbourget commented on #961
After some investigation, I found that the model (onnx or pt) is not chosen in `inference.py` as previously mentioned but in `models.py` here https://github.com/ivadomed/ivadomed/blob/860f44ff98eb58a8cce64a8bcc69b73df5a57b7f/ivadomed/models.py#L1486-L1512

The function returns the onnx version if present, otherwise the pt version (the inverse of the behavior in inference.py).

[2022-02-22 20:09] mariehbourget commented on #301
Update:
The Microscopy BEP031 was integrated in BIDS and release officially with `BIDS 1.7.0`, so I'm closing this issue.
Here is the link to the spec: https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/10-microscopy.html

[2022-02-22 20:09] #301 closed

[2022-02-22 20:12] mariehbourget commented on #302
Update:
The Microscopy BEP031 was integrated in BIDS and release officially with BIDS 1.7.0.
All of our microscopy datasets have been updated to version 1.7.0 in https://github.com/neuropoly/axondeepseg/issues/603, as well as the ivadomed testing dataset in https://github.com/ivadomed/data-testing/pull/17, so I'm closing this issue.

[2022-02-22 20:12] #302 closed

[2022-02-23 15:27] mariehbourget commented on #303
New added keys in loader parameters in PR #980:
[code]

[2022-02-26 05:28] naga-karthik opened #1087 "Expand the definition of `multichannel` to multiple images within the same contrast"
### Motivation for the feature

Adds more functionality to ivadomed by making it possible to train multichannel models obtained by concatenating different images such as sagittal (`acq-sag_T2w)` and axial (`acq-ax_T2w`), having same dimensions within the same contrast.

### Description of the feature

Currently, the definition of `multichannel` as seen [here](https://ivadomed.org/configuration_fil

[2022-02-26 21:19] jcohenadad commented on #1087
I suggest to be more inclusive, otherwise in 6 months we will have other cases (eg: `*acq-flip1*`, `*run1*`, etc.) and we will have to refactor again.

[2022-02-28 02:52] dyt811 opened #1088 "Violin Plot script support/automation once Weights and Biases are formally/fully incorporated"
### Motivation for the feature

Currently, we have a HIGHLY specific script JUST to generate violin plot by Konstantinos to conduct model comparisons.
in `\ivadomed\ivadomed\scripts\visualize_and_compare_testing_models.py`

We can potentially allow automation of this script and offload a lot of the figure generation into Weights and Biases platform that is being increasingly integrated once PR#106

[2022-02-28 03:08] dyt811 opened #1089 "Weights and Biases Migration"
Test epics to keep track of Weights and Biases

[2022-02-28 03:09] #1089 closed

[2022-02-28 03:20] dyt811 opened #1090 "Review and deprecate Tensorboard related experiments tracking code"
### Motivation for the feature

* Once Weights and Biases are fully integrated, we probably no longer need tensorboard related code (Please voice up if you prefer to keep it).

### Description of the feature

* The goal is to ensure the final phase of the clean transition from tensorboard to WandB.

   Acceptance Criteria:
   * Thoroughly review the codebase for all reference to tensorboard
   * I

[2022-02-28 03:46] charleygros opened #1091 "dice_score vs multi_class_dice_score -- Mismatch detected"
Hey team,

Writing to you on behalf of some collaborators. I don't have all the full picture yet, I will post asap (eg config file), when they share with me. But thought I would reach out, in case any of you have already been thinking of this / encountering this issue.

Context:
- 2 class segmentation problem.
- They trained their model, went to the logdir to plot the validation metrics
- `multi_c

[2022-02-28 04:45] andreanne-lemay commented on #1091
Yes, I'd say like you, most probably class imbalance. One class has a lower Dice score than the other but has a relatively low volume. E.g. class 1: 60% Dice score and class 2: 90% Dice score -> Multi-class dice score 75% but if class 2 represents most of the positive class pixels (bigger volume), the Dice score will be much closer to 90%.

[2022-02-28 15:00] mariehbourget commented on #1087
I agree with Julien here.
If we based the pairing for multichannel only on substrings, it will work for a particular case only (ex:  `acq-sag_T2w` and `acq-ax_T2w`). However, BIDS allows for other entities between `acq` and `suffix`, so we could end-up with filenames like `acq-sag_ce-XX_run-1_T2w` and  `acq-ax_ce-YY_run-2_T2w` in the future.

Note that all the entities from the filenames are index

[2022-02-28 16:47] #985 closed

[2022-02-28 20:12] jcohenadad commented on #1087
ex, we could have:
- sub1_acq-sag_run-1_T2w.nii.gz --> to select for training
- sub1_acq-sag_run-2_T2w.nii.gz
- sub2_acq-sag_T2w.nii.gz --> to select for training

so a regex approach should accommodate this. Ex of config file for a single channel case training:
[code]

to be replaced with:
[code]

and in a multichannel scenario:
[code]

[2022-03-02 15:38] #961 closed

[2022-03-02 22:17] mariehbourget commented on #1049
Here are some details for the 2D case on how the "patching" is done so we can explore how to turn in on and off for inference.

### 2D patching

#### Training and testing (command `--train`)

1. Training uses the `model_params` from the **config file used to run the CLI** (the `-c` argument).
2. At loading time, if `length_2D` is present in the `model_params`,  it is first assigned to `length` [he

[2022-03-02 22:41] mariehbourget commented on #1049
Now the 3D sub-volumes case.

### 3D sub-volumes

#### Training (command `--train`)

1. Training uses the `model_params` from the **config file used to run the CLI** (the `-c` argument).
2. At loading time, `length_3D` from the `model_params` is first assigned to `length` [here](https://github.com/ivadomed/ivadomed/blob/d4181999c7dcda3d0ef22161eaf3e32bf6d92b9f/ivadomed/loader/bids3d_dataset.py#L44

[2022-03-02 23:34] mariehbourget commented on #1049
So for the 2D case, I'm thinking about a CLI argument to turn-off the patching (could also be a new config key or both).

That seems pretty simple to implement and would be modular enough to be applied at testing time only (command `--test`), even if testing and training are sharing the loader part.

For segment, the argument could be passed to the `segment_volume` via the [options](https://github

[2022-03-03 14:07] etetteh opened #1092 "Controlling randomness for reproducibility"
The current implementation of ivadomed only sets the random number generator seed for splitting a dataset into train, validation and test sets. However, there are other sources of randomness that we need to take into consideration, such as 1) the Numpy library 2) Pytorch library 3) Python itself 4) CUDA etc.
We may use this [reference](https://pytorch.org/docs/stable/notes/randomness.html)

The ma

[2022-03-03 15:34] etetteh commented on #1092
There are cases where the above libraries are used without instantiating a seed. Random from the python standard library for instance uses [self.seed](https://github.com/python/cpython/blob/5fd33b5926eb8c9352bf5718369b4a8d72c4bb44/Lib/random.py#L87-L94) , which when not passed will use for example the user's system time, some torch's methods/or functions has some level of randomness (data loader f

[2022-03-03 15:49] jcohenadad commented on #1092
thank you @etetteh, could you please cross-reference directly to the code that defines this function? it will be easier to debug/refactor, many thanks

[2022-03-03 15:52] etetteh commented on #1092
This is my own function suggestion to be used.

[2022-03-03 16:23] etetteh commented on #1092
I will add it to the branch I am working on, and push it ASAP.

[2022-03-03 18:55] jcohenadad commented on #1092
this is great! thank you Enoch. In general we prefer atomic PRs, so if it is fairly isolated could you pls do it in another PR. thx

[2022-03-03 19:39] jcohenadad commented on #167
The output JSON file includes the list of subjects used for training. It would be great to also add:
- the repos of the dataset + SHA
- version of ivadomed + SHA

it would be similar to the output of `sct_run_batch`. Example:

<details><summary>Terminal output</summary>

[code]

</details>

related to:
- https://github.com/ivadomed/ivadomed/issues/193
- https://github.com/ivadomed/ivadomed/issues/

[2022-03-03 21:19] uzaymacar commented on #1054
I found a guide to choosing a license here: https://choosealicense.com/ (by GitHub). https://choosealicense.com/licenses/ also gives a brief description and the features of each license. Perhaps it can help us if we want to move to another license.

[2022-03-03 22:42] mariehbourget commented on #167
We have a `version_info.log` file outputted in the `path_output`.
It includes the commits of ivadomed and of the dataset used.

However, this file is overwritten every time we run ivadomed in that folder, either for training, testing or segment.
So I agree with Julien, this information should probably be included in the config file that is saved at the time of training with the model in the model

[2022-03-04 16:25] etetteh commented on #1092
I have made the necessary changes in the respective files. I added a key in the config file under the ConfigKW, instead of having it under the SplitDatasetKW, but I am having an error. I noticed the keys under ConfigKW are wrapped in a `context`, so I have to fix that.

[2022-03-04 16:44] jcohenadad commented on #1092
@etetteh can you please reference where you made the changes, what error you obtain, etc. as you can see from other issues/PRs we make efforts to thoroughly cross-reference, add hyperlinks to code, etc. thank you for your understanding

[2022-03-04 18:07] etetteh commented on #1092
Okay. I understand. There were a number of changes, and I have pushed them to this [branch](https://github.com/etetteh/ivadomed/tree/et/control_randomness).

This is the error I am getting.
[code]

I understand why I am getting that error, but my issue is how to make the necessary change in the [main.py](https://github.com/ivadomed/ivadomed/blob/8d42d27298d4ffc284f3da2e24d03f9e967d7c84/ivadomed/ma

[2022-03-05 10:33] uzaymacar commented on #1092
Hey @etetteh I have a couple thoughts / suggestions but let me know if I'm missing something:
* You want to do `context[ConfigKW.RANDOM_SEED]` but `context` is not defined in `ivadomed/loader/utils` which is the current call place for `set_seed`
* Instead of calling `set_seed` [here](https://github.com/etetteh/ivadomed/blob/aca753bd359e7fbf50a75fe4307f7eae90a66587/ivadomed/loader/utils.py#L22) we

[2022-03-07 12:07] etetteh commented on #1092
Thank you @uzaymacar, and yes I wanted to call context inside the respective.
It turns out, I don't necessarily have to seed everything, specifically the randomness in the `transforms.py` file and others. Anyways, I have resolved the error, and added the `set_seed` to the `main.py` file, which then goes to the `loader/utils.py` and `training.py`.

If we have to set the `set_seed` at the top of oth

[2022-03-07 14:54] jcohenadad commented on #1092
@etetteh can you please open a PR so we can follow your development

[2022-03-07 22:46] etetteh opened #1094 "ImportError: cannot import name 'int_classes' from 'torch._six' (Future Torch 1.9+ Compatibility Fix Required)"
## Issue description
### Current behavior

* If we execute ivadomed training on Torch 1.9+ we run into this particular import error, mainly because most existing code bases are only tested with Torch 1.8.X.
   * A potential solution has been [this](https://discuss.pytorch.org/t/cannot-import-name-int-classes-from-torch-six/126611) as a quick fix to make the code base support Torch 1.9.x.

### Expe

[2022-03-09 01:52] jcohenadad commented on #1094
@etetteh can you please indicate why this issue was closed? has it been resolved? if so how?

[2022-03-09 02:03] etetteh commented on #1094
The issue is due to the usage of a version of torch higher than what is required for the current ivadomed version.  The issue is not resolved, but not relevant at this time. However, it serves as a guide for the amendment of ivadomed codebase.

[2022-03-09 02:43] etetteh opened #1095 "Refactoring PyTorch version-specific attributes to aid experimentation"
I have some few out-of-scope issues about library versions, and I don’t know if the time is right to comment on that. I understand ivadomed currently uses `torch==1.8.0`, but some issues arise when experimenting with ideas based on higher versions of `torch`.

My suggestion would be to refactor some parts (will highlight later) of `ivadomed`, so that experimenting with new ideas becomes seamless.

[2022-03-09 09:02] GrimmSnark opened #1096 "Converting axondeepseg data to BIDS"
Hello,

So I am trying to use ivadomed to train a microscopy image segmentation model from manually curated masks created through axondeepseg. To then feed the model back through axondeepseg. I was wondering if you had any suggestions on a good script for converting the images/masks into the BIDS format?

All of the examples I have found so far are MRI data which does not seem to match the example

[2022-03-09 14:44] jcohenadad commented on #1096
I'm sure @alexfoias and/or @mariehbourget you have scripts that can help here. Maybe we should consider putting those BIDS conversion scripts somewhere in the ivadomed path, as many users would find it useful

[2022-03-09 14:49] alexfoias commented on #1096
Hi @GrimmSnark I will put the issue https://github.com/ivadomed/ivadomed/issues/856 on higher priority in order to provide you with some examples.

[2022-03-09 16:16] mariehbourget commented on #1096
Hi @GrimmSnark,

Thank you for reaching out! It is much appreciated and will help us improve our documentation.

The integration of microscopy in BIDS is fairly recent, and I'm not aware of tools/scripts available for conversion yet.
As reference, you can find the complete Microscopy-BIDS specification [here](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/10-microsc

[2022-03-09 20:44] mariehbourget commented on #1096
I forgot to mention that the compliance of a dataset with BIDS can be checked with the bids-validator.
Web version here (Chrome or FireFox): http://bids-standard.github.io/bids-validator/

Other options are available here: https://github.com/bids-standard/bids-validator#quickstart

We should add this to the "Data" section of the documentation as it would be very useful for MRI as well.

[2022-03-10 01:29] dyt811 opened #1099 "Unit tests should use /temp instead of local source folder path directory"
### Motivation for the feature

* During the development of Singularity images of ivadomed, we noticed that we are unable to carry out any unit tests.
This was caused by the facts that singularity images set the source repository to "read only".

* When we trigger `pytest`, which typically happens on the ivadomed source code directory, it attempts to create a `/tmp` folder to start downloading the

[2022-03-10 16:08] mariehbourget commented on #1055
While debugging for another issue #1096 from an external user, I came across this exact problem.
In this case, we have the following target_suffix (coming from the segmentation in ADS):
`_seg-axon`
`_seg-axonmyelin`
`_seg-myelin`
With `_seg-axon` in the config file, both `_seg-axon` and `_seg-axonmyelin` are picked up which is not good at all.

I'll inform the user for now and tag this issue as hi

[2022-03-10 16:24] mariehbourget commented on #1096
Hi @GrimmSnark,
Thank you for sharing the dataset and config file.

I was able to reproduced your error. It comes from the field `loader_parameters:extensions` in the config file.
In your case, your images are TIF and the labels are PNG, which is perfectly fine but you need to put both extensions in the list for indexation: `"extensions": [".png", ".tif"]`.
I was able to start the training with th

[2022-03-10 16:46] mariehbourget commented on #1055
Hi @uzaymacar, did you already started working on this issue?
I would like to put it in priority but don't want us to work in parallel and duplicate our efforts.

[2022-03-10 17:29] uzaymacar commented on #1055
Feel free to take it on @mariehbourget! I only created a branch so it's OK.

[2022-03-11 14:08] mariehbourget commented on #1055
Unfortunately, my previous idea is not working, because the filename entities, including the modality suffix are not indexed in the dataframe for derivatives.

[2022-03-11 16:37] jcohenadad commented on #1087
related to https://github.com/ivadomed/ivadomed/issues/708

[2022-03-14 00:41] dyt811 commented on #1090
Per discussion on 2022-03-14 lab meetings, it is best for now to keep this option as it is providing an alternative possible monitoring option for the user locally and does not require the user/training to have a Weights and Biases account just to view the metrics (which migrating to a full WandB solution would not provide).

A reminder has been set in one year to re-review this problem.

Until th

[2022-03-14 00:43] #1090 closed

[2022-03-14 01:34] dyt811 commented on #1094
@etetteh I have updated your issue a bit to provide a broader context and how and when it will become important. I agree the fix suggested seems rather minor and should not have major consequences so we can open a PR and patch this out to pave the way fur Torch 1.9+ adoption in the near future.

BTW, @etetteh is there any particular reason you used torch 1.10 instead of the 1.8 recommended? Was it

[2022-03-14 01:47] etetteh commented on #1094
The use of `torch==1.10` was purely for experimentation. Specifically, the `1.10` version has new `lr schedulers` that are currently being used to update `torchvision` models, which I was experimenting with.

I think you can raise the priority so we incorporate it ASAP, before "it slips through the cracks"

[2022-03-14 02:15] dyt811 commented on #1095
Thanks @etetteh, I think these would be great initiatives.

What I would recommend is to carry the following:

1) Like what you have done [here](https://github.com/ivadomed/ivadomed/pull/1093#discussion_r820894987), either make the PR yourself or let us know the locations to make these necessary changes such as what you have done in #1094, and we get get those PRs made and you can review and appro

[2022-03-14 02:22] dyt811 commented on #1092
Linked PR here: https://github.com/ivadomed/ivadomed/pull/1093

I recommend all who read this to move subsequent discussions to there for future references.

[2022-03-14 04:25] dyt811 commented on #1094
The only reason was for reproducibility and validated performance and we did [a thorough testing to ensure 1.8 is working okay](https://github.com/ivadomed/ivadomed/pull/819) at the time so we locked to that version. If we do the same for 1.10 and incorporate the latest changes, I think that is not a problem. After all, the jump from 1.5 to 1.8 was bigger than 1.9/1.10 I believe.

[2022-03-14 14:04] mariehbourget opened #1102 "Improve visibility of image and ground-truths pairing"
### Motivation for the feature
First suggested by @jcohenadad in this comment: https://github.com/ivadomed/ivadomed/pull/1100#issuecomment-1065300055

Considering the new features we want to implement for pairing in multichannel in #1087, the multi-session/multi-contrast project in #1044, and problems with ground-truth pairing reported in #1055, it would be very useful for the user to have more vi

[2022-03-14 17:51] Nish228 commented on #1083
Hi, I seem to be having the same issue during testing. It seems to be related to the function dice_score in metrics.py.

[2022-03-15 15:34] etetteh commented on #1095
Thank you @dyt811.
After careful analysis of the changes of the torch versions, it seems the issue with `get_last_lr()` attribute has been fixed from version `1.9.1` to the latest version of `1.11.0`.
The other issue with importing `int_classes` from `torch._six` is the only existing issue for now.
Please, find the changes in my latest PR or check it [here](https://github.com/etetteh/ivadomed/tree

[2022-03-16 22:40] mariehbourget opened #1105 "Error reading TIF 16bit Grayscale files"
## Issue description
Reported in https://github.com/axondeepseg/axondeepseg/issues/617.
The current code for reading TIF files in the ivadomed loader [here](https://github.com/ivadomed/ivadomed/blob/1a3d193922938dc35e9eb77d6af7fd8e6d1bacfa/ivadomed/loader/segmentation_pair.py#L313) cannot read TIF 16bit Grayscale files.

### Current behavior
TIF 16bit Grayscale cannot be read with the `as_gray=Tru

[2022-03-20 23:50] konantian opened #1108 "Add type hinting to all fields under dataclasses in keywords.py"
### Motivation for the feature

<img width="440" alt="Screen Shot 2022-03-20 at 17 49 25" src="https://user-images.githubusercontent.com/35284474/159191317-485acbc9-da7f-45f3-a242-e3706e6002e1.png">

In ivadomed, we are using `@dataclass` in `keywords.py` to keep track of all the constants. However, based on the documentation of `@dataclass`, the [dataclass()](https://docs.python.org/3/library/dat

[2022-03-21 04:15] dyt811 opened #1110 "Configurable Depth Parameter for Modified3DUNet model instantiation"
### Motivation for the feature

* Unlike [the regular 2d unet](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/models.py#L483), [the current 3D version of the unet model](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/models.py#L745) does NOT have a configurable depth model and is hard locked to specific depth.

### Description of the feature

* Ideally, during the instantiati

[2022-03-21 15:40] ASevag opened #1111 "Short documentation feedback"
As discussed, while the ivadomed documentation is overall very thorough and quite beginner-friendly, some sections of the [ivadomed config file](https://ivadomed.org/configuration_file.html) could maybe benefit from some clarification/more uniformity.

1. It could be worthwhile to describe some parameters along with their default values, since [other parameters](https://ivadomed.org/configuration_

[2022-03-23 13:26] mathieuboudreau opened #1113 "For a trained model, where is the model's native resolution stored?"
i.e. the resolution that the input images to be segmented will be resampled to.

I can't seem to find that information in the JSON file of our AxonDeepSeg models (e.g. https://github.com/axondeepseg/default-TEM-model), and the *.pt and *.onnx files are binaries.

Is the information in the JSON and just not "human readable" (resolution isn't mentionned anywhere), not stored there, and/or only in th

[2022-03-23 13:32] mariehbourget commented on #1113
Hi @mathieuboudreau!

The resolution of the model is in the json config file saved with the model [here](https://github.com/axondeepseg/default-TEM-model/blob/8b008eda2a1a03e58c51b4f9a70d9d443d3135e6/model_seg_mouse_axon-myelin_tem/model_seg_mouse_axon-myelin_tem.json#L128):
[code]
Note that the values are in `mm`, ref in doc [here](https://ivadomed.org/configuration_file.html#resample).

[2022-03-23 13:37] mathieuboudreau commented on #1113
Ah ok, perfect, thanks!

I had a thought that it was 0.01, but of course that's in um for us, so I didn't recognize this block of information as being the correct values. Also I was looking for resolution information, so I must of glanced over "Resample".

Thanks for the quick response!

[2022-03-23 13:37] #1113 closed, assigned to nobody

[2022-03-25 19:19] mariehbourget opened #1114 "Add progress bar to segment_volume"
### Motivation for the feature
With microscopy images, we and our users are dealing with fairly large images that can take a lot of time to segment (with the `segment_volume` API) and the progress ETA in the terminal is not clear.

At first there is the number of patches, slices or sub-volumes that are loaded:
[code]
And then a repetition of the following lines for each batch (according to batch s

[2022-03-27 16:13] #1108 closed

[2022-03-28 17:53] uzaymacar commented on #211
## Summary of discussion

MONAI was mentioned again recently in an ivadomed meeting. To summarize the discussion and findings:

* MONAI provides building blocks to write your own code whereas ivadomed is more structured with a config file.
* MONAI data loader is built up on PyTorch dataloader whereas ivadomed adopts the BIDS data structure on top.
* Recently we integrated `torchio` in ivadomed, wh

[2022-03-28 19:15] naga-karthik commented on #1087
Based on a recent discussion, it seems that the suggestions mentioned [here](https://github.com/ivadomed/ivadomed/issues/1087#issuecomment-1054622075) might get a bit complicated when we have data from several centers, and the naming convention, available contrasts, etc. will not exactly be matching (or pair-able).

While the suggestion of using regex (as in the comment link above) is apt for spec

[2022-03-28 20:01] #1105 closed

[2022-03-31 19:03] jcohenadad commented on #1057
@mpompolas experienced the same issue on the servers at McGill. I think it is reasonable to increase the priority level of this issue

[2022-04-03 15:05] dyt811 commented on #799
@naga-karthik good point. I was hoping @entiri would be able to look into this a bit more post parallel training PR fix but ran into quite a bit road block getting metrics back for his parallel training. Let's talk about a bit more now that I have Compute Canada access and should be able to test larger data loading in conjunction with the latest singularity fixes.

[2022-04-04 05:40] dyt811 commented on #1087
Hi, all.

Here is the summary I recorded down. Please be advise this is my recollection based off my notes which may or may not be 100% represent the course of the discussion. You may review the recording at this [historical Slack URL](https://neuropoly.slack.com/archives/CG39RPHFS/p1648497409206929) (require login/access to Neuropoly Slack and #Ivadomed-internal channel)

#################

Per g

[2022-04-04 16:52] dyt811 commented on #1110
Minor update: @konantian has started investigating this refactoring issue.

[2022-04-04 16:54] dyt811 commented on #1095
PR is now merged. @etetteh can you close this issue if everything is satisfactory, or issue anything new with regard to adopting standard to help with future versions of Torch.

[2022-04-04 16:57] dyt811 commented on #1094
Closed by #1104. @etetteh please ensure to mention the source issue with `resolves` attribute to auto close the issue PR was related. This is another important reason to examine the PR template. It tackles all these details. :)

See all keywords available in the github context here: https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

[2022-04-04 16:58] #1094 closed

[2022-04-04 17:14] etetteh commented on #1095
Everything is satisfactory for now. closing this issue.

[2022-04-04 17:14] #1095 closed

[2022-04-04 21:11] #1055 closed

[2022-04-04 21:37] uzaymacar commented on #1084
Hey @dyt811, maybe I'm misinterpreting your latest comment but I see this issue and what it tries to solve independent of #1116, which is about integrating MONAI models into ivadomed. As seen in the draft PR, we can achieve this by mapping ivadomed keywords to MONAI keywords without going too much into their codebase. As opposed to relying on MONAI and its building blocks for the modeling in ivado

[2022-04-07 14:42] mariehbourget commented on #1096
Following feedback in this issue, we made the following fixes included in the ivadomed 2.9.5 release:

- Documentation update for the config file field "extensions" and additional information on the BIDS format, validation and examples in the "Data" section in PR #1103.

- Fix wrong loading of `_seg-axonmyelin` in PR #1100  i.e. "target_suffix": ["_seg-axon"] will only use files with `_seg-axon` s

[2022-04-08 03:50] konantian commented on #1035
This issue has been resolved in PR #1104. The root cause is after we upgraded `torchio` to a newer version, it does not support importing int_classes from torch._six anymore and caused a bunch of warnings in [build 1033](https://readthedocs.org/projects/ivado-medical-imaging/builds/15615038/).

[2022-04-08 08:33] GrimmSnark commented on #1096
Hello,

Thanks you so much for all the work you are doing on this issue, I really appreciate it!

I have written a small matlab script to convert my images into a BIDS folder format which I have tested by training a new model with ivadomed. See attached, hopefully it may be useful for you all.

If you have any issues with the code please feel free to ask!

Best,

Michael

[imageSet2BIDS.zip](https

[2022-04-08 19:32] dyt811 commented on #1099
This was less of an important issue now that we can produce singularity writable image.

[2022-04-11 14:22] #1010 closed

[2022-04-11 17:25] naga-karthik commented on #1023
I believe this is important and lot of hours of debugging can be saved by fixing this! Currently, this is how the function calls occurs during loading the dataset:

* The function that transposes the axes in order to get the 3D matrix into the `HxWxD` form is given [here](https://github.com/ivadomed/ivadomed/blob/7b76bf81a025cde3096fd1d686d6f3c0b8ce8f02/ivadomed/loader/utils.py#L328), which is cal

[2022-04-11 18:42] uzaymacar commented on #1023
As seen [here](https://github.com/ivadomed/ivadomed/blob/7b76bf81a025cde3096fd1d686d6f3c0b8ce8f02/ivadomed/loader/loader.py#L57), there is already a control statement in ivadomed to determine whether the input shape is 3D or 2D:
[code]

Addressing @naga-karthik's second suggestion, we can use the same here to avoid creating a new field in the config file.

[2022-04-11 22:15] mpompolas commented on #1023
If you decide to move forward with any kind of transformation of the image, I suggest you also apply the same transformation on the center_crop field.

[2022-04-11 22:22] uzaymacar commented on #799
As per the ivadomed meeting today, I investigated how we do things currently vs. what MONAI does. Following up on @mpompolas's suggestion, here is what I came up with:

<img width="999" alt="Screen Shot 2022-04-12 at 12 59 45 AM" src="https://user-images.githubusercontent.com/33473983/162840489-f263345c-3ef8-4741-ab2e-b548a87a9a26.png">

To briefly summarize:
* In both MONAI and ivadomed, non-dete

[2022-04-21 19:41] kiristern opened #1124 "wandb sweeps integration for hyperparameter optimization"
### Motivation for the feature
Models take a long time to train, therefore integrating [sweeps](https://docs.wandb.ai/guides/sweeps) for model hyperparameter tuning will help us converge towards the best model more quickly.

### Description of the feature

- Sweeps is initialized with either a [yaml](https://docs.wandb.ai/guides/sweeps/quickstart#2-sweep-config) file or using a python [dictionary]

[2022-04-22 16:48] dyt811 commented on #1124
An optional key under "wandb" should quite reasonable. I have not played with wandb searching but in other frame work like comet.ml, the hyperparameter searching is a very smallish JSON snippet to define the searching range/values etc.

[2022-05-05 21:12] dyt811 commented on #1047
Per 2022-05-05T1600 meting on this topic, a high level summary has been generated:

* #1000 needs to be merged ASAP to reduce outstanding pain points first
* Non-declarative (i.e. procedural) installation process such as how we are currently figuring out Torch version installation will likely be deprecated in the near future as setup.py approach are being heavily discouraged.
* Centrally coordinat

[2022-05-06 18:42] mariehbourget commented on #824
Ok, some news about this:
- The BIDS documentation has been revised to officially includes the `rec-` entity  for `dwi` data.
- No changes are required on our side since the indexation of `dwi` with `rec-` was already working in `pybids`.

However, for dwi, the definition of rec is (ref: https://bids-specification.readthedocs.io/en/latest/04-modality-specific-files/01-magnetic-resonance-imaging-da

[2022-05-09 14:31] #1035 closed

[2022-05-13 20:17] lifetheater57 commented on #862
I never used PyTorch Lightning. It seems to allow to remove some common boilerplate code. However, here are some point to check before trying it:
- [ ] What would be the migrating effort required? (Seems "epic" to me)
- [ ] Could the migration be broken down in seamless sub-tasks?
- [ ] Should we change the function signatures? (For example, `device` and `cuda_available` would probably not be used

[2022-05-13 20:17] lifetheater57 commented on #862
Is it still a high priority?

[2022-05-13 20:27] jcohenadad commented on #862
good question-- @naga-karthik @mariehbourget @uzaymacar what do you think?

[2022-05-13 21:32] naga-karthik commented on #862
Personally, I am all in-favour for PyTorch Lightning (PL). All my personal projects involve the usage of PL, mainly because, PL makes it really easy to do multi-GPU training, log on wandb, convert to 16-bit precision, etc. all of which require some extra code to be added around the training loop.

That said, I do understand that it might require a _significant restructuring_ of the existing codeba

[2022-05-16 18:42] jcohenadad commented on #1087
How about refactoring the config file so that each site (aka: BIDS dataset) includes their specific information. Example (for a single channel model where multiple BIDS datasets are aggregated):

[code]

[2022-05-16 18:50] jcohenadad commented on #1087
To better cover all possible scenario, we need to start with a testing dataset that covers as many issues as possible. Notably:
- Single dataset
- Multiple datasets
- Few subjects missing a contrast
- Labels with changing names (where regex would be useful). Example: `_seg-manual`; `seg-manual2`
- Data with the same contrast, but different orientation (or other acq parameters), each being consider

[2022-05-17 18:19] kousu opened #1130 "`whl` missing a dependency: `torchvision`"
## Issue description

### Current behavior

If you install ivadomed from what we have published on [pypi](https://pypi.org/project/ivadomed) all by itself, `ivadomed.transforms` (and probably other parts) are broken because

(Originally found in https://github.com/spinalcordtoolbox/spinalcordtoolbox/runs/6359735921?check_suite_focus=true (part of https://github.com/spinalcordtoolbox/spinalcordtool

[2022-05-17 18:23] dyt811 commented on #1130
Odd. Not sure how come torchvision is missing. What happened before I wonder. Eitherway, we should get a hotpatch release out to remedy this ASAP.

[2022-05-17 18:25] kousu commented on #1130
Thanks Yang.

The problem is that the pip version pulls its dependencies here:

https://github.com/ivadomed/ivadomed/blob/bd904e5e139fa6a437abfc225216f6057824f1e3/setup.py#L38

from

https://github.com/ivadomed/ivadomed/blob/bd904e5e139fa6a437abfc225216f6057824f1e3/setup.py#L7-L8

from

https://github.com/ivadomed/ivadomed/blob/bd904e5e139fa6a437abfc225216f6057824f1e3/requirements_common.txt#L1-L2

[2022-05-17 18:29] kousu commented on #1130
:smile: thanks for owning it. Maybe the reason things ended up like this is related to the CPU/GPU installation problem (https://github.com/pytorch/pytorch/issues/26340) you've been trying to address in #1000, and I'm trying to improve in a smaller way in https://github.com/ivadomed/ivadomed/pull/1129.

I think if you integrate https://github.com/ivadomed/ivadomed/pull/1129 first then it will be e

[2022-05-17 18:48] kousu commented on #1130
Actually I've included a fix for this in #1129, since they're so tightly intertwined anyway.

[2022-05-17 19:46] lifetheater57 commented on #1087
An alternative that was suggested in the meeting to ease the traversal process is to put the different configs in a list. Here is an example based on the previous suggestion:
[code]

[2022-05-17 19:59] jcohenadad commented on #1087
[this approach](https://github.com/ivadomed/ivadomed/issues/1087#issuecomment-1129253222) seems cleaner-- also i think we can avoid the field "label".

[2022-05-17 22:16] kousu opened #1132 "CI failure: "RuntimeError: tk.h version (8.6) doesn't match libtk.a version (8.5)""
## Issue description

### Current behavior

CI is failing on {macOS} x {Python 3.7, Python 3.8}. Python3.6 and 3.9 are unaffected.

### Steps to reproduce

Run [CI](.github/workflows/run_tests.yml) on almost any branch currently and it will fail. Example failures:

* `master`: https://github.com/ivadomed/ivadomed/actions/runs/2340863632
* https://github.com/ivadomed/ivadomed/pull/1125: https://git

[2022-05-17 22:23] kousu commented on #1132
The failures are all throwing the same [exception](https://github.com/ivadomed/ivadomed/runs/6478852629?check_suite_focus=true#step:7:382):

[code]

I looked around for help and found an eclectic mixture of reports of this exact error, some on macOS, others in pyenv (which we don't use):

* https://github.com/jiansoung/issues-list/issues/15
* https://github.com/conda-forge/pillow-feedstock/pull/11

[2022-05-17 22:42] kousu commented on #1132
Chonologically, the first failure was 13 days ago:

* https://github.com/ivadomed/ivadomed/pull/1126: https://github.com/ivadomed/ivadomed/actions/runs/2276043597

Then
* https://github.com/ivadomed/ivadomed/pull/1125 : https://github.com/ivadomed/ivadomed/actions/runs/2276419269 - 12 days ago - 3.7 only
* https://github.com/ivadomed/ivadomed/pull/1125: https://github.com/ivadomed/ivadomed/actions

[2022-05-17 22:51] kousu commented on #1132
Interesting, I didn't know this but though [tkinter is a part of cpython](https://docs.python.org/3/library/tkinter.html), but it's packaged separately by Ubuntu:

[code]

Maybe macOS is in a similar situation? And that's prone to breakage like this?

[2022-05-17 22:58] kousu commented on #1132
A tip from some of those threads: if you do have Tk installed, then this will load and test it:

[code]

![Screenshot_20220517_185557](https://user-images.githubusercontent.com/987487/168925452-cff9eedb-63b6-493a-a845-8355e08cb100.png)

If it is GitHub's fault, we should be able to see that by making a fresh CI script that has nothing to do with ivadomed...

[2022-05-17 23:58] kousu commented on #1132
I think on our end we should figure out why matplotlib is defaulting to Tk. It _should_ be in a headless environment, so it shouldn't be trying to do any GUI things at all. At most, it should be using [`Agg`](https://matplotlib.org/stable/users/explain/backends.html) and rendering to .png.

I think I understand now the failure pattern: [matplotlib explains](https://matplotlib.org/stable/users/expl

[2022-05-18 00:02] kousu commented on #1132
Here's a different fix than #1133: just downgrade python 3.7 itself (from '3.7' to '3.7.9'):

https://github.com/carlosperate/ubittool/commit/85836202159efb298807a80b4019542df5543d68

If #1133 doesn't work we can try that.

[2022-05-18 05:25] kanishk16 commented on #1130
IIUC, CI is designed similar to how we would expect users to install ivadomed. Moreover, I guess we might even miss out torch if  `torchio` isn't listed as a dependency https://github.com/ivadomed/ivadomed/blob/bd904e5e139fa6a437abfc225216f6057824f1e3/.github/workflows/run_tests.yml#L58-L67

[2022-05-19 19:52] #1132 closed

[2022-05-20 15:32] kousu commented on #1130
Maybe worth getting everyone on the team to read https://blog.ionelmc.ro/2014/05/25/python-packaging/. Particularly to emphasize that, in python, due to the fact that `.` is on PYTHONPATH by default, and the way `pkg_resources` works, a built library is subtly different from one `pip install -e .` which is subtly dw ifferent from just `import ivadomed` run from from the ivadomed folder.

The only

[2022-05-20 16:54] kanishk16 commented on #862
Sorry for the misclick 😅

[2022-05-25 07:27] dyt811 opened #1134 "Implement a transformed pair retrievable disk-caching system for DataSet for training"
### Motivation for the feature

* Currently for large project such as the one @uzaymacar have used, the preprocessing transformation of the data alone takes about 15 minutes or more PER occurrence.

### Description of the feature

* Caching needs to be run specific yet. Some sort of configuration validation needs to happen before reusing caching to avoid corruption newer run with older run differe

[2022-05-25 07:41] dyt811 commented on #1087
I think in general, `list` traversal is easier than `dict` traversal, especially if keys are user defined strings such as in the case of site label.  However, flip side of this is `dict` won't support duplicate keys. while `list` can. This can be a blessing or curse depending on what we hope to achieve with the "label" field and how "unique" we leverage that information. For instance, are we going

[2022-05-26 17:30] lifetheater57 commented on #862
On the release note of [PL version 1.6](https://github.com/PyTorchLightning/pytorch-lightning/releases/tag/1.6.0), they state

So, I understand that they support the 4 last main PyTorch releases at the release time of the main version. Therefore, the last version of PL supports the PyTorch version we're currently using (i.e v1.8.1).

[2022-05-26 18:33] lifetheater57 commented on #862
Note: PL 1.6 no more supports Python 3.6 which is still supported by ivadomed.

[2022-05-27 12:35] kanishk16 commented on #862
We haven't updated yet but ivadomed indeed should drop support for Python 3.6 due to its [end of life on 23 Dec 2021](https://endoflife.date/python)

[2022-05-30 14:23] llasanudin opened #1135 "Error in evaluating trained model --test"
Hi,

So I am training a segmentation model of axon and myelin from microscopy images using axondeepseg. The whole process up to creating the trained model worked just fine. However when I am trying to test the trained model, it kept on producing this error: AttributeError: 'NoneType' object has no attribute 'lower'. I was wondering if you could point out where I went wrong (the full output is show

[2022-05-30 16:14] llasanudin commented on #1135
Hi Marie,

Below is the screenshot of the pred_masks folder, and these are the config file and bids_dataframe.csv:
[config file and bids dataframe.zip](https://github.com/ivadomed/ivadomed/files/8799633/config.file.and.bids.dataframe.zip)

![Screen Shot 2022-05-30 at 5 05 24 PM](https://user-images.githubusercontent.com/106540081/171028975-b0536c94-03ee-4fce-a4ac-e4e484b63053.png)

[2022-05-30 16:24] kousu opened #1136 "python3.10 compatibility"
### Motivation for the feature

Python3.10 is standard now: Ubuntu 22.04 came out last month and uses it as its default. But ivadomed is only marked compatible up to 3.9, meaning it cannot be installed on Ubuntu 22.04, or anyone else using an up-to-date system.

This follows https://github.com/ivadomed/ivadomed/issues/770.

### Description of the feature

Change

https://github.com/ivadomed/ivadom

[2022-05-30 16:47] kousu commented on #1057
This also shows up on any system [using python3.10](https://github.com/ivadomed/ivadomed/issues/1136):

https://github.com/ivadomed/ivadomed/runs/6658529084?check_suite_focus=true#step:4:68

[code]

Unfortunately onnx doesn't yet support 3.10: https://github.com/microsoft/onnxruntime/issues/11680

[2022-05-30 16:47] kousu commented on #1136
`onnxruntime==1.7.0` is one blocker problem:

https://github.com/ivadomed/ivadomed/runs/6658529084?check_suite_focus=true#step:4:68

[code]

This is being tracked in https://github.com/ivadomed/ivadomed/issues/1057, though it looks like it's going to be a bit of a dead end at the moment.

[2022-05-30 16:58] kousu commented on #1136
Another blocker: torch 1.8.x doesn't have 3.10 builds. Reviewing [our research](https://github.com/ivadomed/ivadomed/pull/1129#issuecomment-1139073612), torch needs to be `torch>=1.11.0`.

[2022-05-30 17:06] dyt811 commented on #1130
So this is partially the problem PR#1000 has been trying to address and highly related to Torch installation.

The current installation instruction never stopped at `pip install` stage either and any PyPI installation (Step 2) is never complete per latest installation instructions and Step 3 is mandatory for CPU or GPU installation as the version of Torchvision (along with Torch) are hardware spec

[2022-05-30 17:54] kanishk16 commented on #1136
onnxruntime 3.12 that supports python 3.10 is scheduled to be released by [mid-July](https://github.com/microsoft/onnxruntime/projects). Also, https://github.com/microsoft/onnxruntime/issues/9782 suggests to downgrade to 3.9.x. I was wondering if we could wait till mid-July and in the meantime bump up torch & drop support for python 3.6.

[2022-05-30 19:25] kousu commented on #1136
I bumped torch to 1.11 for this, but @kanishk16 pointed out that that is a big jump and maybe not necessary.

In https://download.pytorch.org/whl/ there's

* https://download.pytorch.org/whl/cpu/torch-1.10.2-cp310-cp310-manylinux2014_aarch64.whl
* https://download.pytorch.org/whl/cpu/torch-1.11.0%2Bcpu-cp310-cp310-linux_x86_64.whl
* https://download.pytorch.org/whl/cpu/torch-1.11.0%2Bcpu-cp310-cp3

[2022-05-30 20:05] mariehbourget commented on #1135
Thank @llasanudin  for the additional information.
I was able to find the issue and reproduce the error.

The error comes from the `target_suffix` of the original derivatives files.
Currently, in ivadomed, the testing pipeline only works if there is an underscore at the beginning of the `target_suffix` and no underscore between words.
For example: `_seg-axon-manual` works, but `_seg-axon_manual` d

[2022-05-30 22:13] mariehbourget commented on #1135
Additional details on the issue for the dev team:

- The testing pipeline of ivadomed (`--test`) only works if there is an underscore at the beginning of the `target_suffix` and no underscore between words. For example: `_seg-axon-manual` works, but `_seg-axon_manual` doesn't work.
- The [test](https://github.com/ivadomed/ivadomed/blob/1da019b80be95d99905579dc66de15538141e487/ivadomed/main.py#L506

[2022-05-30 23:28] GeorgeS2019 commented on #1136
@kanishk16

Information where to download onnxruntime 1.12 is [embedded within the notebook](https://github.com/microsoft/onnxruntime/issues/11680#issuecomment-1141277398)

The notebook [**updated ~1 month ago**] [requirement for onnxruntime 1.12 is **mandatory**.](https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/python/tools/transformers/notebooks/Inference_GPT2_with_OnnxRuntime_o

[2022-05-31 21:00] mariehbourget commented on #1135
In the "testing" phase, we usually computes evaluation metrics for the testing set only, which are the images that were not seen by the model during the training phase.
In the config file, you have a `train_fraction` of 0.6 and a `test_fraction` of 0.1.
It means that ~60% of your images were used for training and ~30% for validation during the training phase.
In the evaluation (testing) phase, the

[2022-05-31 22:31] llasanudin commented on #1135
Thank you for your answer, that makes perfect sense. For the second question, I was trying to compare between 2 models (both were trained with the same dataset but different depths). The command line was `ivadomed_visualize_and_compare_testing_models --ofolders drive/MyDrive/ADS22/model drive/MyDrive/ADS24/model --metric dice_class0`.

Here are some additional files (bids dataframe, evaluation met

[2022-06-01 13:30] mariehbourget commented on #1135
Thanks for the additional information. I have a somewhat similar error than you and there may be a bug with the `--metric` flag.

Are you able to run the script without the `--metric` flag?
`ivadomed_visualize_and_compare_testing_models --ofolders drive/MyDrive/ADS22/model drive/MyDrive/ADS24/model`
 (the default is dice_class0)

[2022-06-01 16:05] mariehbourget opened #1138 "Metric and visualization bugs with visualize_and_compare_testing_models.py"
## Issue description
There was an error first reported here https://github.com/ivadomed/ivadomed/issues/1135#issuecomment-1142225824 when running the [visualize_and_compare_testing_models.py](https://github.com/ivadomed/ivadomed/blob/master/ivadomed/scripts/visualize_and_compare_testing_models.py) script.

 ### Current behavior
There are 2 errors:
1. The script runs without the `--metric` flag, wh

[2022-06-02 01:16] kousu commented on #1130
For the record: this is basically a duplicate of https://github.com/ivadomed/ivadomed/issues/861. @joshuacwnewton called this bug months ago, though IMO the impact is broader than just downstream: people should be able to `pip install` stuff without having to go learn too much niche stuff.

[2022-06-02 07:10] #861 closed

[2022-06-02 07:10] #996 closed

[2022-06-02 07:10] #1130 closed

[2022-06-02 12:51] kanishk16 commented on #1136
@kousu looks like if we want to support python3.10, torch 1.11.0 is the only way to go https://github.com/pytorch/pytorch/issues/67669#issuecomment-1025946711

[2022-06-02 14:39] hermancollin opened #1141 "CUDA 10.2 faster than 11 on older hardware"
While testing #1129 on the ADS side on `bireli`, we found this weird behavior. Downgrading CUDA from 11.1 to 10.2 speeds up inference (almost twice as fast).

`bireli` has a [GeForce GTX TITAN X](https://www.nvidia.com/en-us/geforce/graphics-cards/geforce-gtx-titan-x/specifications/) (2014). This is the output of `time` on our quick integrity test on bireli:

The performance is different with newe

[2022-06-03 17:43] dyt811 commented on #1134
Additional suggestions from 2022-05-30 Meeting suggests that we should also examine the possibility of applying preprocess/transform in parallel.

While MONAI framework provides TONS of useful and powerful transforms, it seems that they are not biased towards either single thread or multi threaded approach to apply transformations.

To speed up the augmentation process, we most likely have to impl

[2022-06-03 18:01] dyt811 opened #1147 "Documentation of Edge Case Issues: on ONNX inference time memory hog when `enable_cpu_mem_area` flag enabled."
## Issue description

### Current behavior

* The purpose of this issue is to document a known issue encountered with

* During the testing in SCT PR #3738, a memory usage issue was discovered specifically when trying to carry out inference using a very small 2mb model which occupied easily over 6GB of RAM as documented in this [comment](https://github.com/spinalcordtoolbox/spinalcordtoolbox/pull/

[2022-06-03 18:02] dyt811 commented on #1147
Closing the issue as it is not an active problem but more for archiving knowledge in case someone run into this in the future.

[2022-06-03 18:02] #1147 closed

[2022-06-03 19:15] jcohenadad commented on #1138
Would it make sense to instead do this visualization with WanDB, which has recently be made compatible with ivadomed? @naga-karthik @kiristern @Nish228

[2022-06-04 14:33] kanishk16 commented on #1138
I second this... I could debug this

* Without `--metric` flag:
![image](https://user-images.githubusercontent.com/36276423/172006065-70e5706d-da6c-47ff-9c2b-6b3605584009.png)

* with `--metric` flag (_raises an error_)
![image](https://user-images.githubusercontent.com/36276423/172006265-62dc6552-107c-492d-baa8-7088909ea2bf.png)

I guess the visualization failure seems to be specific to Google Co

[2022-06-04 14:40] kanishk16 commented on #1138
Absolutely! So much so that Yang had created an issue for the same (#1088) but it was on a slightly lower priority as compared to other issues.

[2022-06-04 15:06] kanishk16 commented on #1135
@llasanudin I guess you're running this on Google Colab... As a quick fix, I would suggest you the following:
1. To install ivadomed on your machine. Just follow only the first two steps as suggested in the [official docs](https://ivadomed.org/installation.html). We are yet to update the docs as you don't require Step 3 now.

2. I couldn't reproduce the visualization failure on my machine without

[2022-06-07 13:59] llasanudin commented on #1135
Hi everyone, thank you very much for the help!

Your suggestions did work and I was able to generate the plots by not running it from colab. Just another quick question on this, is it possible to test the model for the entire dataset? I had already segmented all images from my dataset using `--segment` command, and I want to extract the evaluation metrics from all of the prediction masks. However

[2022-06-07 22:10] mariehbourget commented on #1135
Hi @llasanudin ,
Happy to know that you were able to use the visualization script!

For your other question, as I mentioned earlier, it is unusual to test the model on images that were used in training, so ivadomed doesn't have an automatic way to do this.

However, I can suggest a workaround for your specific case.
If you check in your output path, you will find a file called "split_datasets.jobl

[2022-06-07 22:17] mariehbourget commented on #857
Here is another case where it would have help to have a better documentation on how to create a custom joblib file for the dataset split: https://github.com/ivadomed/ivadomed/issues/1135#issuecomment-1149223779

[2022-06-12 19:58] uzaymacar opened #1163 "`patch_filter_params` for 3D to remove empty subvolumes"
### Motivation for the feature

#980 implemented a `PatchFilter` class to remove empty patches from a 2D dataset. Likewise, a class to remove empty subvolumes from a 3D dataset would be very useful. This class, just like `PatchFilter`, would filter out subvolumes based on (i) empty mask, (ii) absent class, or (iii) empty input.

### Description of the feature

There are two ways to implement this:

[2022-06-12 20:32] uzaymacar commented on #1141
Thanks for letting us know! Isn't it also problematic that `romane` on CUDA 11.2 with RTX A6000 is NOT faster than `bireli` with CUDA 10.2? I believe there is a considerable slow down in `romane` as well (also tagging @naga-karthik).

[2022-06-12 22:28] hermancollin commented on #1141
You are absolutely right. To be fair, this benchmark wasn't extremely rigorous so further testing would be required.

The performance I timed with cuda 10.2 was very surprising to me because we are actually not used to processing data as fast (we were using cuda 11 on bireli). I was not able to test this cuda version on romane because I'm not even sure it's compatible with romane's newer hardware.

[2022-06-12 23:19] hermancollin commented on #1141
Actually, using `python -m cProfile` and something like [flameprof](https://github.com/baverman/flameprof), we could generate nice flamegraphs to see if something stands out, comparing the profiles obtained on both clusters.

Another more targetted approach would be to use [NVIDIA's Deep Learning profiler](https://docs.nvidia.com/deeplearning/frameworks/dlprof-user-guide/) (which I never used but

[2022-06-13 12:39] hermancollin commented on #1141
I believe the issue here is that even tho I can downgrade cuda on bireli, romane should still be way faster regardless of the cuda version used because its gpus are much newer

[2022-06-13 13:13] kanishk16 commented on #1141
I guess there are a lot of factors associated with it, even batch_size while inference makes a diff ([comment upstream](https://github.com/pytorch/pytorch/issues/47908#issuecomment-879108708))

[2022-06-14 15:10] dyt811 opened #1166 "Configuration Flag for Disabling BIDS validator"
### Motivation for the feature

* Sometimes, cutting edge users will utilize BIDS data files that are not yet merged into BIDS validator (e.g. PSIR format in https://github.com/ivadomed/ivadomed/discussions/1165).

* In order to enable such files to be used with IvadoMed, the validators needs to be turned OFF via a configuration option

### Description of the feature

* A new loader configuration

[2022-06-15 20:08] #799 closed

[2022-06-16 09:03] GrimmSnark commented on #1135
Hello @mariehbourget

So I am helping @llasanudin with the project under discussion in this thread. And I want to get a better understanding of the joblib file utilisation. At the moment we want to be able to leave out specific images to be in the test set but still randomise the train and validate image sets. My understanding of how the training process normally works is that for each iteration o

[2022-06-16 13:36] mariehbourget commented on #1135
Hi @GrimmSnark and @llasanudin,

The procedure I wrote above with the joblib file was for the special case where you wanted to evaluate the images from the entire dataset after the training (even on images that were used for training).
It may not be the best solution for your current questions, I'll try to detail the split procedure below.

The normal dataset splitting goes like this:

1. Without

[2022-06-16 14:20] GrimmSnark commented on #1135
Hello @mariehbourget

Thank you again for your extremely fast reply!

Looking at your response, the data_testing parameter seems to be exactly what we want to use.

Michael

[2022-06-17 13:11] mathieuboudreau opened #1170 "ADS User issue: certain pip packages versions unavailable"
Discussion: https://github.com/axondeepseg/axondeepseg/discussions/652

Hi there! I'm reaching out to you all because one of our AxonDeepSeg (potential) users is having a weird issue during installation of our software, related to some dependencies needed for IVADOMED. I'm hoping that maybe one of you Python experts might have some insights, because after a lot of testing and research I'm a bit st

[2022-06-19 11:13] mathieuboudreau commented on #1170
The issue has been solve - the problem was that the user had Miniforge installed, which limits pip/conda packages to only ARM available ones, and torchvision only has an x86_64 package available for version 0.9.1.

Thanks a lot @ssd-ls-a for your help!

[2022-06-19 11:15] #1170 closed

[2022-06-20 15:03] dyt811 commented on #1084
I recommend maybe 1116 to already start splintering MONAI related functions into separate .py module to avoid conflict.

If you can't do it, that is fine as during PR I will merge it and resolve conflict on my side to migrate changes if you merged first.

[2022-06-22 01:49] naga-karthik commented on #1091
Slightly tangential but I was looking at the implementations of the `dice_score` and DiceLoss and I noticed that both of them _do include_ the background while computing the Dice score. Consider a 2-class lesion seg problem with the background as class 0 and lesion as class 1. Then, including the background would offset the Dice score to a much higher value, right (because the background will domi

[2022-06-24 13:32] #1166 closed

[2022-07-03 16:52] #993 closed

[2022-07-08 07:02] dyt811 commented on #1009
Update on this discussion.

Per 2022-07-04 proposal at the ivadomed developer meeting and subsequent feedback sessions from @naga-karthik  and @mariehbourget,

We believe to maximize flexibility, some significant reworks are required.

Here is a list of compiled ideas, more details will be presented and updated here with more concrete example given.

- Enable Dataset List[dict] entry under loader_

[2022-07-08 07:23] dyt811 commented on #1102
This is being somewhat addressed in 1009 discussion and will likely be rolled in as part of that major overhaul.

[2022-07-09 05:55] #1111 closed

[2022-07-22 14:48] lifetheater57 commented on #1009
Based on my experience in a previous project, another way of loading samples would be to use `recipe`s to specify how to generate the training examples from the dataframe of the examples loaded. It could be used after loading either BIDS datasets or a user-provided dataframe with required information.

Here is a definition of a `recipe`. Some instructions might be redundant with the current `ivado

[2022-07-22 20:10] lifetheater57 commented on #1136
ONNXRuntime v1.12 is out! https://github.com/microsoft/onnxruntime/releases/tag/v1.12.0

[2022-07-30 00:47] kousu opened #1188 ""CUDA error: invalid device ordinal""
## Issue description

### Current behavior

When run on a machine with GPUs, some tests fail with

[code]

### Expected behavior

The tests should pass.

### Steps to reproduce

[code]

### Logs

<details>

[code]

</details>

## Environment

### System description

Ubuntu 22.04 with two nvidia GPUs (this is `bireli.neuro.polymtl.ca`)

[code]

### Installed packages

<details open>
<summary> Outpu

[2022-07-30 00:54] kousu commented on #1188
I spent an hour tracing this out. The problem is that the _test data_ comes with a _config file_ that says to use GPU 7. There is no GPU 7 on most systems:

[code]

If I edit that file to use GPU 0, the tests pass

[code]

But here's the catch: `data_functional_testing/` isn't part of this codebase; it's downloaded separately, during the tests, from a different repo.

It actually looks like @dyt81

[2022-07-31 15:16] #1188 closed

[2022-08-07 16:09] kousu opened #1191 "Dependency Pinning"
Our current dependencies inconsistently use [version specifiers](https://peps.python.org/pep-0440/#version-specifiers), probably because we don't have a good team-wide understanding:

https://github.com/ivadomed/ivadomed/blob/c7b8b94dd564eac2e0c1685cb88602f703f58613/requirements.txt#L80-L26

In fact, maybe no one really understands python dependency management very well, judging from [these](https

[2022-08-07 18:41] #1136 closed

[2022-08-25 16:26] jcohenadad commented on #821
completed

[2022-08-25 16:26] #821 closed

[2022-09-09 19:38] jcohenadad opened #1192 "Decrease installation time by switching from conda to mamba"
### Motivation for the feature

If conda-specific installation is slow, mamba seems to be an interesting alternative. It works beautifully for our other project (shimming-toolbox): https://docs.google.com/document/d/1qaeuHBvqqtOog6qYrbsyAHi_dxbZHTbl2yUI3eaMmIE/edit

[2022-09-10 12:02] kanishk16 commented on #1192
We're currently using _pip_ to install ivadomed (+its dependencies) and haven't actually expanded to conda. Idk if it's another downside, but Compute Canada (ref: https://docs.alliancecan.ca/wiki/Anaconda/en) does not recommend installing conda though they suggest using Singularity in that case.

If and whenever we think of expanding our installation to conda, it might also be worth exploring mamb

[2022-09-11 20:27] #975 closed

[2022-10-05 17:43] hermancollin opened #1197 "ivadomed_automate_training: "daemonic processes are not allowed to have children""
## Issue description
`ivadomed_automate_training` script fails when I try to use it on bireli. For every worker spawned, I got this error:
[code]

### Current behavior

Here is the complete output. I tried a hyperparameter config that should expectedly run 4 training, but each of them failed for the same reasons.
<details>
<summary><b>Full output</b></summary>

[code]

</details>

### Steps to rep

[2022-10-06 15:00] kanishk16 commented on #1197
I couldn't reproduce the error with ivadomed(master branch), `wandb 0.13.4` and python=3.7. Perhaps, I'm doing it incorrectly. Nevertheless, could you try your config files in this [Colab Ntbk](https://colab.research.google.com/drive/1M5NQWhfofQIp84uQWTS65I0lS8hiYzQu?usp=sharing) where I tried reproducing the error?

[2022-10-06 15:18] kanishk16 commented on #1197
The closest issue related to the above error (https://github.com/wandb/wandb/issues/1525), but it seems to have been fixed long ago.

[2022-10-06 18:33] hermancollin commented on #1197
@kanishk16 thanks for looking into it. The notebook does work on my side. Would it be possible for you to try to reproduce this on `bireli`? I'm guessing you have access to the lab's infrastructure.

Good catch, I'll try this.

[2022-10-07 12:24] kanishk16 commented on #1197
I'm afraid not, but it may be worth explicitly specifying the `"wandb_api_key"` after creating a new one from your wandb dashboard since it appears that it's currently defaulting to the one saved in your cache.

[2022-10-07 17:16] hermancollin commented on #1197
@kanishk16 specifying the `wandb_api_key` field did not help. However, it seems I just found a solution for this problem. Reading [this part](https://docs.wandb.ai/guides/track/advanced/distributed-training#use-w-and-b-service-to-avoid-common-distributed-training-issues) of the wandb doc, they suggest to activate W&B Service. In earlier versions, the `WANDB_START_METHOD` hack you suggested would a

[2022-10-07 17:16] #1197 closed

[2022-10-17 09:06] kanishk16 opened #1199 "Documentation for the workflow of building & running singularity containers"
### Motivation for the feature

In the past, several issues (#919, #1057) have been raised as a result of failed attempts to run ivadomed on Compute Canada, primarily due to version conflicts between packages. Although loosening the requirements for `onnxruntime` in #1137 must resolve the issues, to avoid the same situation in the future, a much more robust and recommended solution is to use singu

[2022-10-17 09:36] kanishk16 commented on #1199
The following is the definition file for building a singularity container with `ivadomed installed from source` on `ubuntu 22.04` with `cuda 11.7` and `python 3.10` -
[code]
***
To build a SIF container:

a. run the following command on a machine with singularity installed, internet access & root privileges -
`sudo singularity build <name_of_the_container>.sif <name_of_the_definition_file>.def `

[2022-10-17 12:07] kanishk16 commented on #1199
The bash script given below demonstrates a sample workflow of training a model with ivadomed. It requests for a single GPU and two CPUs with 4Gb RAM each for 10 mins on Compute Canada. The bash script assumes a directory named `test_on_cc` with a `config file` (config_microscopy.json), `a dataset directory` (data_axondeepseg_sem), `singularity container` (ivadomed_pytorch-1.11.0-cuda11.3-python3.1

[2022-10-20 00:50] jcohenadad opened #1202 "Update our definition of labels to comply with BIDS"
Our ways of defining labels: https://github.com/ivadomed/ivadomed/wiki/repositories#derivatives

Does not comply with BIDS: https://bids-specification.readthedocs.io/en/latest/05-derivatives/03-imaging.html#discrete-segmentations

[2022-10-24 00:52] dyt811 commented on #1202
I see the whole `derivatives` are not longer in use and now moved to file base level `label` entities, it seems, this is a good timing for incorporating BIDS Loader module update to reflect such changes as well in Loader v2. Will add this to the upcoming agenda.

[2022-10-24 13:57] mariehbourget commented on #1202
@dyt811, IIUC the "derivatives" folder is still there but not shown in the templates. Typically in BIDS the folder "pipeline_name" is under the "derivatives" folder as shown [here](https://bids-specification.readthedocs.io/en/latest/02-common-principles.html#source-vs-raw-vs-derived-data).

I'll try to take a look at the differences/similarities between the BIDS derivatives  spec and our ivadomed

[2022-10-24 18:49] mariehbourget commented on #1202
Here is the link to the slides from the meeting:
https://docs.google.com/presentation/d/1hMZfYwqIXa7sVX_X-gU1icr45cKuCyagQRXY9nfGVuU/edit#slide=id.g14cbbc890a6_0_0

I will add shortly some before/after filename examples in the slides so it's easier to follow.

[2022-10-24 19:29] mariehbourget commented on #1202
As discussed, the specifications that works best for most of our current type of labels is **"mask"**.
The template is:
`<source_entities>[_space-<space>][_res-<label>][_den-<label>][_label-<label>][_desc-<label>]_mask.nii.gz`

where:
- `<source_entities>` is the name of the corresponding image **without the modality suffix and extension** (ex: without `T1w.nii.gz`).
- The suffix is always `_mask`

[2022-10-27 18:33] mariehbourget commented on #860
I'm starting to work on this issue again to better understand the file indexing of "derivatives folder" and of "stand-alone derived datasets" by pybids.
I will document my findings here as I go but it may be a bit difficult to follow/see the big picture, so I will make a recapitulative comment when my investigations are finished.

[2022-10-27 19:08] mariehbourget commented on #860
#### Clarify the indexation of "derived dataset" with `desc-` entity

Previous investigations (https://github.com/ivadomed/ivadomed/issues/860#issuecomment-880229411, https://github.com/ivadomed/ivadomed/issues/860#issuecomment-885987369) have shown that pybids was not indexing files with the `desc-` entity and/or adding its column/value to the dataframe, even when the `DatasetType` was set to `de

[2022-11-08 01:11] valosekj opened #1206 "training/validation/test split"
Hello!
I am sorry but based on the [configuration file description](https://ivadomed.org/configuration_file.html#), it is not clear to me how exactly a dataset is split into train-validation-test sub-datasets. There are flags [train_fraction](https://ivadomed.org/configuration_file.html#train-fraction) with a default value `0.6` and [test_fraction](https://ivadomed.org/configuration_file.html#test

[2022-11-09 14:43] mariehbourget commented on #1206
Hi @valosekj,

Yes, that's correct.
If that was not clear from the doc, I can open a PR to add a note regarding the validation fraction as well.

Note that the fractions are applied to the "split_method", so if you have
`"split_method": "participant_id"`
the train fraction of 0.6 will be 60% of the `participant_id` as explained [here](https://ivadomed.org/configuration_file.html#split-method).

Al

[2022-11-09 15:28] valosekj commented on #1206
Hi @mariehbourget!

Yes, It was not clear to me. Thus, an explicit note regarding the validation fraction would be great. Thank you!

Yes, I could see this line. But although I specified `"train_fraction": 0.6` and `"test_fraction": 0.2` in my .json config line, the fractions were a bit different:

[code]

[2022-11-09 15:33] mariehbourget commented on #1206
Ok, I'll let you know when the PR is ready for review.

That is normal because it depends on the number of `participant_id` available, so the final fractions will be as close as possible to the one you specify in the config file depending of your data.

[2022-11-09 15:47] valosekj commented on #1206
Great, thank you!

[2022-11-09 17:13] mariehbourget commented on #860
### Can we have a derivatives folder in a derived dataset?

**1. With the ivadomed naming convention for derivatives** (ex: `_seg-manual`) --> YES, the indexing and pairing of files is working as usual.

For example with:
    * filename at the sub-level of the derived dataset: `sub-XX_desc-YY_T2w.nii.gz`
    * filename at the derivatives level: `sub-XX_desc-YY_T2w_seg-manual.nii.gz`

**2. With the